<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncNearMode</key>
	<string>stateFromFunction</string>
	<key>commonTweenPressure</key>
	<string>alphaFacadeDepth</string>
	<key>mainSinkKind</key>
	<string>resizablePreviewType</string>
	<key>robustConstraintIndex</key>
	<string>permissiveLayoutPosition</string>
	<key>synchronousControllerFormat</key>
	<string>intuitiveBlocSpacing</string>
	<key>viewUntilComposite</key>
	<string>elasticSignatureBottom</string>
</dict>
</plist>
