<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedInjectionIndex</key>
	<string>documentAtContext</string>
	<key>contractionPerChain</key>
	<string>uniformStreamMomentum</string>
	<key>movementSingletonSize</key>
	<string>reusableProviderRight</string>
	<key>resourceObserverContrast</key>
	<string>streamNearSingleton</string>
	<key>timerScopeTint</key>
	<string>iconAwayType</string>
</dict>
</plist>
