<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationSinceAction</key>
	<string>sliderAsTemple</string>
	<key>eventByTemple</key>
	<string>tensorSkirtRight</string>
	<key>presenterAwayAction</key>
	<string>profileModeTail</string>
	<key>repositoryVersusScope</key>
	<string>queueViaValue</string>
	<key>storeAdapterPosition</key>
	<string>containerPerProxy</string>
	<key>usecaseAgainstLayer</key>
	<string>techniqueFormPressure</string>
</dict>
</plist>
