<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedStreamHue</key>
	<string>usecaseStructureVisibility</string>
	<key>graphFacadeTail</key>
	<string>navigationTempleEdge</string>
	<key>gridviewStyleTension</key>
	<string>alignmentStructureMargin</string>
	<key>nibLayerHead</key>
	<string>singletonShapeSpeed</string>
	<key>priorPriorityOffset</key>
	<string>originalProjectionVelocity</string>
	<key>stampThroughVar</key>
	<string>particleAmongNumber</string>
	<key>tabviewContainStrategy</key>
	<string>scaleAtScope</string>
</dict>
</plist>
