<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartFrameworkForce</key>
	<string>positionObserverBehavior</string>
	<key>featureThroughProxy</key>
	<string>serviceVersusVariable</string>
	<key>groupAndStage</key>
	<string>activatedProviderScale</string>
	<key>iconThanCycle</key>
	<string>richtextFromLayer</string>
	<key>nativeUnaryOpacity</key>
	<string>momentumAlongComposite</string>
	<key>uniqueModelHead</key>
	<string>certificateForOperation</string>
</dict>
</plist>
