<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitStagePosition</key>
	<string>notifierFlyweightHue</string>
	<key>draggableMomentumDelay</key>
	<string>momentumOutsideOperation</string>
	<key>dynamicAccessoryName</key>
	<string>builderStateState</string>
	<key>gridStageSpacing</key>
	<string>permissiveAsyncMargin</string>
	<key>isolateFrameworkRight</key>
	<string>descriptionAwayShape</string>
	<key>resourceFunctionResponse</key>
	<string>semanticRouterDelay</string>
	<key>sceneAtFunction</key>
	<string>draggableBufferContrast</string>
</dict>
</plist>
