<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisStateMargin</key>
	<string>hashLayerFeedback</string>
	<key>binaryPrototypeCount</key>
	<string>stepAsState</string>
	<key>drawerBeyondTier</key>
	<string>timerByProxy</string>
	<key>featureUntilPlatform</key>
	<string>exceptionAgainstStrategy</string>
	<key>hardDelegateEdge</key>
	<string>usecaseInsideSingleton</string>
	<key>pageviewJobPressure</key>
	<string>sliderNumberShape</string>
	<key>resolverScopeType</key>
	<string>tickerBesideParam</string>
	<key>transitionLikeNumber</key>
	<string>matrixActivityPosition</string>
</dict>
</plist>
