<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveModelFeedback</key>
	<string>richtextOutsideContext</string>
	<key>difficultFeatureDepth</key>
	<string>indicatorPhaseKind</string>
	<key>documentStateRotation</key>
	<string>advancedSegmentBound</string>
	<key>stampByStage</key>
	<string>intermediateSubscriptionCoord</string>
	<key>textureByTemple</key>
	<string>specifyEventRotation</string>
	<key>textureVersusBridge</key>
	<string>masterAtComposite</string>
	<key>titleJobName</key>
	<string>sizedboxWithoutObserver</string>
</dict>
</plist>
