<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousNibOpacity</key>
	<string>richtextAlongMode</string>
	<key>canvasFunctionCenter</key>
	<string>independentRadiusInset</string>
	<key>liteContractionTension</key>
	<string>viewFacadeState</string>
	<key>memberSystemMomentum</key>
	<string>subtleGrayscaleResponse</string>
	<key>positionAroundStrategy</key>
	<string>scaffoldStyleLocation</string>
	<key>sessionFunctionBrightness</key>
	<string>equalizationLikeActivity</string>
	<key>smartUsecasePressure</key>
	<string>modelVariableMargin</string>
</dict>
</plist>
