<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardContainerIndex</key>
	<string>descriptionFunctionInterval</string>
	<key>dependencyAmongPlatform</key>
	<string>skinExceptProcess</string>
	<key>diversifiedCompleterSkewy</key>
	<string>symmetricTaskTop</string>
	<key>painterSystemInteraction</key>
	<string>relationalDecorationDirection</string>
	<key>protectedGraphVisibility</key>
	<string>priorFutureOffset</string>
	<key>unactivatedCapacitiesEdge</key>
	<string>requestSystemBottom</string>
</dict>
</plist>
