<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedCoordinatorVisibility</key>
	<string>offsetVisitorOpacity</string>
	<key>animatedCollectionContrast</key>
	<string>presenterFacadeRate</string>
	<key>largeDialogsContrast</key>
	<string>techniqueNumberSkewx</string>
	<key>positionedContainTemple</key>
	<string>hyperbolicModulusBorder</string>
	<key>rowAroundBridge</key>
	<string>curveAlongCommand</string>
	<key>variantBeyondSystem</key>
	<string>gestureStyleState</string>
</dict>
</plist>
