<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sizeObserverMode</key>
	<string>plateUntilAction</string>
	<key>sliderTaskTheme</key>
	<string>presenterModeSkewy</string>
	<key>tabviewOutsideMethod</key>
	<string>routeStateFlags</string>
	<key>touchPerPlatform</key>
	<string>sinkForMode</string>
</dict>
</plist>
