<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisChainTheme</key>
	<string>integerAmongFacade</string>
	<key>kernelLikeMode</key>
	<string>discardedCommandBound</string>
	<key>painterJobTail</key>
	<string>desktopExponentCount</string>
	<key>particleContextName</key>
	<string>functionalLoopInset</string>
	<key>storagePatternShade</key>
	<string>liteHandlerAcceleration</string>
	<key>toolOutsideValue</key>
	<string>geometricBaseOpacity</string>
</dict>
</plist>
