<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionKindFeedback</key>
	<string>commandAtBridge</string>
	<key>containerByFacade</key>
	<string>customCustompaintCount</string>
	<key>dialogsPrototypeBound</key>
	<string>notificationJobShape</string>
	<key>effectStructureAcceleration</key>
	<string>interfaceThroughChain</string>
	<key>gridviewStyleSaturation</key>
	<string>chapterOrMethod</string>
	<key>layoutStageVisible</key>
	<string>consultativePlaybackFrequency</string>
	<key>lostCheckboxLeft</key>
	<string>denseGridviewSpacing</string>
	<key>routeSingletonIndex</key>
	<string>displayableContainerPressure</string>
	<key>topicTierHead</key>
	<string>transitionAboutActivity</string>
</dict>
</plist>
