<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelPerMethod</key>
	<string>displayablePlateResponse</string>
	<key>concurrentHistogramInteraction</key>
	<string>heapFacadeSize</string>
	<key>giftWorkTransparency</key>
	<string>spriteAmongBridge</string>
	<key>missedCaptionName</key>
	<string>multiplicationThanKind</string>
	<key>movementPatternTag</key>
	<string>masterAmongValue</string>
	<key>opaqueConsumerBrightness</key>
	<string>ephemeralScrollCount</string>
	<key>sceneKindSkewx</key>
	<string>activeAlignmentState</string>
	<key>unaryFacadeStatus</key>
	<string>alignmentBufferOrientation</string>
</dict>
</plist>
