<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectFlyweightInterval</key>
	<string>mediaFlyweightTint</string>
	<key>batchBridgeValidation</key>
	<string>dependencyOperationTail</string>
	<key>explicitSignTag</key>
	<string>awaitFunctionTag</string>
	<key>resolverContainTemple</key>
	<string>singleModulusScale</string>
	<key>resolverWithPattern</key>
	<string>utilAlongCycle</string>
</dict>
</plist>
