<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicTextHue</key>
	<string>asynchronousHeroBrightness</string>
	<key>constraintMethodMargin</key>
	<string>clipperAboutJob</string>
	<key>dialogsEnvironmentDepth</key>
	<string>equipmentBufferTint</string>
	<key>durationOfPlatform</key>
	<string>gemThanBuffer</string>
	<key>injectionLevelHue</key>
	<string>cubeTypeBorder</string>
	<key>materialSegueOpacity</key>
	<string>chartAboutForm</string>
	<key>reducerViaKind</key>
	<string>assetScopeSpacing</string>
	<key>reusableEffectInset</key>
	<string>callbackAlongWork</string>
	<key>taskFlyweightDelay</key>
	<string>layoutPlatformInset</string>
</dict>
</plist>
