<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderOfEnvironment</key>
	<string>radioActionOrientation</string>
	<key>directDimensionCount</key>
	<string>reusableUnaryAppearance</string>
	<key>enabledAsyncDirection</key>
	<string>subscriptionCompositeMode</string>
	<key>immediatePainterBottom</key>
	<string>sortedChecklistTension</string>
	<key>precisionSinceCommand</key>
	<string>subsequentSkirtSize</string>
	<key>unactivatedChartMargin</key>
	<string>relationalStackDepth</string>
</dict>
</plist>
