<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionOutsideAction</key>
	<string>descriptionStageDelay</string>
	<key>agileProjectionForce</key>
	<string>controllerTaskDensity</string>
	<key>currentPlateTag</key>
	<string>transformerDespiteLevel</string>
	<key>effectWithVariable</key>
	<string>taskDespiteEnvironment</string>
	<key>featureExceptKind</key>
	<string>viewAtValue</string>
	<key>flexMethodInset</key>
	<string>reducerVarScale</string>
	<key>queueDuringParam</key>
	<string>threadFormTint</string>
	<key>screenAsActivity</key>
	<string>imperativeHeapShape</string>
	<key>techniqueDuringVar</key>
	<string>channelWithoutParameter</string>
	<key>textParameterAcceleration</key>
	<string>tickerOrFlyweight</string>
</dict>
</plist>
