<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorViaVar</key>
	<string>lastEntropySkewy</string>
	<key>semanticGraphicMargin</key>
	<string>controllerDuringMode</string>
	<key>signAmongFlyweight</key>
	<string>canvasFromValue</string>
	<key>touchFormHue</key>
	<string>skinLayerDensity</string>
</dict>
</plist>
