<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitCommandAppearance</key>
	<string>mutableServiceColor</string>
	<key>granularZoneTension</key>
	<string>resultFrameworkCoord</string>
	<key>metadataViaLevel</key>
	<string>localizationAdapterHue</string>
	<key>pivotalArithmeticBorder</key>
	<string>callbackAsJob</string>
	<key>positionAsForm</key>
	<string>isolateSingletonName</string>
	<key>providerPerComposite</key>
	<string>reducerContainCommand</string>
	<key>switchForTask</key>
	<string>anchorAndMethod</string>
</dict>
</plist>
