<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dialogsAdapterDistance</key>
	<string>sortedLabelTail</string>
	<key>draggableRouterAcceleration</key>
	<string>beginnerClipperOrientation</string>
	<key>fusedEquipmentBorder</key>
	<string>globalRequestKind</string>
	<key>momentumAdapterValidation</key>
	<string>sliderAwayLayer</string>
	<key>opaqueRepositoryDistance</key>
	<string>clipperAgainstParameter</string>
	<key>pageviewInValue</key>
	<string>specifierIncludeVariable</string>
	<key>progressbarMediatorEdge</key>
	<string>descriptorDecoratorTheme</string>
	<key>robustMatrixSize</key>
	<string>contractionNearEnvironment</string>
	<key>streamAmongProcess</key>
	<string>builderStageScale</string>
	<key>techniqueSingletonFlags</key>
	<string>unactivatedParticleShape</string>
</dict>
</plist>
