<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerShapeHue</key>
	<string>constraintByFacade</string>
	<key>descriptionVersusVar</key>
	<string>labelTypeSkewy</string>
	<key>euclideanScreenLocation</key>
	<string>textBridgeContrast</string>
	<key>futureIncludeSingleton</key>
	<string>equipmentInFramework</string>
	<key>imageValueTransparency</key>
	<string>disparateAppbarSize</string>
	<key>missedSceneLocation</key>
	<string>navigatorAlongMediator</string>
	<key>subtleCheckboxOrigin</key>
	<string>viewDuringSingleton</string>
	<key>topicShapeDirection</key>
	<string>specifyFrameStyle</string>
	<key>uniqueParticleBound</key>
	<string>controllerStrategyName</string>
</dict>
</plist>
