<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorStateVisibility</key>
	<string>entityIncludePhase</string>
	<key>chartSystemVelocity</key>
	<string>stateLayerSkewx</string>
	<key>denseDelegateOffset</key>
	<string>imageFunctionSkewx</string>
	<key>metadataSystemAcceleration</key>
	<string>transformerForProxy</string>
	<key>stepForInterpreter</key>
	<string>diversifiedAspectratioMode</string>
	<key>usagePatternFeedback</key>
	<string>blocViaShape</string>
</dict>
</plist>
