<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveMetadataSkewx</key>
	<string>roleThroughCommand</string>
	<key>futureObserverSpacing</key>
	<string>sustainableGridviewInteraction</string>
	<key>modalPhaseOpacity</key>
	<string>coordinatorWithJob</string>
	<key>opaqueChartResponse</key>
	<string>buttonVersusAction</string>
	<key>pivotalRadioLeft</key>
	<string>semanticGemBrightness</string>
</dict>
</plist>
