<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>explicitBufferColor</key>
	<string>robustOffsetEdge</string>
	<key>mobxStageHead</key>
	<string>reactiveAxisIndex</string>
	<key>plateContextVisibility</key>
	<string>integerDecoratorDensity</string>
	<key>shaderContextEdge</key>
	<string>custompaintSystemBorder</string>
	<key>spotModeContrast</key>
	<string>displayableStateSpeed</string>
	<key>statelessMediatorTransparency</key>
	<string>subtleCommandColor</string>
	<key>symbolWithTemple</key>
	<string>largeTextureRate</string>
	<key>transitionForEnvironment</key>
	<string>sophisticatedGrainStyle</string>
</dict>
</plist>
