<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentEqualizationOrigin</key>
	<string>expandedThanChain</string>
	<key>instructionEnvironmentBorder</key>
	<string>tangentMementoForce</string>
	<key>mediaAlongVar</key>
	<string>callbackStructureTransparency</string>
	<key>reactiveSubpixelName</key>
	<string>cubitActionBorder</string>
	<key>resourcePerPlatform</key>
	<string>reducerNearStrategy</string>
	<key>resultTypeShape</key>
	<string>sinkOrAdapter</string>
	<key>segmentAtScope</key>
	<string>listenerScopeKind</string>
	<key>techniqueNearContext</key>
	<string>frameScopeFeedback</string>
</dict>
</plist>
