<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateValueLeft</key>
	<string>projectionFunctionSize</string>
	<key>flexOutsideLevel</key>
	<string>elasticLoopInteraction</string>
	<key>gridEnvironmentDensity</key>
	<string>futureFromSingleton</string>
	<key>intermediateFeatureOffset</key>
	<string>tableAndProcess</string>
	<key>metadataShapeSize</key>
	<string>grayscaleOutsideAdapter</string>
	<key>nodeSystemFeedback</key>
	<string>prevBehaviorFeedback</string>
	<key>resolverCycleName</key>
	<string>eventAdapterOrigin</string>
	<key>screenFrameworkRate</key>
	<string>actionAdapterMargin</string>
	<key>sizedboxTaskDistance</key>
	<string>anchorThanProxy</string>
</dict>
</plist>
