<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonByActivity</key>
	<string>bufferOperationType</string>
	<key>custompaintAroundJob</key>
	<string>requestIncludeProcess</string>
	<key>usedBulletCoord</key>
	<string>graphicFunctionPadding</string>
</dict>
</plist>
