<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperAdapterShape</key>
	<string>dynamicControllerLeft</string>
	<key>constraintSingletonTag</key>
	<string>rowFromType</string>
	<key>controllerNearPrototype</key>
	<string>activeActivityPressure</string>
	<key>crucialEffectLocation</key>
	<string>eventStrategyOrientation</string>
	<key>equalizationNumberFlags</key>
	<string>pivotalRowSize</string>
	<key>histogramSystemDelay</key>
	<string>storeLayerBrightness</string>
	<key>responseDecoratorOrigin</key>
	<string>diffableTweenTheme</string>
	<key>richtextVarState</key>
	<string>cupertinoSingletonDirection</string>
	<key>transformerPerProxy</key>
	<string>widgetMementoDirection</string>
</dict>
</plist>
