<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>statePatternCount</key>
	<string>statefulAnimationVisibility</string>
	<key>tablePhaseBehavior</key>
	<string>interpolationDuringPlatform</string>
</dict>
</plist>
