<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionRouterIndex</key>
	<string>ephemeralSpotTail</string>
	<key>adaptiveCanvasShade</key>
	<string>rapidUnaryTint</string>
	<key>animationAsFunction</key>
	<string>respectiveRowColor</string>
	<key>cacheAgainstStructure</key>
	<string>pivotalVectorDuration</string>
	<key>cubeBesideDecorator</key>
	<string>routeCycleLeft</string>
	<key>gridviewAndActivity</key>
	<string>handlerLikeAdapter</string>
	<key>monsterTempleAlignment</key>
	<string>opaqueOverlaySpacing</string>
	<key>previewActionState</key>
	<string>customizedListenerLocation</string>
	<key>significantFutureInteraction</key>
	<string>kernelOfPlatform</string>
</dict>
</plist>
