<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ephemeralAppbarInset</key>
	<string>euclideanRepositoryMomentum</string>
	<key>missedUsageTop</key>
	<string>vectorThanDecorator</string>
	<key>opaqueSkinName</key>
	<string>shaderSingletonSize</string>
	<key>resilientEffectSpeed</key>
	<string>asyncMethodAlignment</string>
	<key>visibleBulletType</key>
	<string>widgetVarDirection</string>
</dict>
</plist>
