<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionProtocolInterval</key>
	<string>flexibleAnimationPadding</string>
	<key>asyncDuringVisitor</key>
	<string>mobxAroundMemento</string>
	<key>concreteCharacterAppearance</key>
	<string>asyncThroughKind</string>
	<key>cosineAboutProxy</key>
	<string>modelOfScope</string>
	<key>greatNibLeft</key>
	<string>ternaryProxyDistance</string>
	<key>nativeBrushOpacity</key>
	<string>allocatorOutsideMode</string>
</dict>
</plist>
