<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentStyleDepth</key>
	<string>rectAgainstCommand</string>
	<key>borderOutsideVar</key>
	<string>cartesianLayerVisible</string>
	<key>checklistMethodOrientation</key>
	<string>variantPatternTint</string>
	<key>commandActivityType</key>
	<string>precisionParameterStyle</string>
	<key>dialogsVarContrast</key>
	<string>effectAwayLayer</string>
	<key>eventAndContext</key>
	<string>themeAboutMediator</string>
	<key>requiredObserverPressure</key>
	<string>usageAmongValue</string>
	<key>sophisticatedDimensionVisibility</key>
	<string>coordinatorPerCommand</string>
</dict>
</plist>
