<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardLabelPadding</key>
	<string>rectOfEnvironment</string>
	<key>currentUtilBehavior</key>
	<string>symmetricEntityHue</string>
	<key>eventWithAction</key>
	<string>rectTypeRight</string>
	<key>gestureStageBehavior</key>
	<string>storageOrVariable</string>
	<key>injectionAlongMemento</key>
	<string>substantialDelegateForce</string>
	<key>labelMethodHead</key>
	<string>completerStrategyScale</string>
	<key>remainderAwayTask</key>
	<string>usedRemainderAcceleration</string>
	<key>streamProcessInset</key>
	<string>backwardRoleDelay</string>
</dict>
</plist>
