<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectAroundType</key>
	<string>sinkThroughMediator</string>
	<key>injectionSystemHead</key>
	<string>reactiveResultFrequency</string>
	<key>mediaqueryDuringLevel</key>
	<string>logarithmContainMethod</string>
	<key>nextTransitionSpacing</key>
	<string>subsequentGraphicLocation</string>
	<key>permanentBitrateMargin</key>
	<string>activityThanVariable</string>
	<key>permissiveWidgetPressure</key>
	<string>protectedResourceSpacing</string>
	<key>responseObserverPosition</key>
	<string>transformerForShape</string>
	<key>sharedGraphHue</key>
	<string>unactivatedIconState</string>
</dict>
</plist>
