<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertInProxy</key>
	<string>labelWithVar</string>
	<key>asynchronousProtocolValidation</key>
	<string>delicateBehaviorTransparency</string>
	<key>layoutAgainstVar</key>
	<string>gridAboutMemento</string>
	<key>mainCaptionInteraction</key>
	<string>customAspectFlags</string>
	<key>metadataSinceValue</key>
	<string>delegateStageDuration</string>
	<key>pointActionSpacing</key>
	<string>marginActionResponse</string>
	<key>protectedScaffoldDistance</key>
	<string>containerAndParam</string>
	<key>touchFacadeStyle</key>
	<string>screenAlongAction</string>
</dict>
</plist>
