<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioWorkLocation</key>
	<string>subtleCharacterState</string>
	<key>durationInsideStyle</key>
	<string>tangentSincePattern</string>
	<key>liteResolverLocation</key>
	<string>layoutAgainstStrategy</string>
	<key>methodStyleScale</key>
	<string>characterForKind</string>
	<key>modelAmongMode</key>
	<string>assetFromEnvironment</string>
	<key>precisionBesideTier</key>
	<string>variantPatternBrightness</string>
	<key>serviceEnvironmentShade</key>
	<string>statePerMode</string>
	<key>shaderLevelState</key>
	<string>lastResourceLeft</string>
	<key>similarAllocatorSize</key>
	<string>extensionThroughAdapter</string>
	<key>taskOperationOpacity</key>
	<string>groupAmongParam</string>
</dict>
</plist>
