<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintAndComposite</key>
	<string>secondProviderVisible</string>
	<key>equipmentNumberRight</key>
	<string>tappableCompleterShape</string>
	<key>resolverSincePlatform</key>
	<string>multiGetxOffset</string>
	<key>subscriptionShapeTheme</key>
	<string>notificationStrategyDuration</string>
	<key>uniformAccessorySkewy</key>
	<string>awaitAwayPattern</string>
</dict>
</plist>
