<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferActivityDelay</key>
	<string>pageviewPerVar</string>
	<key>decorationVisitorName</key>
	<string>routerInPrototype</string>
	<key>logContainAdapter</key>
	<string>descriptorProcessBrightness</string>
	<key>skinAlongObserver</key>
	<string>drawerVariableBottom</string>
	<key>slashStagePressure</key>
	<string>errorAndPrototype</string>
	<key>storeTaskTheme</key>
	<string>sinkInBridge</string>
</dict>
</plist>
