<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowBufferLeft</key>
	<string>segmentAwayStyle</string>
	<key>delegateChainForce</key>
	<string>inactiveBlocInteraction</string>
	<key>difficultTextureVisible</key>
	<string>specifyPointTransparency</string>
	<key>notifierChainMomentum</key>
	<string>dialogsStructureStatus</string>
	<key>progressbarInterpreterHead</key>
	<string>characterStrategyDepth</string>
	<key>seamlessEquipmentMode</key>
	<string>opaqueAwaitInset</string>
	<key>smartCubitVelocity</key>
	<string>positionOutsideType</string>
	<key>specifyStateTag</key>
	<string>awaitSingletonTransparency</string>
</dict>
</plist>
