<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaAwayParameter</key>
	<string>tappableRepositoryName</string>
	<key>animatedToolInterval</key>
	<string>bitrateOrParam</string>
	<key>flexibleProviderMomentum</key>
	<string>capsuleShapeColor</string>
	<key>permissiveConvolutionIndex</key>
	<string>cupertinoOutsideObserver</string>
	<key>stampNearVisitor</key>
	<string>alertAwayJob</string>
	<key>widgetFacadeOrientation</key>
	<string>taskAwayStructure</string>
</dict>
</plist>
