<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concreteSignAcceleration</key>
	<string>unsortedTextfieldTint</string>
	<key>disparateInterpolationLocation</key>
	<string>repositoryIncludeValue</string>
	<key>graphicStatePadding</key>
	<string>completerOfPrototype</string>
	<key>semanticsThroughContext</key>
	<string>secondIndicatorTop</string>
	<key>sensorLevelTint</key>
	<string>textureAtAction</string>
	<key>smartTitleHead</key>
	<string>themePhaseBottom</string>
	<key>unsortedControllerRate</key>
	<string>smartUsageMargin</string>
	<key>zoneFlyweightType</key>
	<string>utilCommandStyle</string>
</dict>
</plist>
