<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorByType</key>
	<string>entityProxyTag</string>
	<key>blocAwayProxy</key>
	<string>resultTempleVelocity</string>
	<key>cubitBesideLayer</key>
	<string>blocViaMemento</string>
	<key>offsetAroundKind</key>
	<string>usedEqualizationHue</string>
	<key>publicStateDepth</key>
	<string>modalThroughObserver</string>
</dict>
</plist>
