<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowAwayOperation</key>
	<string>unsortedEventLeft</string>
	<key>constStoreOffset</key>
	<string>alphaSingletonBrightness</string>
	<key>customSwiftShape</key>
	<string>easyLayoutMode</string>
	<key>ignoredMobxFormat</key>
	<string>chartTierInterval</string>
	<key>offsetOutsideStructure</key>
	<string>baseVisitorEdge</string>
	<key>optionLevelCenter</key>
	<string>chartFromShape</string>
	<key>pivotalButtonSize</key>
	<string>directUsecaseKind</string>
	<key>providerActionStyle</key>
	<string>asyncInterpolationHead</string>
	<key>resolverChainCoord</key>
	<string>callbackTypeDuration</string>
</dict>
</plist>
