<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentFunctionDistance</key>
	<string>curveAtProxy</string>
	<key>blocFunctionShade</key>
	<string>spriteDuringActivity</string>
	<key>gateIncludeComposite</key>
	<string>typicalOffsetTheme</string>
	<key>permanentObserverTag</key>
	<string>routeAdapterSaturation</string>
</dict>
</plist>
