<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerExceptPlatform</key>
	<string>diffableTitleColor</string>
	<key>arithmeticChainTransparency</key>
	<string>responsiveGateName</string>
	<key>consumerAgainstStage</key>
	<string>storeForActivity</string>
	<key>cursorModeBehavior</key>
	<string>cardProxyVelocity</string>
	<key>localStreamInterval</key>
	<string>alphaTypeAcceleration</string>
	<key>loopAmongStructure</key>
	<string>retainedParticleLeft</string>
	<key>singleTechniqueState</key>
	<string>typicalRectBehavior</string>
	<key>substantialArithmeticRight</key>
	<string>futureBufferHead</string>
</dict>
</plist>
