<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamicButtonLocation</key>
	<string>liteAnimationDepth</string>
	<key>inheritedQueryTheme</key>
	<string>parallelAxisVisibility</string>
	<key>isolateShapeIndex</key>
	<string>primaryTextureSpacing</string>
	<key>missionStrategyOffset</key>
	<string>boxFunctionSpeed</string>
	<key>monsterStrategyEdge</key>
	<string>spriteShapeShade</string>
	<key>signVisitorRate</key>
	<string>semanticTaskTransparency</string>
	<key>synchronousUsageAcceleration</key>
	<string>significantRouteTransparency</string>
	<key>transitionInsideTemple</key>
	<string>operationSingletonVisible</string>
</dict>
</plist>
