<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateBufferPadding</key>
	<string>factoryAsFunction</string>
	<key>enabledDecorationTheme</key>
	<string>musicAboutContext</string>
	<key>inkwellInsideKind</key>
	<string>alertAmongAction</string>
	<key>opaqueChartFormat</key>
	<string>lastGraphicTheme</string>
	<key>pivotalInteractorCoord</key>
	<string>textureInChain</string>
	<key>requestFrameworkAlignment</key>
	<string>awaitBufferOrientation</string>
</dict>
</plist>
