<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonUsecasePosition</key>
	<string>certificateSinceKind</string>
	<key>constraintLikeStructure</key>
	<string>borderInStage</string>
	<key>gramAmongStrategy</key>
	<string>staticSpecifierHue</string>
	<key>navigatorCommandOrigin</key>
	<string>tweenProcessTint</string>
	<key>nodeAroundProxy</key>
	<string>actionThanComposite</string>
	<key>similarLocalizationMomentum</key>
	<string>buttonActionRotation</string>
	<key>specifierVarTransparency</key>
	<string>interpolationSystemAppearance</string>
</dict>
</plist>
