<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>injectionByFramework</key>
	<string>coordinatorAboutProcess</string>
	<key>interfaceAsCycle</key>
	<string>shaderCompositeContrast</string>
	<key>iterativeSliderTag</key>
	<string>navigatorPerProxy</string>
	<key>materialSingletonTail</key>
	<string>adaptiveDurationInterval</string>
	<key>responseInMediator</key>
	<string>subtleRadiusColor</string>
	<key>segueCompositeDepth</key>
	<string>invisibleBatchTension</string>
	<key>switchDuringStage</key>
	<string>cupertinoQueuePressure</string>
</dict>
</plist>
