<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncForState</key>
	<string>asyncSceneFormat</string>
	<key>equipmentIncludePrototype</key>
	<string>protocolAdapterBrightness</string>
	<key>isolateFromTask</key>
	<string>lostTextfieldCoord</string>
	<key>mapKindHue</key>
	<string>durationAgainstLevel</string>
	<key>positionedLikeParam</key>
	<string>popupBesidePhase</string>
	<key>responsiveWorkflowName</key>
	<string>overlayBesideVisitor</string>
	<key>routeSingletonSkewx</key>
	<string>lastEventOrigin</string>
	<key>toolNearMediator</key>
	<string>futureUntilInterpreter</string>
</dict>
</plist>
