<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedPreviewLeft</key>
	<string>managerBufferScale</string>
	<key>equalizationMethodRate</key>
	<string>modelTypeLocation</string>
	<key>eventVisitorTail</key>
	<string>capsuleLayerPressure</string>
	<key>histogramPlatformCenter</key>
	<string>presenterCycleStatus</string>
	<key>labelBesideStyle</key>
	<string>widgetActionCount</string>
	<key>lazyListenerAlignment</key>
	<string>positionVarRate</string>
	<key>loopStrategyTag</key>
	<string>requiredScaffoldColor</string>
	<key>pivotalCallbackRotation</key>
	<string>activeGraphLeft</string>
	<key>requiredAnchorDistance</key>
	<string>streamStateStyle</string>
	<key>tickerAdapterVisible</key>
	<string>variantDuringMediator</string>
</dict>
</plist>
