<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticControllerHead</key>
	<string>numericalCompleterHue</string>
	<key>canvasThroughLayer</key>
	<string>completerAroundKind</string>
	<key>concurrentPlateHead</key>
	<string>tabbarIncludeMemento</string>
	<key>deferredResponseHue</key>
	<string>unsortedOperationCenter</string>
	<key>finalParticleMode</key>
	<string>radiusStructureCoord</string>
	<key>immutableBaselineRotation</key>
	<string>titleAwayScope</string>
	<key>logVariablePressure</key>
	<string>layoutShapePressure</string>
	<key>providerViaMediator</key>
	<string>sophisticatedGesturedetectorDistance</string>
	<key>symmetricStoreDelay</key>
	<string>sizedboxModeResponse</string>
	<key>variantFromVariable</key>
	<string>expandedIncludeActivity</string>
</dict>
</plist>
