<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAndInterpreter</key>
	<string>crucialNavigatorFlags</string>
	<key>gridSinceScope</key>
	<string>containerIncludeVar</string>
	<key>substantialSampleOrigin</key>
	<string>rowDuringValue</string>
</dict>
</plist>
