<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileCapacitiesEdge</key>
	<string>lostTransitionBottom</string>
	<key>arithmeticDecorationKind</key>
	<string>responsiveZoneAppearance</string>
	<key>coordinatorTypeResponse</key>
	<string>injectionIncludeContext</string>
	<key>lossDespiteProxy</key>
	<string>euclideanInkwellCenter</string>
	<key>permanentMultiplicationSkewx</key>
	<string>borderByFunction</string>
	<key>taskTypeBehavior</key>
	<string>injectionThanTemple</string>
</dict>
</plist>
