<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionUnaryInset</key>
	<string>sortedDecorationMode</string>
	<key>dynamicServiceBorder</key>
	<string>queryEnvironmentFormat</string>
	<key>getxFunctionSize</key>
	<string>utilOrAction</string>
	<key>observerInMode</key>
	<string>multiplicationCompositeContrast</string>
	<key>presenterInContext</key>
	<string>aspectPatternDistance</string>
	<key>resilientDescriptionLocation</key>
	<string>profileAwayVar</string>
	<key>semanticLossForce</key>
	<string>alignmentForProcess</string>
	<key>widgetScopeColor</key>
	<string>navigatorInsideFunction</string>
</dict>
</plist>
