<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystOrActivity</key>
	<string>animationWorkTransparency</string>
	<key>chartStructureCoord</key>
	<string>switchFromAction</string>
	<key>concurrentRadiusOrientation</key>
	<string>queryViaShape</string>
	<key>normalBitrateLeft</key>
	<string>titleOutsidePhase</string>
	<key>relationalInjectionDelay</key>
	<string>collectionIncludeComposite</string>
	<key>resolverTypeSkewx</key>
	<string>alertBufferTransparency</string>
	<key>sequentialTaskShape</key>
	<string>managerBeyondType</string>
	<key>timerNumberResponse</key>
	<string>frameAdapterShade</string>
</dict>
</plist>
