<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisAtChain</key>
	<string>seamlessHandlerSaturation</string>
	<key>builderFromCycle</key>
	<string>routeNearState</string>
	<key>dedicatedCellAcceleration</key>
	<string>entityThroughMediator</string>
	<key>deferredSemanticsTop</key>
	<string>discardedAnimationSpacing</string>
	<key>dynamicLocalizationPosition</key>
	<string>effectPatternForce</string>
	<key>heroAroundBuffer</key>
	<string>zoneSingletonPadding</string>
	<key>interpolationSystemSaturation</key>
	<string>sortedDecorationInset</string>
</dict>
</plist>
