<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaSystemAcceleration</key>
	<string>retainedTabbarVelocity</string>
	<key>animationMementoPressure</key>
	<string>swiftIncludeForm</string>
	<key>chartObserverTag</key>
	<string>descriptorBeyondFunction</string>
	<key>futureWorkAlignment</key>
	<string>listenerBridgeDuration</string>
	<key>gridviewTierAlignment</key>
	<string>topicVersusState</string>
	<key>queryThanBuffer</key>
	<string>isolateAmongProxy</string>
	<key>reactiveDropdownbuttonRotation</key>
	<string>mutableCellPressure</string>
	<key>singleTimerKind</key>
	<string>resizableLogShade</string>
	<key>stampUntilOperation</key>
	<string>batchWithoutPattern</string>
</dict>
</plist>
