<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistTierForce</key>
	<string>spotIncludeCommand</string>
	<key>injectionModeTension</key>
	<string>entropyDuringShape</string>
	<key>popupDuringSystem</key>
	<string>offsetPatternTransparency</string>
	<key>sineAtForm</key>
	<string>routeOrValue</string>
</dict>
</plist>
