<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>navigatorDuringStructure</key>
	<string>cubeKindStyle</string>
	<key>precisionLikeObserver</key>
	<string>webHashKind</string>
	<key>responseDespiteCommand</key>
	<string>presenterOutsideSingleton</string>
	<key>screenLayerTransparency</key>
	<string>timerLikeContext</string>
	<key>stepAlongStyle</key>
	<string>responseVersusNumber</string>
	<key>titleSinceKind</key>
	<string>positionedModeBottom</string>
	<key>zoneUntilBuffer</key>
	<string>deferredImageOrigin</string>
</dict>
</plist>
