<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperObserverEdge</key>
	<string>stackVisitorRotation</string>
	<key>crucialRadiusFlags</key>
	<string>marginAndSystem</string>
	<key>curveFromComposite</key>
	<string>skirtParamTop</string>
	<key>imperativeCubeColor</key>
	<string>drawerParameterTag</string>
	<key>independentSwitchOrigin</key>
	<string>titleOfEnvironment</string>
	<key>marginProcessFeedback</key>
	<string>listviewAtComposite</string>
	<key>mutableEquipmentMargin</key>
	<string>directDurationFormat</string>
	<key>oldCoordinatorScale</key>
	<string>flexibleContainerTint</string>
</dict>
</plist>
