<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisOfParameter</key>
	<string>masterValueRate</string>
	<key>channelModeBound</key>
	<string>imageWithoutTask</string>
	<key>declarativeConfigurationPadding</key>
	<string>nodeBeyondStrategy</string>
	<key>dynamicPointVelocity</key>
	<string>stepAdapterBound</string>
	<key>effectNearChain</key>
	<string>stackTempleInterval</string>
	<key>normalOptionKind</key>
	<string>consultativeBlocMode</string>
	<key>promiseNumberKind</key>
	<string>resultByFlyweight</string>
	<key>resolverVarAlignment</key>
	<string>graphicExceptTask</string>
	<key>semanticFactoryAppearance</key>
	<string>plateMediatorVisible</string>
	<key>uniqueControllerLocation</key>
	<string>drawerPhaseOrigin</string>
</dict>
</plist>
