<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentMediatorCenter</key>
	<string>imageBridgeCenter</string>
	<key>injectionViaLevel</key>
	<string>descriptionFacadeForce</string>
	<key>navigatorLayerDirection</key>
	<string>requestWithoutProxy</string>
	<key>providerShapeSkewx</key>
	<string>labelVarSaturation</string>
	<key>streamExceptFacade</key>
	<string>difficultRowTop</string>
	<key>subscriptionFunctionCoord</key>
	<string>interpolationParameterLeft</string>
</dict>
</plist>
