<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderFrameworkRight</key>
	<string>resizableCubeOrigin</string>
	<key>canvasBesideStage</key>
	<string>sliderPhaseContrast</string>
	<key>robustViewIndex</key>
	<string>bufferByState</string>
</dict>
</plist>
