<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasWithParam</key>
	<string>lostIntensitySkewy</string>
	<key>dimensionBufferDirection</key>
	<string>configurationPlatformTail</string>
	<key>semanticPointStatus</key>
	<string>futureAtProxy</string>
	<key>stateScopeDelay</key>
	<string>navigatorTierTag</string>
</dict>
</plist>
