<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorOrPattern</key>
	<string>callbackOfAction</string>
	<key>arithmeticScaleDelay</key>
	<string>sceneWorkTension</string>
	<key>equalizationAgainstMemento</key>
	<string>convolutionBesideDecorator</string>
	<key>rectStructureFormat</key>
	<string>sortedObserverShade</string>
	<key>ternaryAboutPlatform</key>
	<string>repositoryVariableFeedback</string>
</dict>
</plist>
