<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioFunctionRight</key>
	<string>sliderWorkColor</string>
	<key>containerAboutFunction</key>
	<string>entitySinceBuffer</string>
	<key>particleAndFlyweight</key>
	<string>widgetDespiteSystem</string>
	<key>providerLikeMediator</key>
	<string>crudeContainerCoord</string>
	<key>sinkDecoratorTag</key>
	<string>titleVersusPattern</string>
	<key>skinScopeScale</key>
	<string>cubitFlyweightSaturation</string>
</dict>
</plist>
