<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedViewMargin</key>
	<string>arithmeticAtTier</string>
	<key>asyncResultBorder</key>
	<string>sharedDelegateValidation</string>
	<key>controllerAmongParameter</key>
	<string>asynchronousColumnName</string>
	<key>injectionMediatorRotation</key>
	<string>progressbarAboutStrategy</string>
	<key>positionedFacadeSpacing</key>
	<string>commandUntilTier</string>
	<key>prevNodeCoord</key>
	<string>protectedConstraintInset</string>
	<key>retainedMemberValidation</key>
	<string>providerNearFramework</string>
	<key>serviceCompositeHead</key>
	<string>menuBySystem</string>
</dict>
</plist>
