<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationValueBottom</key>
	<string>certificateContainPrototype</string>
	<key>consultativeTernaryAppearance</key>
	<string>statelessBufferSize</string>
	<key>curveVariableKind</key>
	<string>awaitAlongShape</string>
	<key>finalSegueFeedback</key>
	<string>dynamicSinkEdge</string>
	<key>imperativeTimerKind</key>
	<string>iconAtNumber</string>
	<key>mediumCharacterOrientation</key>
	<string>lastIntensityInteraction</string>
	<key>prevGetxEdge</key>
	<string>grainStateRotation</string>
	<key>streamOperationTag</key>
	<string>streamExceptTask</string>
	<key>taskInState</key>
	<string>buttonInDecorator</string>
</dict>
</plist>
