<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderBeyondForm</key>
	<string>parallelViewOrientation</string>
	<key>delegateEnvironmentValidation</key>
	<string>navigatorMediatorHue</string>
	<key>euclideanContractionBottom</key>
	<string>handlerValueSize</string>
	<key>firstGradientCoord</key>
	<string>durationLayerOffset</string>
	<key>gemSinceFramework</key>
	<string>paddingPerAdapter</string>
	<key>imperativeTransitionPadding</key>
	<string>stateBesideOperation</string>
	<key>invisibleCompleterColor</key>
	<string>toolTempleTag</string>
	<key>painterPatternBorder</key>
	<string>primaryTransitionBottom</string>
	<key>statefulNearTemple</key>
	<string>rowParameterTag</string>
</dict>
</plist>
