<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterByFlyweight</key>
	<string>uniformInjectionVisible</string>
	<key>delegateAboutTask</key>
	<string>petVersusCycle</string>
	<key>eagerOffsetDistance</key>
	<string>missedLocalizationSpeed</string>
	<key>errorObserverEdge</key>
	<string>rectOperationRate</string>
	<key>graphicWithoutStyle</key>
	<string>permanentSubpixelMode</string>
	<key>hyperbolicDocumentRight</key>
	<string>visibleTweenVelocity</string>
	<key>inheritedTangentColor</key>
	<string>allocatorActivityKind</string>
	<key>navigatorContextDuration</key>
	<string>delicateQueueDirection</string>
	<key>progressbarAwayShape</key>
	<string>secondNavigationMargin</string>
</dict>
</plist>
