<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorFacadeRight</key>
	<string>progressbarOperationDuration</string>
	<key>cosineObserverSize</key>
	<string>unsortedProjectTheme</string>
	<key>currentTextVisibility</key>
	<string>globalAppbarDistance</string>
	<key>grainOfTier</key>
	<string>sinkPerFunction</string>
	<key>reducerMementoDuration</key>
	<string>handlerPrototypeTail</string>
	<key>symmetricActivityAppearance</key>
	<string>awaitPerParam</string>
</dict>
</plist>
