<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateFunctionLeft</key>
	<string>rowAwayProcess</string>
	<key>contractionFromMode</key>
	<string>layoutAroundVariable</string>
	<key>grayscaleDecoratorHead</key>
	<string>segueDespiteStrategy</string>
	<key>temporaryPainterColor</key>
	<string>sampleValueRight</string>
	<key>toolPerFacade</key>
	<string>delegateActionSkewx</string>
</dict>
</plist>
