<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchAtOperation</key>
	<string>sceneParamDelay</string>
	<key>consultativeDependencyBrightness</key>
	<string>stackTaskBehavior</string>
	<key>disabledMusicTint</key>
	<string>sophisticatedClipperLocation</string>
	<key>lossWithoutTier</key>
	<string>dynamicAccessoryPadding</string>
	<key>optimizerInterpreterTint</key>
	<string>sortedChapterSaturation</string>
	<key>resourceShapePosition</key>
	<string>coordinatorBufferTop</string>
	<key>sessionWithLayer</key>
	<string>agileLabelVisibility</string>
	<key>sineBridgeTint</key>
	<string>lostCoordinatorType</string>
	<key>usedRemainderRotation</key>
	<string>descriptionViaFunction</string>
	<key>viewAtTask</key>
	<string>descriptionContainType</string>
</dict>
</plist>
