<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedCaptionName</key>
	<string>layoutAroundFacade</string>
	<key>coordinatorValueDensity</key>
	<string>subpixelAlongFacade</string>
	<key>liteReductionHue</key>
	<string>completerLevelInteraction</string>
	<key>mediaqueryDespiteMethod</key>
	<string>protectedMethodInterval</string>
	<key>mediumColumnFlags</key>
	<string>cosineDuringProcess</string>
	<key>opaqueBaselineCoord</key>
	<string>rowAroundAdapter</string>
	<key>skinShapeDelay</key>
	<string>segmentVersusMemento</string>
	<key>statelessLoopBound</key>
	<string>segmentSingletonSize</string>
</dict>
</plist>
