<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationLayerDelay</key>
	<string>functionalListenerIndex</string>
	<key>criticalEventSkewy</key>
	<string>originalRowSkewx</string>
	<key>desktopButtonStatus</key>
	<string>serviceAtObserver</string>
	<key>disabledNormBrightness</key>
	<string>rectTypeOffset</string>
	<key>hashAmongFlyweight</key>
	<string>documentAtFlyweight</string>
	<key>optimizerBufferRate</key>
	<string>boxThanProcess</string>
	<key>promiseForObserver</key>
	<string>descriptorJobAcceleration</string>
	<key>statefulObserverAppearance</key>
	<string>dialogsOutsideBuffer</string>
	<key>sustainableBehaviorDirection</key>
	<string>newestNodeTheme</string>
	<key>unaryEnvironmentContrast</key>
	<string>groupPerShape</string>
</dict>
</plist>
