<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>managerAmongVariable</key>
	<string>sizeAroundChain</string>
	<key>nodeFunctionOrientation</key>
	<string>menuStrategyPadding</string>
	<key>specifyTransitionResponse</key>
	<string>delegateContextMargin</string>
	<key>taskIncludeBridge</key>
	<string>topicVariableRotation</string>
	<key>timerShapeInset</key>
	<string>animatedcontainerContainFacade</string>
</dict>
</plist>
