<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>labelThanTemple</key>
	<string>effectByState</string>
	<key>persistentMobilePosition</key>
	<string>logarithmTypeScale</string>
	<key>secondMobileTag</key>
	<string>interactiveScrollCount</string>
	<key>sharedAlignmentVelocity</key>
	<string>indicatorVersusScope</string>
</dict>
</plist>
