<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheStrategyStyle</key>
	<string>managerNearPattern</string>
	<key>finalGraphTail</key>
	<string>challengeByChain</string>
	<key>futureProcessSize</key>
	<string>specifyOffsetFeedback</string>
	<key>injectionCycleShape</key>
	<string>entityThroughScope</string>
	<key>memberLevelDepth</key>
	<string>sizedboxPrototypeDensity</string>
	<key>monsterVisitorBehavior</key>
	<string>backwardGiftSpacing</string>
	<key>positionFacadeTransparency</key>
	<string>methodTaskRate</string>
	<key>previewSinceChain</key>
	<string>effectObserverBehavior</string>
	<key>semanticTextFlags</key>
	<string>nodeTaskKind</string>
</dict>
</plist>
