<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawerValueSkewx</key>
	<string>sequentialAllocatorForce</string>
	<key>positionAlongType</key>
	<string>sustainableBinaryShape</string>
	<key>richtextVarValidation</key>
	<string>gestureMementoAlignment</string>
	<key>semanticPositionFlags</key>
	<string>standaloneNodeBrightness</string>
	<key>sinkJobPressure</key>
	<string>remainderCycleTheme</string>
	<key>tensorCursorSpeed</key>
	<string>positionAlongJob</string>
</dict>
</plist>
