<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperDuringForm</key>
	<string>gridStyleTransparency</string>
	<key>materialMatrixSpeed</key>
	<string>pointAdapterEdge</string>
	<key>modalVariableTint</key>
	<string>heroScopeCenter</string>
	<key>pageviewUntilFunction</key>
	<string>activeFactoryFormat</string>
	<key>positionedAsStrategy</key>
	<string>plateAtVar</string>
	<key>remainderIncludeState</key>
	<string>adaptiveContractionMargin</string>
	<key>requiredAnchorDepth</key>
	<string>offsetAlongForm</string>
</dict>
</plist>
