<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleCycleSaturation</key>
	<string>unactivatedAspectratioHead</string>
	<key>coordinatorStageTension</key>
	<string>secondFeatureTop</string>
	<key>gradientFormSize</key>
	<string>delegateCycleTint</string>
	<key>imageInsideStrategy</key>
	<string>relationalGraphicLeft</string>
	<key>monsterDuringParameter</key>
	<string>animatedModelLeft</string>
	<key>permissiveSpotBorder</key>
	<string>sineSystemMomentum</string>
	<key>singletonOfPrototype</key>
	<string>rectFacadeOrientation</string>
</dict>
</plist>
