<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureBeyondPhase</key>
	<string>curveWorkPosition</string>
	<key>completerAlongAdapter</key>
	<string>titleStrategyShape</string>
	<key>immediateGiftMode</key>
	<string>certificateWithStyle</string>
	<key>integerThroughMode</key>
	<string>statelessAroundScope</string>
	<key>notificationDecoratorRate</key>
	<string>autoAssetVisibility</string>
	<key>projectionLikeJob</key>
	<string>desktopContainerKind</string>
	<key>synchronousZoneMode</key>
	<string>textCompositeBehavior</string>
	<key>usedListviewForce</key>
	<string>durationProxyName</string>
</dict>
</plist>
