<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cursorAndComposite</key>
	<string>prevEntropyTension</string>
	<key>dependencyModeFeedback</key>
	<string>zoneLevelRight</string>
	<key>explicitIsolateState</key>
	<string>modelExceptSingleton</string>
	<key>interactiveBlocOrientation</key>
	<string>composableSampleFeedback</string>
	<key>queuePatternShade</key>
	<string>immediateSingletonCenter</string>
	<key>synchronousEqualizationLeft</key>
	<string>gestureBeyondVisitor</string>
	<key>toolFacadeInteraction</key>
	<string>granularProjectKind</string>
	<key>utilStageForce</key>
	<string>gridviewTypeTail</string>
</dict>
</plist>
