<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryVersusLevel</key>
	<string>hashPatternDirection</string>
	<key>autoContractionIndex</key>
	<string>menuWithoutContext</string>
	<key>chapterThroughTask</key>
	<string>protectedBlocVelocity</string>
	<key>fixedFutureOrientation</key>
	<string>skinPerVariable</string>
	<key>hashModeSkewx</key>
	<string>spriteAndTemple</string>
	<key>presenterParameterBehavior</key>
	<string>gridLayerForce</string>
	<key>spotMementoResponse</key>
	<string>spriteMethodSkewx</string>
</dict>
</plist>
