<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncMapLocation</key>
	<string>skirtFrameworkStatus</string>
	<key>backwardCapacitiesColor</key>
	<string>marginStageColor</string>
	<key>popupCommandStatus</key>
	<string>delegateAboutMethod</string>
</dict>
</plist>
