<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocNearJob</key>
	<string>respectivePositionType</string>
	<key>chartTierShape</key>
	<string>zoneProxyShade</string>
	<key>diffableTabviewScale</key>
	<string>tabviewStateBottom</string>
	<key>fixedLossInset</key>
	<string>prevUtilScale</string>
	<key>widgetThanActivity</key>
	<string>originalMenuDensity</string>
</dict>
</plist>
