<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>functionalContainerState</key>
	<string>interpolationOfOperation</string>
	<key>hyperbolicMobileMode</key>
	<string>ephemeralBorderState</string>
	<key>presenterProxyValidation</key>
	<string>gramAtFacade</string>
	<key>primaryFrameDistance</key>
	<string>behaviorExceptTask</string>
	<key>resolverJobHead</key>
	<string>interfaceDecoratorSkewx</string>
	<key>singletonBeyondForm</key>
	<string>lazyTweenDuration</string>
</dict>
</plist>
