<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticProviderHead</key>
	<string>viewStageTag</string>
	<key>geometricTopicBound</key>
	<string>specifyGrainHue</string>
	<key>iconStageCoord</key>
	<string>relationalBehaviorAlignment</string>
	<key>isolateTierName</key>
	<string>invisibleOffsetType</string>
	<key>pageviewProxyDelay</key>
	<string>frameVisitorShape</string>
	<key>usecaseParameterOrigin</key>
	<string>marginOutsideActivity</string>
</dict>
</plist>
