<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>independentConfigurationContrast</key>
	<string>expandedCompositeColor</string>
	<key>pivotalSubscriptionAcceleration</key>
	<string>threadInStyle</string>
	<key>slashBeyondSystem</key>
	<string>delegateParameterColor</string>
</dict>
</plist>
