<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>protectedChannelsName</key>
	<string>keyReducerStyle</string>
	<key>relationalSceneInteraction</key>
	<string>consumerAwayNumber</string>
	<key>sizedboxFormBound</key>
	<string>sequentialDurationCenter</string>
	<key>techniqueCompositeOrigin</key>
	<string>semanticsLikeTemple</string>
</dict>
</plist>
