<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelsContainTier</key>
	<string>exponentContainScope</string>
	<key>characterVarLeft</key>
	<string>catalystForFramework</string>
	<key>commonFrameVisible</key>
	<string>listenerNearContext</string>
	<key>resizableSinkOrientation</key>
	<string>parallelMemberSpacing</string>
	<key>typicalEffectMode</key>
	<string>hyperbolicSceneBrightness</string>
</dict>
</plist>
