<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasModeInteraction</key>
	<string>transitionOfForm</string>
	<key>isolateAboutTier</key>
	<string>imperativeProjectCount</string>
	<key>missedRowType</key>
	<string>coordinatorShapeAlignment</string>
	<key>workflowAtAction</key>
	<string>cupertinoStyleTail</string>
</dict>
</plist>
