<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderOrEnvironment</key>
	<string>materialEffectTop</string>
	<key>cupertinoModalTint</key>
	<string>retainedGraphVisible</string>
	<key>currentGraphEdge</key>
	<string>presenterValueFeedback</string>
	<key>futureAdapterTension</key>
	<string>sceneForObserver</string>
	<key>navigatorSingletonSaturation</key>
	<string>hashFacadePosition</string>
	<key>retainedPlaybackCenter</key>
	<string>presenterProcessOffset</string>
	<key>robustSwiftMomentum</key>
	<string>gridActionCount</string>
	<key>sensorWithoutCommand</key>
	<string>animationAdapterShade</string>
	<key>viewScopeLeft</key>
	<string>stateFunctionOpacity</string>
</dict>
</plist>
