<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>giftAlongTier</key>
	<string>iterativeScrollVisibility</string>
	<key>iterativeUtilTension</key>
	<string>agileGraphicDensity</string>
	<key>progressbarMethodLocation</key>
	<string>asynchronousPrecisionFlags</string>
	<key>scaleAdapterVisible</key>
	<string>controllerScopePosition</string>
	<key>sceneCommandShape</key>
	<string>gridTaskInset</string>
	<key>sharedKernelVelocity</key>
	<string>commonFragmentCenter</string>
</dict>
</plist>
