<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasCommandTint</key>
	<string>constraintPlatformTop</string>
	<key>lazyStoreSkewy</key>
	<string>easyNotifierMargin</string>
	<key>missedIntensityBottom</key>
	<string>widgetFromMode</string>
	<key>priorityOutsideMediator</key>
	<string>utilAlongStrategy</string>
	<key>secondCubitLocation</key>
	<string>usedPopupSpeed</string>
	<key>texturePrototypeFormat</key>
	<string>priorGroupBound</string>
	<key>utilStructureInteraction</key>
	<string>blocThroughStrategy</string>
</dict>
</plist>
