<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleIndicatorOrigin</key>
	<string>chapterThanActivity</string>
	<key>allocatorAboutCommand</key>
	<string>multiplicationPerEnvironment</string>
	<key>associatedExceptionAlignment</key>
	<string>animatedAllocatorSkewy</string>
	<key>baseOperationShade</key>
	<string>lostEffectDelay</string>
	<key>configurationChainRate</key>
	<string>controllerThroughPattern</string>
	<key>liteVectorShape</key>
	<string>mediocreIntegerDelay</string>
	<key>mediumTransformerMargin</key>
	<string>topicVisitorFormat</string>
	<key>nativeBlocOrientation</key>
	<string>menuIncludeSystem</string>
	<key>sizedboxModeSaturation</key>
	<string>resilientBuilderBorder</string>
	<key>unactivatedLogarithmIndex</key>
	<string>backwardExceptionHue</string>
</dict>
</plist>
