<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerInsideType</key>
	<string>futureFrameworkState</string>
	<key>coordinatorFromAction</key>
	<string>smallPageviewSize</string>
	<key>graphCommandMargin</key>
	<string>accessoryDuringFramework</string>
	<key>liteChecklistDelay</key>
	<string>composableTickerScale</string>
	<key>oldCursorFrequency</key>
	<string>advancedBaseTag</string>
	<key>projectionValueInterval</key>
	<string>inkwellMementoHead</string>
	<key>reactiveBlocVisibility</key>
	<string>handlerStateDistance</string>
	<key>timerLayerLocation</key>
	<string>spotLayerTag</string>
</dict>
</plist>
