<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartStyleLeft</key>
	<string>hyperbolicFactoryCount</string>
	<key>checklistInsideVisitor</key>
	<string>futureTempleRotation</string>
	<key>graphPlatformCoord</key>
	<string>cubeDuringDecorator</string>
	<key>observerAmongMemento</key>
	<string>masterAmongCommand</string>
	<key>resourceViaJob</key>
	<string>expandedForMediator</string>
	<key>responsivePageviewCount</key>
	<string>intensityMethodColor</string>
	<key>statelessProjectionVisibility</key>
	<string>textureObserverSize</string>
	<key>touchAmongOperation</key>
	<string>sensorShapeIndex</string>
</dict>
</plist>
