<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventOutsideBridge</key>
	<string>precisionBufferName</string>
	<key>hyperbolicDescriptionOffset</key>
	<string>staticEntropyCount</string>
	<key>lastStoryboardEdge</key>
	<string>containerEnvironmentRight</string>
	<key>primaryMobxOffset</key>
	<string>accessoryAgainstAction</string>
	<key>semanticPositionShade</key>
	<string>robustSpecifierBound</string>
	<key>significantCompleterPressure</key>
	<string>timerDuringProcess</string>
</dict>
</plist>
