<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetLikeComposite</key>
	<string>notificationBridgeInset</string>
	<key>buttonSystemSpeed</key>
	<string>listviewDecoratorInset</string>
	<key>cardOrTemple</key>
	<string>coordinatorExceptScope</string>
	<key>convolutionCommandHue</key>
	<string>resolverFrameworkDistance</string>
	<key>managerThanJob</key>
	<string>collectionStructureEdge</string>
	<key>oldRequestOpacity</key>
	<string>notificationStyleForce</string>
	<key>particleTempleDepth</key>
	<string>sinkOperationBrightness</string>
	<key>synchronousGridRight</key>
	<string>permissiveHistogramDepth</string>
</dict>
</plist>
