<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerAroundTask</key>
	<string>relationalCardDelay</string>
	<key>composableAnimationOrientation</key>
	<string>titleMediatorDepth</string>
	<key>directlyMethodLocation</key>
	<string>constraintStrategyVisibility</string>
	<key>ephemeralDecorationFormat</key>
	<string>temporaryAspectratioTransparency</string>
	<key>originalSkirtSpeed</key>
	<string>delicateReferenceVelocity</string>
	<key>pinchableModelSaturation</key>
	<string>multiRoleTop</string>
	<key>substantialAwaitName</key>
	<string>containerLevelSize</string>
	<key>unactivatedAnimationVisibility</key>
	<string>configurationShapeForce</string>
	<key>workflowThroughParameter</key>
	<string>rectExceptCycle</string>
</dict>
</plist>
