<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityAdapterBrightness</key>
	<string>accessoryAwayMode</string>
	<key>errorBeyondChain</key>
	<string>fragmentAlongPlatform</string>
	<key>otherUtilTransparency</key>
	<string>curveStrategyTop</string>
	<key>spotAndBuffer</key>
	<string>movementInOperation</string>
	<key>tangentCycleOpacity</key>
	<string>containerFromParam</string>
	<key>transformerCompositeDelay</key>
	<string>queryByParameter</string>
</dict>
</plist>
