<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionViaOperation</key>
	<string>awaitInsidePrototype</string>
	<key>constGraphicOrientation</key>
	<string>richtextFlyweightTint</string>
	<key>curveAtShape</key>
	<string>extensionFlyweightStatus</string>
	<key>menuFlyweightKind</key>
	<string>functionalParticleOrigin</string>
	<key>musicUntilScope</key>
	<string>priorityJobTension</string>
	<key>primaryCertificateStatus</key>
	<string>animationAdapterTint</string>
	<key>sampleFormValidation</key>
	<string>routerAboutPhase</string>
	<key>tangentBeyondFlyweight</key>
	<string>beginnerTitleStatus</string>
</dict>
</plist>
