<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finalPopupKind</key>
	<string>multiPriorityResponse</string>
	<key>grainFacadeTag</key>
	<string>difficultAspectratioLeft</string>
	<key>handlerViaType</key>
	<string>declarativeNavigationStatus</string>
	<key>inheritedFactoryBorder</key>
	<string>explicitGemLocation</string>
	<key>layoutWithMediator</key>
	<string>presenterLikeTier</string>
	<key>pageviewFromType</key>
	<string>memberWithSingleton</string>
	<key>rowSinceTemple</key>
	<string>queryAdapterFormat</string>
	<key>segmentVisitorVelocity</key>
	<string>agileParticleSaturation</string>
	<key>sustainableUtilSize</key>
	<string>alignmentThanScope</string>
</dict>
</plist>
