<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianMobxColor</key>
	<string>touchAboutCycle</string>
	<key>durationMethodRight</key>
	<string>dedicatedRadiusFeedback</string>
	<key>mobileInBridge</key>
	<string>beginnerLocalizationBound</string>
	<key>relationalNodeColor</key>
	<string>scrollableBlocInteraction</string>
	<key>utilThroughChain</key>
	<string>numericalRadiusMargin</string>
</dict>
</plist>
