<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoSkinTheme</key>
	<string>concurrentCardIndex</string>
	<key>baselineContainForm</key>
	<string>constBorderScale</string>
	<key>capsuleParameterBehavior</key>
	<string>deferredOffsetStatus</string>
	<key>chapterOrJob</key>
	<string>singleIntensityTheme</string>
	<key>constraintVariableRight</key>
	<string>playbackIncludeContext</string>
	<key>controllerWithoutBuffer</key>
	<string>symmetricTangentTop</string>
</dict>
</plist>
