<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constGraphTension</key>
	<string>lostRectSkewx</string>
	<key>durationOutsideMethod</key>
	<string>queueBeyondDecorator</string>
	<key>localizationJobLocation</key>
	<string>deferredCubeRate</string>
	<key>navigationStageDuration</key>
	<string>monsterOperationState</string>
	<key>positionTypeLocation</key>
	<string>accessoryJobTransparency</string>
	<key>queryAtMode</key>
	<string>textfieldAwayLevel</string>
	<key>scrollableTickerStyle</key>
	<string>certificateLikeBuffer</string>
	<key>transformerPatternSkewy</key>
	<string>stateStyleFlags</string>
	<key>unactivatedCubitPadding</key>
	<string>variantBesideStyle</string>
</dict>
</plist>
