<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateCompositeKind</key>
	<string>dropdownbuttonSystemBound</string>
	<key>chartNearTemple</key>
	<string>parallelBlocLocation</string>
	<key>checklistMediatorBehavior</key>
	<string>switchDecoratorDelay</string>
	<key>equipmentThroughFlyweight</key>
	<string>nativeResourceCoord</string>
	<key>radiusByType</key>
	<string>usedFrameMargin</string>
	<key>subscriptionAwayBridge</key>
	<string>missionObserverName</string>
	<key>typicalFutureRotation</key>
	<string>mediumTextInset</string>
	<key>unsortedCoordinatorHead</key>
	<string>cupertinoContainBuffer</string>
</dict>
</plist>
