<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grayscaleKindDistance</key>
	<string>localSignatureSaturation</string>
	<key>masterSinceActivity</key>
	<string>criticalHeapColor</string>
	<key>optionPhaseFrequency</key>
	<string>staticRequestOrientation</string>
	<key>viewThanFacade</key>
	<string>constraintAndStage</string>
</dict>
</plist>
