<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaScopeDirection</key>
	<string>serviceVersusStrategy</string>
	<key>extensionFlyweightName</key>
	<string>unactivatedCaptionStatus</string>
	<key>getxVisitorOffset</key>
	<string>descriptionVariableCoord</string>
	<key>ignoredBufferBrightness</key>
	<string>cacheForStructure</string>
	<key>popupBridgeShape</key>
	<string>unaryFlyweightColor</string>
</dict>
</plist>
