<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasVersusActivity</key>
	<string>segueParameterLeft</string>
	<key>displayableWidgetDepth</key>
	<string>appbarMethodShade</string>
	<key>euclideanIsolateContrast</key>
	<string>interfaceWorkSkewy</string>
	<key>immediateBlocLocation</key>
	<string>scaleMementoBorder</string>
	<key>layerOperationTag</key>
	<string>matrixPatternEdge</string>
	<key>logarithmInterpreterVisibility</key>
	<string>ignoredMenuSpeed</string>
	<key>rowWithAdapter</key>
	<string>greatSinkOrientation</string>
	<key>scaleAboutDecorator</key>
	<string>toolAgainstLayer</string>
</dict>
</plist>
