<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intuitiveProgressbarDepth</key>
	<string>standaloneInteractorRate</string>
	<key>prevProjectContrast</key>
	<string>rapidMonsterPadding</string>
	<key>segueStylePadding</key>
	<string>granularSpotHead</string>
</dict>
</plist>
