<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorFlyweightStyle</key>
	<string>publicTabviewPadding</string>
	<key>heroLikeVisitor</key>
	<string>hierarchicalFactoryType</string>
	<key>loopOperationTail</key>
	<string>buttonForComposite</string>
	<key>sliderFromStage</key>
	<string>numericalMethodDirection</string>
	<key>storeAsType</key>
	<string>asyncPerPhase</string>
	<key>symbolActivityAppearance</key>
	<string>resizableMusicAppearance</string>
	<key>titleExceptBridge</key>
	<string>gateStyleSpeed</string>
</dict>
</plist>
