<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityContextLocation</key>
	<string>swiftStrategyRate</string>
	<key>dependencyWorkDistance</key>
	<string>progressbarUntilBridge</string>
	<key>factoryPerCycle</key>
	<string>secondImageBound</string>
	<key>gridviewViaCommand</key>
	<string>behaviorContainParameter</string>
	<key>spriteViaProxy</key>
	<string>layoutLayerSpacing</string>
	<key>tabviewShapeCount</key>
	<string>delegateStateCenter</string>
</dict>
</plist>
