<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleResourceDepth</key>
	<string>cacheFacadeBrightness</string>
	<key>boxshadowLikeParam</key>
	<string>dialogsBesideFacade</string>
	<key>canvasProcessValidation</key>
	<string>keyScreenBehavior</string>
	<key>controllerAwayWork</key>
	<string>particleAtBridge</string>
	<key>dynamicSessionSize</key>
	<string>tensorFutureRotation</string>
	<key>graphAtPlatform</key>
	<string>otherSemanticsColor</string>
	<key>handlerLikeVariable</key>
	<string>factoryAndPhase</string>
	<key>sizedboxInsideFacade</key>
	<string>asynchronousInteractorIndex</string>
	<key>sliderPhaseCenter</key>
	<string>binaryJobResponse</string>
	<key>topicBufferName</key>
	<string>mainCurveLeft</string>
</dict>
</plist>
