<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionDuringVar</key>
	<string>draggableGroupTransparency</string>
	<key>draggableDescriptionKind</key>
	<string>entropyAwayState</string>
	<key>isolateThanProxy</key>
	<string>dynamicCompositionDuration</string>
	<key>rectNumberDepth</key>
	<string>asynchronousGesturedetectorDelay</string>
	<key>statefulConstraintCenter</key>
	<string>cardAdapterType</string>
</dict>
</plist>
