<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directDurationRate</key>
	<string>scaleFlyweightDensity</string>
	<key>granularFactoryInset</key>
	<string>checklistVarSpeed</string>
	<key>positionMethodBorder</key>
	<string>menuEnvironmentBrightness</string>
	<key>radiusAwayCommand</key>
	<string>positionDespiteTask</string>
	<key>referenceOrCycle</key>
	<string>dropdownbuttonOrTier</string>
	<key>sensorTaskSkewx</key>
	<string>sizeJobStatus</string>
</dict>
</plist>
