<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entityAboutMediator</key>
	<string>composableIsolateVisible</string>
	<key>frameLikeCycle</key>
	<string>taskOfForm</string>
	<key>granularMarginEdge</key>
	<string>repositoryParamValidation</string>
	<key>keyTouchOrientation</key>
	<string>descriptorNearActivity</string>
	<key>menuStrategyPosition</key>
	<string>tweenBesideContext</string>
	<key>nibVariableFormat</key>
	<string>allocatorStructureSpeed</string>
	<key>unsortedMediaDensity</key>
	<string>groupObserverLocation</string>
</dict>
</plist>
