<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicDrawerBottom</key>
	<string>geometricConvolutionDuration</string>
	<key>channelsVersusValue</key>
	<string>missionInsidePhase</string>
	<key>dependencyThroughObserver</key>
	<string>elasticSubscriptionSpacing</string>
	<key>graphicParamFormat</key>
	<string>significantStoryboardType</string>
	<key>kernelContainComposite</key>
	<string>layerActionForce</string>
	<key>radioViaBridge</key>
	<string>sizedboxContainLayer</string>
	<key>sceneByNumber</key>
	<string>gramVarValidation</string>
	<key>specifyIndicatorStatus</key>
	<string>baselineVisitorBound</string>
	<key>taskAboutShape</key>
	<string>viewAwayStrategy</string>
</dict>
</plist>
