<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>masterActivityBottom</key>
	<string>sliderParameterMomentum</string>
	<key>persistentConfigurationSkewx</key>
	<string>relationalConstraintResponse</string>
	<key>scrollNearNumber</key>
	<string>resilientSpineMode</string>
	<key>stateStyleLocation</key>
	<string>rectLevelEdge</string>
	<key>visibleMatrixVelocity</key>
	<string>crucialCubitCoord</string>
</dict>
</plist>
