<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocFlyweightDepth</key>
	<string>sampleCompositeSize</string>
	<key>borderBridgeDirection</key>
	<string>positionModeTension</string>
	<key>checkboxAsContext</key>
	<string>criticalCursorTransparency</string>
	<key>operationStyleRight</key>
	<string>ignoredCycleDensity</string>
	<key>resourcePerKind</key>
	<string>lastIsolateFeedback</string>
	<key>shaderLayerDistance</key>
	<string>plateFromForm</string>
	<key>singletonValueFlags</key>
	<string>pageviewKindPosition</string>
	<key>singletonWorkTag</key>
	<string>repositoryAlongInterpreter</string>
	<key>staticCellKind</key>
	<string>cupertinoCoordinatorTail</string>
	<key>taskInProxy</key>
	<string>reusableDimensionRate</string>
</dict>
</plist>
