<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderKindDirection</key>
	<string>scrollNumberAcceleration</string>
	<key>dynamicChannelAlignment</key>
	<string>observerActivityIndex</string>
	<key>featureOutsideStage</key>
	<string>delicateChannelScale</string>
	<key>gesturedetectorOrStructure</key>
	<string>entropyStagePressure</string>
	<key>monsterNearComposite</key>
	<string>pivotalProtocolDirection</string>
	<key>musicModeFormat</key>
	<string>similarResultAcceleration</string>
	<key>roleAndState</key>
	<string>toolThroughTemple</string>
	<key>sustainableCubeMargin</key>
	<string>momentumMementoBorder</string>
	<key>toolFunctionStyle</key>
	<string>nextNodeMargin</string>
</dict>
</plist>
