<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionContainProcess</key>
	<string>constraintKindBottom</string>
	<key>currentFrameName</key>
	<string>cacheAtCycle</string>
	<key>declarativeOptionOffset</key>
	<string>fusedPaddingStatus</string>
	<key>exponentFrameworkSkewx</key>
	<string>popupStrategyDelay</string>
	<key>originalRouterCount</key>
	<string>completionAmongBridge</string>
	<key>resultParameterCount</key>
	<string>prevStoreDepth</string>
</dict>
</plist>
