<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateMementoFrequency</key>
	<string>integerOrScope</string>
	<key>dependencyValueVisible</key>
	<string>respectiveCustompaintMargin</string>
	<key>fixedSegueAlignment</key>
	<string>mediaFromPattern</string>
	<key>keyGateOpacity</key>
	<string>layoutProxyShade</string>
	<key>queryInterpreterInterval</key>
	<string>skinModeRight</string>
	<key>repositoryTempleBottom</key>
	<string>unsortedNotifierBorder</string>
	<key>rowFacadeMode</key>
	<string>significantGridviewAcceleration</string>
	<key>specifyDescriptionFormat</key>
	<string>compositionalMonsterTransparency</string>
	<key>spotStyleDensity</key>
	<string>topicVersusValue</string>
	<key>usedBoxStatus</key>
	<string>textfieldStageTint</string>
</dict>
</plist>
