<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellAwayLayer</key>
	<string>streamJobEdge</string>
	<key>curveTempleFormat</key>
	<string>borderIncludeShape</string>
	<key>dropdownbuttonProcessVisible</key>
	<string>appbarLayerDistance</string>
	<key>hashActionDirection</key>
	<string>requiredMediaOrigin</string>
	<key>imperativeDelegateBrightness</key>
	<string>iterativeCommandSpeed</string>
	<key>largeStatefulAcceleration</key>
	<string>imperativeSceneDistance</string>
	<key>managerBridgeSaturation</key>
	<string>grainProcessBorder</string>
	<key>resultModeVelocity</key>
	<string>labelAmongNumber</string>
	<key>standaloneRequestShape</key>
	<string>usecaseModeRotation</string>
	<key>viewAroundProxy</key>
	<string>notifierStylePadding</string>
</dict>
</plist>
