<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fixedReductionTheme</key>
	<string>zoneStructureCount</string>
	<key>groupTypePadding</key>
	<string>consultativeMapAcceleration</string>
	<key>injectionSinceFramework</key>
	<string>drawerAndSystem</string>
	<key>labelIncludeLayer</key>
	<string>exponentActionBrightness</string>
	<key>statefulExpandedScale</key>
	<string>modulusVersusVar</string>
</dict>
</plist>
