<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnPatternName</key>
	<string>callbackTierTail</string>
	<key>customizedAspectratioOpacity</key>
	<string>transitionEnvironmentContrast</string>
	<key>ephemeralAppbarRate</key>
	<string>cartesianSignStyle</string>
	<key>immediateChapterRotation</key>
	<string>movementThanProcess</string>
	<key>priorViewOrigin</key>
	<string>rowJobType</string>
</dict>
</plist>
