<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationSinceShape</key>
	<string>indicatorVersusNumber</string>
	<key>backwardFeatureTag</key>
	<string>certificateActionContrast</string>
	<key>concurrentNavigationMomentum</key>
	<string>resolverFrameworkDensity</string>
	<key>fixedStreamContrast</key>
	<string>projectUntilBridge</string>
	<key>permanentBehaviorFlags</key>
	<string>textJobSpeed</string>
	<key>streamMethodSize</key>
	<string>nativeLayoutSize</string>
	<key>temporaryChartHead</key>
	<string>effectOutsideStage</string>
	<key>typicalAccessoryFeedback</key>
	<string>collectionForScope</string>
	<key>unactivatedProviderTail</key>
	<string>functionalLayerShape</string>
	<key>utilFromMode</key>
	<string>alertAboutFunction</string>
</dict>
</plist>
