<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasNearMediator</key>
	<string>resourceDuringMethod</string>
	<key>ephemeralCubeHead</key>
	<string>assetOfStructure</string>
	<key>optimizerAroundProcess</key>
	<string>eventActivityVisibility</string>
	<key>prismaticLocalizationRotation</key>
	<string>popupStageDistance</string>
	<key>rowOutsideStyle</key>
	<string>advancedWidgetDistance</string>
	<key>segmentAwaySystem</key>
	<string>viewStrategyTension</string>
	<key>smallSliderName</key>
	<string>operationStructureDelay</string>
</dict>
</plist>
