<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerOutsideStructure</key>
	<string>activeEventBorder</string>
	<key>convolutionCommandPressure</key>
	<string>tickerTaskRate</string>
	<key>directlyScaffoldTag</key>
	<string>providerAmongLevel</string>
	<key>futureObserverMomentum</key>
	<string>eagerStoryboardShade</string>
	<key>lazyCommandFeedback</key>
	<string>streamTypeMargin</string>
	<key>similarChannelsCoord</key>
	<string>binaryActivityRate</string>
	<key>sliderOrValue</key>
	<string>bitrateDecoratorState</string>
	<key>storeSinceFramework</key>
	<string>uniformIntensityType</string>
</dict>
</plist>
