<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleLabelLeft</key>
	<string>mobxInsidePattern</string>
	<key>certificatePrototypeVelocity</key>
	<string>compositionVisitorCenter</string>
	<key>chartCommandTheme</key>
	<string>statelessPositionRight</string>
	<key>errorObserverInterval</key>
	<string>cubeWithoutStrategy</string>
	<key>futureAboutJob</key>
	<string>gemAsPattern</string>
	<key>imageForPrototype</key>
	<string>borderFacadeKind</string>
	<key>permanentSkinAlignment</key>
	<string>fragmentNumberInterval</string>
	<key>uniqueCustompaintPosition</key>
	<string>immediateMobilePadding</string>
</dict>
</plist>
