<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionActivityHue</key>
	<string>modelStateVisible</string>
	<key>builderMementoAlignment</key>
	<string>zoneOrComposite</string>
	<key>cellLikeForm</key>
	<string>transitionPatternDirection</string>
	<key>desktopDescriptorOrigin</key>
	<string>dependencyVersusVariable</string>
	<key>immediateCursorVelocity</key>
	<string>radiusCommandCoord</string>
	<key>keyBaseType</key>
	<string>topicBesideJob</string>
	<key>observerBeyondContext</key>
	<string>momentumBridgeAlignment</string>
	<key>particleExceptWork</key>
	<string>errorVisitorVisible</string>
	<key>relationalCurveSpeed</key>
	<string>tangentTypeScale</string>
	<key>storageNumberRight</key>
	<string>groupPrototypeInterval</string>
</dict>
</plist>
