<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customCharacterResponse</key>
	<string>asyncForVar</string>
	<key>durationStageStatus</key>
	<string>displayableCosineMode</string>
	<key>explicitTabviewVisibility</key>
	<string>reusableTopicFlags</string>
	<key>giftDuringChain</key>
	<string>marginProxyRate</string>
	<key>graphChainAcceleration</key>
	<string>masterThanObserver</string>
	<key>gridAboutEnvironment</key>
	<string>completerIncludeJob</string>
	<key>movementFromInterpreter</key>
	<string>streamIncludeValue</string>
	<key>pivotalGrayscaleHead</key>
	<string>durationSinceBuffer</string>
	<key>protectedMemberVisibility</key>
	<string>skinBesideComposite</string>
</dict>
</plist>
