<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistValueTop</key>
	<string>accessoryFunctionTail</string>
	<key>criticalRouterTag</key>
	<string>prevInterfaceTheme</string>
	<key>crucialPetAcceleration</key>
	<string>mobileTempleMomentum</string>
	<key>indicatorAboutKind</key>
	<string>cubitThroughMemento</string>
	<key>kernelWithContext</key>
	<string>textAboutScope</string>
	<key>mobileTaskTail</key>
	<string>checkboxBesideProxy</string>
	<key>particleTempleFormat</key>
	<string>protectedShaderScale</string>
	<key>robustPreviewIndex</key>
	<string>frameAsLayer</string>
	<key>segmentDuringLayer</key>
	<string>interactorInterpreterBottom</string>
</dict>
</plist>
