<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activePreviewDistance</key>
	<string>expandedBeyondVariable</string>
	<key>buttonOfFramework</key>
	<string>stateAgainstScope</string>
	<key>channelsVersusActivity</key>
	<string>crucialGroupOffset</string>
	<key>easyTextureIndex</key>
	<string>spriteLayerTint</string>
	<key>textPatternBehavior</key>
	<string>beginnerModalOpacity</string>
</dict>
</plist>
