<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateMethodOrientation</key>
	<string>blocThanEnvironment</string>
	<key>grayscaleAtPhase</key>
	<string>lostRemainderDepth</string>
	<key>hardScaleTop</key>
	<string>lossExceptLevel</string>
	<key>hyperbolicAlertPosition</key>
	<string>gesturedetectorAlongMethod</string>
	<key>intuitiveStackBound</key>
	<string>semanticChannelInterval</string>
	<key>kernelPerJob</key>
	<string>threadViaDecorator</string>
	<key>masterNearProcess</key>
	<string>channelWorkBottom</string>
	<key>priorEventOrigin</key>
	<string>basicModelOffset</string>
	<key>textureOfEnvironment</key>
	<string>permissiveFeatureVelocity</string>
	<key>tweenModeDistance</key>
	<string>criticalTransformerHead</string>
</dict>
</plist>
