<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchStyleMode</key>
	<string>activeCatalystBottom</string>
	<key>priorLayoutCenter</key>
	<string>sizeInterpreterScale</string>
	<key>remainderAmongComposite</key>
	<string>adaptiveIconStyle</string>
	<key>shaderFlyweightType</key>
	<string>adaptiveDescriptionTint</string>
	<key>sliderViaCommand</key>
	<string>flexibleCapsuleFrequency</string>
	<key>standaloneChartInterval</key>
	<string>rectCycleFeedback</string>
	<key>touchNearFramework</key>
	<string>navigatorForForm</string>
	<key>unsortedPriorityInteraction</key>
	<string>interfaceParameterShape</string>
</dict>
</plist>
