<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerViaObserver</key>
	<string>checkboxEnvironmentDepth</string>
	<key>consumerFlyweightMode</key>
	<string>interactiveDelegateBound</string>
	<key>grainJobName</key>
	<string>notifierViaObserver</string>
	<key>greatTransitionResponse</key>
	<string>interactiveHeroResponse</string>
	<key>handlerContainLevel</key>
	<string>particleFormPadding</string>
	<key>momentumAwayLevel</key>
	<string>resultAgainstType</string>
	<key>movementAtSingleton</key>
	<string>webBuilderStatus</string>
	<key>richtextBesideObserver</key>
	<string>channelStrategyHue</string>
	<key>segueAroundValue</key>
	<string>coordinatorSinceAdapter</string>
	<key>tweenJobType</key>
	<string>permissiveExpandedName</string>
</dict>
</plist>
