<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerProxyPressure</key>
	<string>delicateCallbackState</string>
	<key>completerExceptType</key>
	<string>providerFormPosition</string>
	<key>decorationAgainstStage</key>
	<string>decorationParamTail</string>
	<key>discardedCycleOffset</key>
	<string>modelScopeFeedback</string>
	<key>granularLoopLocation</key>
	<string>granularRichtextFormat</string>
	<key>grayscaleDecoratorTag</key>
	<string>layerVersusChain</string>
	<key>nodeUntilAction</key>
	<string>entropyMediatorCount</string>
	<key>responsiveStoryboardResponse</key>
	<string>independentSliderBound</string>
	<key>stampAlongMethod</key>
	<string>documentFrameworkName</string>
	<key>staticAsyncValidation</key>
	<string>stampFromShape</string>
</dict>
</plist>
