<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>euclideanBrushDensity</key>
	<string>positionAtVisitor</string>
	<key>fragmentActionDelay</key>
	<string>builderThanStrategy</string>
	<key>intermediateSpineDuration</key>
	<string>resourceInsideCommand</string>
	<key>matrixPhaseDelay</key>
	<string>modalPerType</string>
	<key>mobileChartOrientation</key>
	<string>mediaqueryActivityDirection</string>
	<key>monsterAgainstBuffer</key>
	<string>liteHashTheme</string>
</dict>
</plist>
