<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorShapePressure</key>
	<string>intermediateLabelCenter</string>
	<key>channelCommandSkewx</key>
	<string>heapBufferResponse</string>
	<key>completerNumberDepth</key>
	<string>durationActivityType</string>
	<key>elasticServiceVisible</key>
	<string>challengeInStyle</string>
	<key>hardSinkDistance</key>
	<string>titleSystemLeft</string>
	<key>projectionKindPressure</key>
	<string>checklistMementoInset</string>
</dict>
</plist>
