<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionContainStructure</key>
	<string>timerKindInteraction</string>
	<key>decorationInScope</key>
	<string>unactivatedCurveEdge</string>
	<key>diversifiedChapterSaturation</key>
	<string>progressbarAwayTier</string>
	<key>handlerTypeMomentum</key>
	<string>taskWithoutShape</string>
	<key>integerOutsideObserver</key>
	<string>stateAdapterInterval</string>
	<key>monsterContextFlags</key>
	<string>radiusVersusPlatform</string>
	<key>respectiveDecorationVisibility</key>
	<string>iconContainType</string>
	<key>utilObserverKind</key>
	<string>iterativeConfigurationInteraction</string>
	<key>vectorWithSystem</key>
	<string>responsePatternOffset</string>
</dict>
</plist>
