<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionEnvironmentHead</key>
	<string>modulusCompositeTail</string>
	<key>finalAspectratioCoord</key>
	<string>specifyErrorFeedback</string>
	<key>immutableParticleFrequency</key>
	<string>delicateTabviewFeedback</string>
	<key>managerScopeAcceleration</key>
	<string>richtextOfFacade</string>
	<key>menuAdapterBrightness</key>
	<string>statelessRequestAppearance</string>
	<key>newestSliderVisible</key>
	<string>advancedArithmeticDepth</string>
	<key>protocolParamShade</key>
	<string>progressbarStrategySpeed</string>
	<key>providerBridgeBrightness</key>
	<string>previewThanTask</string>
	<key>shaderVisitorName</key>
	<string>particleFormPadding</string>
	<key>statelessInterfaceVisibility</key>
	<string>petByValue</string>
</dict>
</plist>
