<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisBesidePattern</key>
	<string>sinkAsSystem</string>
	<key>newestEffectMomentum</key>
	<string>screenInsideCommand</string>
	<key>scrollableControllerOffset</key>
	<string>particleTypeRight</string>
	<key>singletonAwayFlyweight</key>
	<string>overlayStageSpeed</string>
	<key>specifyCapacitiesHead</key>
	<string>listenerStrategySize</string>
</dict>
</plist>
