<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistVariablePressure</key>
	<string>nextSubpixelDistance</string>
	<key>curveCommandSkewx</key>
	<string>resultBeyondStyle</string>
	<key>directLayoutCenter</key>
	<string>routerPrototypeFlags</string>
	<key>durationDuringTemple</key>
	<string>crucialHistogramVisibility</string>
	<key>extensionProcessMode</key>
	<string>particleActivityCount</string>
	<key>graphTempleTint</key>
	<string>tensorViewFrequency</string>
	<key>hierarchicalMemberTension</key>
	<string>lostEffectTop</string>
	<key>layoutAlongContext</key>
	<string>pointExceptPattern</string>
	<key>usecaseShapePadding</key>
	<string>interactorAsStrategy</string>
</dict>
</plist>
