<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowBeyondEnvironment</key>
	<string>independentChannelAcceleration</string>
	<key>eventInterpreterAlignment</key>
	<string>imperativeDurationFlags</string>
	<key>masterPatternState</key>
	<string>exceptionFunctionTop</string>
	<key>positionAgainstFlyweight</key>
	<string>effectTempleForce</string>
	<key>symbolContextBorder</key>
	<string>protocolBesideVar</string>
	<key>usedContainerShade</key>
	<string>basicTextureFrequency</string>
</dict>
</plist>
