<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ephemeralCurveType</key>
	<string>referenceBesideChain</string>
	<key>equipmentForEnvironment</key>
	<string>secondScaffoldHue</string>
	<key>gridWithoutType</key>
	<string>materialScrollRotation</string>
	<key>localAssetFeedback</key>
	<string>awaitByCycle</string>
	<key>originalAspectBottom</key>
	<string>bitrateStyleShape</string>
	<key>rapidRectLocation</key>
	<string>scaffoldBeyondLayer</string>
</dict>
</plist>
