<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyFormBehavior</key>
	<string>chartByStage</string>
	<key>factoryPatternValidation</key>
	<string>currentAllocatorPosition</string>
	<key>graphCommandBound</key>
	<string>diffableStoreDuration</string>
	<key>operationExceptPhase</key>
	<string>popupLevelDistance</string>
	<key>profileTypeInset</key>
	<string>visibleAsyncCenter</string>
	<key>queueStateTag</key>
	<string>serviceUntilMediator</string>
	<key>radiusLikePhase</key>
	<string>sortedRepositoryHead</string>
	<key>standaloneNodeRotation</key>
	<string>requestFromTier</string>
	<key>textAwayAdapter</key>
	<string>reactiveBlocDirection</string>
</dict>
</plist>
