<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryTierOffset</key>
	<string>titleParamIndex</string>
	<key>catalystDuringState</key>
	<string>cursorProcessForce</string>
	<key>methodWithoutNumber</key>
	<string>eventContainPlatform</string>
	<key>plateOutsideValue</key>
	<string>opaqueCubitVisible</string>
	<key>stateTypeResponse</key>
	<string>effectAroundVar</string>
</dict>
</plist>
