<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncNavigationCoord</key>
	<string>bitrateAwayMediator</string>
	<key>cartesianCoordinatorOrientation</key>
	<string>mediocreLayoutBottom</string>
	<key>characterBufferTail</key>
	<string>instructionInComposite</string>
	<key>eventAdapterTheme</key>
	<string>positionShapeTension</string>
	<key>inkwellUntilKind</key>
	<string>oldClipperSpacing</string>
	<key>invisibleProfileOffset</key>
	<string>menuAgainstScope</string>
	<key>managerJobAcceleration</key>
	<string>convolutionFormAlignment</string>
	<key>missedObserverScale</key>
	<string>spriteOfPattern</string>
	<key>similarGetxDuration</key>
	<string>stateThanStrategy</string>
	<key>unsortedRequestDensity</key>
	<string>touchPlatformTag</string>
</dict>
</plist>
