<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectStructureVelocity</key>
	<string>integerCommandDistance</string>
	<key>associatedDocumentKind</key>
	<string>disabledLocalizationName</string>
	<key>autoExtensionMode</key>
	<string>certificateViaLayer</string>
	<key>axisVarIndex</key>
	<string>radioBesidePlatform</string>
	<key>hyperbolicMasterPadding</key>
	<string>nibExceptFlyweight</string>
	<key>matrixStrategyEdge</key>
	<string>offsetDespiteType</string>
	<key>rectCycleAppearance</key>
	<string>handlerAtPhase</string>
</dict>
</plist>
