<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentAtComposite</key>
	<string>oldStoreStatus</string>
	<key>cosineBesideStage</key>
	<string>assetTierEdge</string>
	<key>groupSystemFormat</key>
	<string>timerLikeProcess</string>
	<key>metadataAmongBridge</key>
	<string>imageEnvironmentVisible</string>
</dict>
</plist>
