<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineContainOperation</key>
	<string>assetDespitePlatform</string>
	<key>captionPerCommand</key>
	<string>subscriptionOperationVisible</string>
	<key>commonTabviewCoord</key>
	<string>remainderBridgeTheme</string>
	<key>granularCompleterRight</key>
	<string>pinchableSkirtInterval</string>
	<key>mediumCharacterTransparency</key>
	<string>equalizationFromScope</string>
	<key>resultShapeTension</key>
	<string>spriteStylePadding</string>
	<key>serviceAdapterStatus</key>
	<string>titlePerCommand</string>
	<key>specifyPlaybackEdge</key>
	<string>routeStyleSpeed</string>
	<key>tensorButtonShade</key>
	<string>smallDurationMomentum</string>
	<key>variantContextState</key>
	<string>vectorOrFacade</string>
</dict>
</plist>
