<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ephemeralSingletonMode</key>
	<string>difficultNavigatorMode</string>
	<key>graphicScopeOpacity</key>
	<string>zoneStyleCoord</string>
	<key>pageviewVersusVisitor</key>
	<string>animatedcontainerVariableAppearance</string>
	<key>petInsideChain</key>
	<string>managerValueIndex</string>
	<key>reactiveTextfieldHue</key>
	<string>sinkWithoutLevel</string>
	<key>touchProxyType</key>
	<string>rowMediatorMode</string>
</dict>
</plist>
