<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dialogsThroughState</key>
	<string>cartesianSpriteColor</string>
	<key>easyBrushEdge</key>
	<string>responseMethodOrigin</string>
	<key>giftAdapterBound</key>
	<string>accordionCycleBottom</string>
	<key>iterativeAspectratioState</key>
	<string>reducerBeyondAction</string>
	<key>methodStructureIndex</key>
	<string>tweenExceptAdapter</string>
	<key>multiIntensityPressure</key>
	<string>gateTierEdge</string>
	<key>nextSliderVisible</key>
	<string>routerStrategyCoord</string>
	<key>pivotalExponentColor</key>
	<string>permanentLabelBorder</string>
	<key>richtextOutsideBuffer</key>
	<string>metadataBesideSingleton</string>
	<key>toolBufferCoord</key>
	<string>notificationSystemScale</string>
</dict>
</plist>
