<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mediumTabbarTransparency</key>
	<string>semanticTaskShape</string>
	<key>movementContainBridge</key>
	<string>providerStrategyForce</string>
	<key>resourceThroughLayer</key>
	<string>cupertinoFlexScale</string>
	<key>richtextWithoutLevel</key>
	<string>chapterInterpreterSaturation</string>
</dict>
</plist>
