<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeThemeDistance</key>
	<string>stepVersusAdapter</string>
	<key>completerThanCommand</key>
	<string>statefulRowKind</string>
	<key>cupertinoExceptMode</key>
	<string>dropdownbuttonCycleTheme</string>
	<key>intuitiveMenuShade</key>
	<string>presenterSystemMomentum</string>
	<key>optimizerOrActivity</key>
	<string>loopVisitorLocation</string>
	<key>resizableProtocolForce</key>
	<string>buttonWithPrototype</string>
	<key>tickerAroundBuffer</key>
	<string>streamModeTop</string>
</dict>
</plist>
