<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderInterpreterTint</key>
	<string>navigatorFunctionVisible</string>
	<key>currentVariantDepth</key>
	<string>greatInteractorBorder</string>
	<key>musicDuringBridge</key>
	<string>allocatorAwayStage</string>
	<key>progressbarPerVar</key>
	<string>lossSingletonDistance</string>
	<key>referenceProcessSpeed</key>
	<string>protocolModeOrigin</string>
	<key>statelessSpriteAcceleration</key>
	<string>similarBatchLocation</string>
</dict>
</plist>
