<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>normalCellPadding</key>
	<string>materialSignInset</string>
	<key>publicArithmeticOrigin</key>
	<string>tickerBridgeTheme</string>
	<key>richtextScopeAcceleration</key>
	<string>smallNibTail</string>
</dict>
</plist>
