<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>prioritySinceForm</key>
	<string>routerParameterSpacing</string>
	<key>titleStrategyBrightness</key>
	<string>hierarchicalStorageDepth</string>
	<key>zoneTierType</key>
	<string>activityAndMediator</string>
	<key>zoneUntilActivity</key>
	<string>deferredCaptionRate</string>
</dict>
</plist>
