<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easyNodeAcceleration</key>
	<string>positionedContainPhase</string>
	<key>explicitAsyncFormat</key>
	<string>rowBridgeTransparency</string>
	<key>imperativeChartInterval</key>
	<string>capsuleBesideTask</string>
	<key>intermediateEffectFeedback</key>
	<string>exponentMediatorPressure</string>
	<key>menuDuringMethod</key>
	<string>grayscaleStageDirection</string>
	<key>semanticsAmongMediator</key>
	<string>normForShape</string>
	<key>usedWidgetAppearance</key>
	<string>bufferContainLevel</string>
</dict>
</plist>
