<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentParamTail</key>
	<string>eagerBinaryLocation</string>
	<key>boxshadowThanMode</key>
	<string>projectionLikeContext</string>
	<key>pageviewVisitorFrequency</key>
	<string>fixedConstraintMomentum</string>
	<key>remainderIncludeSingleton</key>
	<string>blocInStrategy</string>
	<key>standaloneActivityBrightness</key>
	<string>resilientBuilderDensity</string>
</dict>
</plist>
