<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionOutsideWork</key>
	<string>textfieldAwayCommand</string>
	<key>durationOperationScale</key>
	<string>explicitProfileTension</string>
	<key>flexLayerDistance</key>
	<string>mediaParameterRight</string>
</dict>
</plist>
