<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonNearSystem</key>
	<string>deferredMatrixHue</string>
	<key>extensionInFramework</key>
	<string>mobileNotifierType</string>
	<key>inkwellAgainstEnvironment</key>
	<string>basicGemCoord</string>
	<key>lastCubitPosition</key>
	<string>optionThroughActivity</string>
	<key>mapDuringParam</key>
	<string>resultAroundLevel</string>
	<key>paddingDuringTier</key>
	<string>inactiveTransitionVisibility</string>
	<key>radioTierOrigin</key>
	<string>routeDuringLayer</string>
	<key>shaderByWork</key>
	<string>callbackVariableRate</string>
	<key>signatureAroundSingleton</key>
	<string>advancedTextureBehavior</string>
	<key>streamOutsideStyle</key>
	<string>completerMethodCoord</string>
</dict>
</plist>
