<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitFunctionState</key>
	<string>autoSingletonVisible</string>
	<key>channelModeTension</key>
	<string>directChannelOffset</string>
	<key>constraintLikePattern</key>
	<string>cartesianConvolutionAcceleration</string>
	<key>hardCallbackFrequency</key>
	<string>widgetFrameworkInset</string>
	<key>previewBridgeInterval</key>
	<string>criticalGemBrightness</string>
	<key>resourceIncludeChain</key>
	<string>missionStyleOrientation</string>
	<key>textureBufferResponse</key>
	<string>channelAsShape</string>
</dict>
</plist>
