<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationOutsideMediator</key>
	<string>unactivatedBuilderInterval</string>
	<key>associatedAlphaIndex</key>
	<string>listviewPhaseBound</string>
	<key>backwardAnimatedcontainerDepth</key>
	<string>previewByBridge</string>
	<key>behaviorNumberDepth</key>
	<string>vectorAroundFlyweight</string>
	<key>providerAtTemple</key>
	<string>opaqueDescriptionPadding</string>
	<key>scrollableStoryboardColor</key>
	<string>synchronousRepositoryOrientation</string>
	<key>semanticsAtVariable</key>
	<string>touchStructureFlags</string>
</dict>
</plist>
