<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedPromiseAppearance</key>
	<string>newestSubpixelBottom</string>
	<key>cellContextCenter</key>
	<string>cosineByPrototype</string>
	<key>compositionAndScope</key>
	<string>controllerTierMomentum</string>
	<key>comprehensiveNodeInset</key>
	<string>exponentJobBottom</string>
	<key>largePositionShade</key>
	<string>touchBridgeDensity</string>
	<key>requiredChallengeAlignment</key>
	<string>actionInPlatform</string>
	<key>sampleOrLevel</key>
	<string>variantPerParam</string>
	<key>storageProxyRate</key>
	<string>appbarLayerResponse</string>
	<key>usedTextureTension</key>
	<string>desktopTextBound</string>
</dict>
</plist>
