<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convolutionInsideStrategy</key>
	<string>swiftActivityPadding</string>
	<key>dialogsInterpreterFormat</key>
	<string>alphaParameterFlags</string>
	<key>elasticLossAcceleration</key>
	<string>viewInterpreterTint</string>
	<key>frameFrameworkTail</key>
	<string>backwardTitleMode</string>
	<key>indicatorPhaseInterval</key>
	<string>navigatorSystemSkewx</string>
	<key>interactorPrototypeMode</key>
	<string>titleNearProcess</string>
	<key>movementAlongLayer</key>
	<string>resultInsideSystem</string>
	<key>nativeContainerPadding</key>
	<string>rapidExceptionType</string>
	<key>queuePerAdapter</key>
	<string>specifySizedboxStatus</string>
	<key>symmetricStreamShade</key>
	<string>channelsWorkOffset</string>
</dict>
</plist>
