<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialTextStyle</key>
	<string>materialCardInset</string>
	<key>cubitVersusSingleton</key>
	<string>zoneVisitorRate</string>
	<key>featureSinceCommand</key>
	<string>usageFromAction</string>
	<key>graphicThanFunction</key>
	<string>taskWithoutStructure</string>
	<key>newestEventTheme</key>
	<string>localizationShapeContrast</string>
	<key>newestTopicBottom</key>
	<string>explicitConvolutionValidation</string>
	<key>positionedDespiteSystem</key>
	<string>expandedFlyweightBottom</string>
	<key>primaryRouteAcceleration</key>
	<string>diffableProjectionHue</string>
</dict>
</plist>
