<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderActivityOpacity</key>
	<string>subscriptionDuringObserver</string>
	<key>concurrentHandlerIndex</key>
	<string>promisePrototypeOrigin</string>
	<key>keyTextLocation</key>
	<string>bufferAsParam</string>
	<key>lastSampleSpeed</key>
	<string>tappableSubscriptionTransparency</string>
	<key>pageviewAboutVariable</key>
	<string>nodeActionBottom</string>
	<key>techniqueFormCount</key>
	<string>sceneProxyDirection</string>
</dict>
</plist>
