<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonThroughWork</key>
	<string>reusableModulusSpacing</string>
	<key>dialogsStyleSkewx</key>
	<string>observerAsCycle</string>
	<key>gesturedetectorInterpreterAppearance</key>
	<string>agileCompletionStatus</string>
	<key>lazyDelegateDelay</key>
	<string>channelStrategyCount</string>
	<key>touchViaPattern</key>
	<string>disparateMultiplicationFrequency</string>
</dict>
</plist>
