<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoFlexDuration</key>
	<string>baseInsideFlyweight</string>
	<key>declarativeBaselineShape</key>
	<string>sophisticatedFutureAppearance</string>
	<key>fusedRouteAcceleration</key>
	<string>standaloneLayoutFormat</string>
	<key>gradientWorkPosition</key>
	<string>monsterContextEdge</string>
	<key>injectionScopeBottom</key>
	<string>spineActivityShade</string>
	<key>labelBesideDecorator</key>
	<string>navigatorFormMode</string>
	<key>timerMediatorTag</key>
	<string>sizedboxAgainstChain</string>
</dict>
</plist>
