<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawerBeyondObserver</key>
	<string>nativeTitleBorder</string>
	<key>extensionDespiteShape</key>
	<string>persistentGridScale</string>
	<key>mediumPromiseScale</key>
	<string>completerCycleFrequency</string>
	<key>pointExceptStage</key>
	<string>associatedLabelMode</string>
	<key>prevBehaviorTension</key>
	<string>rowBeyondBridge</string>
	<key>sizedboxContextResponse</key>
	<string>channelsInsideShape</string>
	<key>storageAtStructure</key>
	<string>originalWidgetRotation</string>
	<key>storyboardCycleOpacity</key>
	<string>featureLayerLeft</string>
	<key>subpixelModeIndex</key>
	<string>routeInterpreterState</string>
	<key>textureTempleInterval</key>
	<string>drawerPlatformState</string>
</dict>
</plist>
