<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityOfStyle</key>
	<string>queueAmongActivity</string>
	<key>animatedcontainerPlatformSkewy</key>
	<string>builderPerMode</string>
	<key>autoInterpolationLocation</key>
	<string>mobxJobSkewx</string>
	<key>compositionContainValue</key>
	<string>contractionParamValidation</string>
	<key>constraintLayerTop</key>
	<string>promiseFromFacade</string>
	<key>cosineChainStyle</key>
	<string>primaryFrameFeedback</string>
	<key>mediumSubscriptionHead</key>
	<string>segmentBridgeTag</string>
	<key>retainedTernaryEdge</key>
	<string>semanticExceptionOrientation</string>
</dict>
</plist>
