<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryWithTier</key>
	<string>managerThroughScope</string>
	<key>eventObserverRight</key>
	<string>sinkInsideType</string>
	<key>hardConvolutionBound</key>
	<string>instructionNearWork</string>
	<key>mediocreCapacitiesVisibility</key>
	<string>offsetSystemBound</string>
	<key>nodeAroundProcess</key>
	<string>singletonPhaseName</string>
	<key>relationalBorderContrast</key>
	<string>routerSinceLayer</string>
	<key>sliderBeyondForm</key>
	<string>variantNumberCount</string>
	<key>textFrameworkStyle</key>
	<string>basePlatformSize</string>
</dict>
</plist>
