<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellStageBorder</key>
	<string>otherAxisInset</string>
	<key>certificateStructureState</key>
	<string>zoneAwayTier</string>
	<key>coordinatorDecoratorOpacity</key>
	<string>largeUsecaseOpacity</string>
	<key>fusedMediaqueryVelocity</key>
	<string>utilViaStage</string>
	<key>gridEnvironmentTint</key>
	<string>dependencyAlongTemple</string>
	<key>mediumSignatureHue</key>
	<string>entropyStageColor</string>
	<key>mobileStorageOffset</key>
	<string>symmetricProfileStatus</string>
	<key>referenceOrProxy</key>
	<string>channelObserverColor</string>
	<key>sampleVersusSingleton</key>
	<string>memberContextDepth</string>
</dict>
</plist>
