<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncPerEnvironment</key>
	<string>loopDecoratorBehavior</string>
	<key>awaitMementoEdge</key>
	<string>explicitLabelValidation</string>
	<key>chartSingletonTop</key>
	<string>euclideanLabelTheme</string>
	<key>checkboxStyleTail</key>
	<string>reducerFrameworkScale</string>
	<key>dynamicRepositoryIndex</key>
	<string>numericalTimerMomentum</string>
	<key>featureMediatorTail</key>
	<string>adaptiveCurveInset</string>
	<key>hierarchicalLayerTop</key>
	<string>asynchronousNavigatorTop</string>
	<key>pageviewTypeFlags</key>
	<string>tappableCertificateMomentum</string>
	<key>rapidExtensionIndex</key>
	<string>bulletThroughNumber</string>
	<key>symmetricModalColor</key>
	<string>masterOutsideFlyweight</string>
</dict>
</plist>
