<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitValueSaturation</key>
	<string>tangentAroundKind</string>
	<key>difficultSpotColor</key>
	<string>accessibleTaskStatus</string>
	<key>eventSystemInset</key>
	<string>criticalTweenRight</string>
	<key>loopParameterKind</key>
	<string>unaryThanBuffer</string>
	<key>modelValueInterval</key>
	<string>sliderPhaseDistance</string>
	<key>persistentIconLocation</key>
	<string>firstToolAcceleration</string>
	<key>swiftAboutActivity</key>
	<string>relationalUtilMargin</string>
	<key>symmetricStreamFlags</key>
	<string>groupInState</string>
	<key>transitionStateFormat</key>
	<string>decorationLevelFlags</string>
</dict>
</plist>
