<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeLocalizationShape</key>
	<string>difficultChecklistVisibility</string>
	<key>clipperAndBuffer</key>
	<string>disabledFeatureVelocity</string>
	<key>cubeThanJob</key>
	<string>accordionStackDirection</string>
	<key>listenerShapeAlignment</key>
	<string>beginnerDelegateAppearance</string>
	<key>offsetDuringStage</key>
	<string>dropdownbuttonThanWork</string>
	<key>resizableAspectratioColor</key>
	<string>ephemeralSinkFlags</string>
	<key>sceneAmongActivity</key>
	<string>nibCompositeSpeed</string>
	<key>stampProcessLocation</key>
	<string>subpixelTempleBehavior</string>
	<key>textureAgainstPlatform</key>
	<string>persistentRiverpodMomentum</string>
</dict>
</plist>
