<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderWithoutVariable</key>
	<string>transformerVariableStatus</string>
	<key>bufferIncludeBridge</key>
	<string>uniformActionTop</string>
	<key>builderPerDecorator</key>
	<string>signMethodMargin</string>
	<key>cartesianSubscriptionDuration</key>
	<string>multiplicationTierAppearance</string>
	<key>durationKindRotation</key>
	<string>routerBeyondCommand</string>
	<key>geometricSpriteDistance</key>
	<string>cupertinoNearType</string>
	<key>granularShaderIndex</key>
	<string>frameForKind</string>
	<key>granularUsecaseCenter</key>
	<string>basicDecorationPadding</string>
	<key>routeVersusJob</key>
	<string>crudeRectShade</string>
	<key>textfieldAboutSystem</key>
	<string>subtleAppbarLeft</string>
</dict>
</plist>
