<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionCycleRate</key>
	<string>layoutVariableDuration</string>
	<key>commandAsStyle</key>
	<string>missedCatalystSkewx</string>
	<key>sequentialLoopHead</key>
	<string>mediaProcessBorder</string>
	<key>viewDespiteOperation</key>
	<string>subsequentPresenterTint</string>
</dict>
</plist>
