<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardStylePressure</key>
	<string>unsortedThreadValidation</string>
	<key>disabledUtilName</key>
	<string>materialStreamDepth</string>
	<key>futureLikeSingleton</key>
	<string>chartViaTemple</string>
	<key>gramOfType</key>
	<string>interactorPerPrototype</string>
	<key>immutableMetadataShape</key>
	<string>greatBoxshadowInterval</string>
	<key>mapWithStrategy</key>
	<string>tabbarLikeFacade</string>
	<key>robustChannelsFormat</key>
	<string>advancedFactoryCenter</string>
	<key>rowIncludePhase</key>
	<string>particleVarShape</string>
	<key>variantAgainstCommand</key>
	<string>subscriptionScopeShade</string>
</dict>
</plist>
