<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeTweenPressure</key>
	<string>dynamicEntityCenter</string>
	<key>dynamicMovementName</key>
	<string>rectSingletonColor</string>
	<key>hyperbolicGraphStatus</key>
	<string>singletonDespiteBuffer</string>
	<key>indicatorSinceNumber</key>
	<string>hyperbolicSizeLeft</string>
	<key>localizationAdapterMargin</key>
	<string>relationalControllerTension</string>
	<key>observerUntilStructure</key>
	<string>dimensionForCycle</string>
	<key>serviceJobFlags</key>
	<string>eagerSwiftStatus</string>
	<key>themeAboutState</key>
	<string>hardControllerStyle</string>
	<key>viewMediatorDelay</key>
	<string>boxByMemento</string>
</dict>
</plist>
