<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gradientChainSize</key>
	<string>inheritedDependencyInset</string>
	<key>heapDuringPrototype</key>
	<string>fragmentAwayAction</string>
	<key>mainSubpixelDirection</key>
	<string>resourceOutsideParameter</string>
	<key>missedWorkflowDelay</key>
	<string>greatLossInset</string>
	<key>statefulPresenterDensity</key>
	<string>textByFunction</string>
	<key>tabbarVisitorTag</key>
	<string>layoutOrMethod</string>
	<key>ternaryWorkPosition</key>
	<string>buttonJobVisibility</string>
</dict>
</plist>
