<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartViaProcess</key>
	<string>graphFrameworkMode</string>
	<key>gramOutsideLevel</key>
	<string>builderUntilPattern</string>
	<key>layerVariableSkewy</key>
	<string>sizedboxObserverTag</string>
	<key>similarInteractorTag</key>
	<string>actionVariableStyle</string>
	<key>sophisticatedContainerSpacing</key>
	<string>materialLevelBound</string>
	<key>spineBesideKind</key>
	<string>layoutFromMethod</string>
	<key>subpixelFlyweightShade</key>
	<string>techniqueBesideStrategy</string>
	<key>subpixelOutsideVisitor</key>
	<string>parallelCompleterAppearance</string>
</dict>
</plist>
