<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerJobCount</key>
	<string>crudeDocumentKind</string>
	<key>localizationWithoutStyle</key>
	<string>tickerBesideDecorator</string>
	<key>pivotalRiverpodDepth</key>
	<string>tabbarUntilPattern</string>
	<key>rapidSampleRight</key>
	<string>imageProcessState</string>
</dict>
</plist>
