<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mobileGemDepth</key>
	<string>workflowOfFlyweight</string>
	<key>mobxLikeStructure</key>
	<string>mainCurveMode</string>
	<key>workflowLevelState</key>
	<string>eagerRadioOrigin</string>
</dict>
</plist>
