<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>explicitDelegateDirection</key>
	<string>menuVersusVar</string>
	<key>routerTaskDepth</key>
	<string>robustFragmentDirection</string>
	<key>scrollModePosition</key>
	<string>nextMobileRate</string>
</dict>
</plist>
