<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxTaskCount</key>
	<string>reducerInsideStage</string>
	<key>completionBesidePlatform</key>
	<string>labelLayerStatus</string>
	<key>providerForFlyweight</key>
	<string>providerContainPattern</string>
	<key>reducerAroundObserver</key>
	<string>normByContext</string>
	<key>singletonShapeStatus</key>
	<string>cardNumberForce</string>
	<key>sliderSinceScope</key>
	<string>zoneMethodTransparency</string>
</dict>
</plist>
