<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentCompositeCoord</key>
	<string>observerLikeShape</string>
	<key>containerBesideBuffer</key>
	<string>exponentParamSkewy</string>
	<key>cursorEnvironmentLocation</key>
	<string>clipperIncludeScope</string>
	<key>explicitHeapDirection</key>
	<string>lastNavigatorPosition</string>
	<key>gridviewCycleOrigin</key>
	<string>grainDespiteFunction</string>
	<key>smartSpecifierCount</key>
	<string>localizationTaskLocation</string>
	<key>textureAsCycle</key>
	<string>unaryObserverScale</string>
</dict>
</plist>
