<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicCoordinatorTag</key>
	<string>kernelFormCoord</string>
	<key>intuitiveArithmeticBound</key>
	<string>variantInterpreterBottom</string>
	<key>otherNavigatorTheme</key>
	<string>groupShapeRotation</string>
	<key>previewFacadeOrigin</key>
	<string>menuMediatorRotation</string>
	<key>reducerInterpreterTop</key>
	<string>tangentBeyondTask</string>
	<key>resilientEntityPosition</key>
	<string>dialogsParamPressure</string>
	<key>tabviewAndParam</key>
	<string>entityPerActivity</string>
	<key>unsortedSensorContrast</key>
	<string>disparateResultCount</string>
</dict>
</plist>
