<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convolutionWorkRotation</key>
	<string>arithmeticResponseVisibility</string>
	<key>sustainableHistogramDelay</key>
	<string>modulusByInterpreter</string>
	<key>tensorStoryboardFrequency</key>
	<string>pivotalCallbackSaturation</string>
</dict>
</plist>
