<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eventWithStage</key>
	<string>sequentialPreviewCenter</string>
	<key>mapMethodContrast</key>
	<string>sizeAlongShape</string>
	<key>mapWorkFlags</key>
	<string>appbarLikeAction</string>
	<key>pinchableOperationLeft</key>
	<string>mutableDelegateMargin</string>
	<key>reducerAroundLayer</key>
	<string>storageStrategyContrast</string>
	<key>sessionDuringStage</key>
	<string>specifierTaskFrequency</string>
	<key>tangentCompositeStatus</key>
	<string>hashKindMomentum</string>
	<key>widgetFacadeStyle</key>
	<string>roleAtTask</string>
</dict>
</plist>
