<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeCallbackValidation</key>
	<string>mediumCoordinatorValidation</string>
	<key>draggableBuilderFlags</key>
	<string>modalStrategyVisibility</string>
	<key>fixedMovementType</key>
	<string>sizedboxWithKind</string>
	<key>flexibleEntityBottom</key>
	<string>crucialTextfieldStyle</string>
	<key>scaleAroundMode</key>
	<string>matrixVersusPattern</string>
	<key>sortedEffectTransparency</key>
	<string>hyperbolicResourceBottom</string>
	<key>symbolAboutContext</key>
	<string>adaptiveKernelMomentum</string>
	<key>techniqueDecoratorType</key>
	<string>aspectratioLikeVariable</string>
	<key>variantAdapterSaturation</key>
	<string>retainedHandlerCount</string>
</dict>
</plist>
