<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoBinaryForce</key>
	<string>baseAwayProxy</string>
	<key>frameIncludeAction</key>
	<string>descriptionMementoFrequency</string>
	<key>lostPromiseEdge</key>
	<string>resolverOfLevel</string>
	<key>popupPhaseCount</key>
	<string>labelProxySkewx</string>
	<key>sensorForBridge</key>
	<string>screenEnvironmentFrequency</string>
	<key>stackPlatformTheme</key>
	<string>brushContainType</string>
	<key>storeFromStage</key>
	<string>painterFlyweightBorder</string>
	<key>unsortedCubitPosition</key>
	<string>animationSingletonVisibility</string>
	<key>usecaseObserverLocation</key>
	<string>substantialResponseShape</string>
	<key>utilSinceTier</key>
	<string>webBatchShape</string>
</dict>
</plist>
