<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticInsideCommand</key>
	<string>cubitAwayStructure</string>
	<key>compositionExceptVariable</key>
	<string>sliderEnvironmentSpacing</string>
	<key>consultativeUnaryKind</key>
	<string>seamlessCubitDuration</string>
	<key>directConvolutionKind</key>
	<string>contractionVarHead</string>
	<key>projectionSinceContext</key>
	<string>utilExceptForm</string>
	<key>sinkActivityDistance</key>
	<string>commonDelegateStyle</string>
	<key>storageDecoratorCoord</key>
	<string>signSinceMode</string>
	<key>taskAgainstFacade</key>
	<string>queueThroughComposite</string>
	<key>transformerLayerVelocity</key>
	<string>nativeCoordinatorBorder</string>
</dict>
</plist>
