<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedCurveHead</key>
	<string>elasticTangentValidation</string>
	<key>animatedcontainerKindBorder</key>
	<string>prevPreviewContrast</string>
	<key>animatedcontainerShapeTag</key>
	<string>rectTempleValidation</string>
	<key>convolutionActivityHead</key>
	<string>smallFuturePosition</string>
	<key>diffablePositionStyle</key>
	<string>apertureNumberLeft</string>
	<key>isolateOperationContrast</key>
	<string>memberTierOrigin</string>
	<key>lastThreadFlags</key>
	<string>containerLikeLevel</string>
	<key>loopWorkFlags</key>
	<string>dedicatedBlocLeft</string>
	<key>previewBeyondMode</key>
	<string>cupertinoDescriptionShade</string>
	<key>queueTaskTransparency</key>
	<string>exponentPlatformBottom</string>
</dict>
</plist>
