<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferByStyle</key>
	<string>tabbarMementoMargin</string>
	<key>descriptorThanMethod</key>
	<string>taskTempleFlags</string>
	<key>iconAboutNumber</key>
	<string>alphaContainCycle</string>
	<key>interfaceOrStyle</key>
	<string>mainModulusTension</string>
	<key>progressbarMethodState</key>
	<string>statefulExtensionPressure</string>
	<key>resourceBridgeMargin</key>
	<string>cellMementoTension</string>
</dict>
</plist>
