<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleObserverRate</key>
	<string>advancedPopupPressure</string>
	<key>eagerGiftAppearance</key>
	<string>resizableControllerSpacing</string>
	<key>futureFunctionFormat</key>
	<string>modalIncludeStrategy</string>
	<key>loopModeContrast</key>
	<string>listenerTierTint</string>
	<key>navigatorValueRight</key>
	<string>elasticSessionSize</string>
</dict>
</plist>
