<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exceptionWorkTop</key>
	<string>arithmeticContainShape</string>
	<key>pivotalSlashOpacity</key>
	<string>greatInkwellAppearance</string>
	<key>textBridgeBorder</key>
	<string>deferredCursorDuration</string>
</dict>
</plist>
