<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionModeFeedback</key>
	<string>menuCommandColor</string>
	<key>descriptionUntilSingleton</key>
	<string>custompaintTaskCenter</string>
	<key>elasticLayoutStyle</key>
	<string>usageTaskHead</string>
	<key>fragmentAsContext</key>
	<string>menuTypeOrigin</string>
	<key>permissiveThemeBrightness</key>
	<string>denseTransformerFlags</string>
</dict>
</plist>
