<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintAlongTask</key>
	<string>activatedCallbackCount</string>
	<key>expandedCompositeMomentum</key>
	<string>animatedcontainerDecoratorSkewx</string>
	<key>metadataThanActivity</key>
	<string>gemNearBridge</string>
	<key>requestThroughType</key>
	<string>declarativeRadioKind</string>
	<key>resourceBufferBound</key>
	<string>cupertinoCharacterBottom</string>
</dict>
</plist>
