<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopProgressbarPressure</key>
	<string>cosineParameterInteraction</string>
	<key>drawerAboutVariable</key>
	<string>techniqueValueDistance</string>
	<key>exceptionStateTheme</key>
	<string>tweenVarTail</string>
	<key>featureAboutDecorator</key>
	<string>coordinatorAtType</string>
	<key>labelOutsideInterpreter</key>
	<string>optionWorkTransparency</string>
	<key>layoutWithoutEnvironment</key>
	<string>petNearObserver</string>
	<key>multiExceptionFrequency</key>
	<string>observerThroughVisitor</string>
	<key>navigatorExceptBuffer</key>
	<string>temporarySampleScale</string>
	<key>sliderDuringChain</key>
	<string>storeEnvironmentResponse</string>
	<key>sophisticatedQueueLocation</key>
	<string>requiredColumnDepth</string>
</dict>
</plist>
