<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartOperationMargin</key>
	<string>operationBesideBridge</string>
	<key>controllerForCommand</key>
	<string>hardDecorationLeft</string>
	<key>customMenuRight</key>
	<string>advancedPrecisionTag</string>
	<key>draggableSignMode</key>
	<string>smartCapacitiesBrightness</string>
	<key>heapExceptJob</key>
	<string>normOfMediator</string>
	<key>parallelCosineFlags</key>
	<string>resourceSystemBound</string>
	<key>rowIncludeMediator</key>
	<string>radioThanState</string>
	<key>staticActionType</key>
	<string>queueCommandInterval</string>
	<key>tappableRectTail</key>
	<string>materialCheckboxCoord</string>
	<key>temporaryScaffoldBottom</key>
	<string>otherContainerEdge</string>
</dict>
</plist>
