<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionByJob</key>
	<string>custompaintFunctionDepth</string>
	<key>controllerJobRight</key>
	<string>navigatorScopeInterval</string>
	<key>deferredConsumerVisibility</key>
	<string>baseWorkSkewy</string>
	<key>delegateForStage</key>
	<string>directlyNavigatorEdge</string>
	<key>effectSinceLayer</key>
	<string>fixedGetxKind</string>
	<key>fusedRepositoryDistance</key>
	<string>consumerCycleMomentum</string>
	<key>lastChallengeOrientation</key>
	<string>effectValueBorder</string>
	<key>materialViewKind</key>
	<string>grainModeRotation</string>
</dict>
</plist>
