<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeLikeState</key>
	<string>subpixelAroundKind</string>
	<key>documentThanStrategy</key>
	<string>observerInsideVar</string>
	<key>futureBeyondStage</key>
	<string>staticTextDepth</string>
	<key>injectionOrVariable</key>
	<string>zoneObserverSaturation</string>
	<key>statefulTaskSkewx</key>
	<string>referenceValueAlignment</string>
</dict>
</plist>
