<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxVersusFlyweight</key>
	<string>mediocreDecorationTheme</string>
	<key>callbackContainTemple</key>
	<string>activePetTop</string>
	<key>commonFutureBound</key>
	<string>inheritedImageCenter</string>
	<key>decorationCycleState</key>
	<string>discardedGroupStyle</string>
	<key>previewInPrototype</key>
	<string>opaqueNavigatorShade</string>
	<key>protectedCallbackOffset</key>
	<string>previewAroundValue</string>
	<key>routeMediatorBrightness</key>
	<string>constInjectionTail</string>
	<key>uniformBatchPressure</key>
	<string>managerPlatformValidation</string>
</dict>
</plist>
