<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperAwayMediator</key>
	<string>rectStructureTop</string>
	<key>consultativeCosineVisibility</key>
	<string>subpixelSystemKind</string>
	<key>diffableDelegateDuration</key>
	<string>constraintDespiteTier</string>
	<key>expandedAtKind</key>
	<string>singletonFormBorder</string>
	<key>iconBeyondProxy</key>
	<string>modulusSystemContrast</string>
	<key>radioFlyweightSize</key>
	<string>topicDuringShape</string>
	<key>tabviewAndPattern</key>
	<string>popupFunctionTag</string>
	<key>typicalInterfaceCoord</key>
	<string>sequentialSignPadding</string>
</dict>
</plist>
