<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedAlertDepth</key>
	<string>newestDrawerStatus</string>
	<key>columnNearBuffer</key>
	<string>interactorOutsideStrategy</string>
	<key>customizedLogarithmVelocity</key>
	<string>resilientTransformerBorder</string>
	<key>pivotalCompletionPressure</key>
	<string>activityMethodLeft</string>
</dict>
</plist>
