<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>independentSwitchDirection</key>
	<string>subtleSessionCount</string>
	<key>liteAnimationTop</key>
	<string>greatPromiseName</string>
	<key>pivotalProviderHead</key>
	<string>interactiveFutureType</string>
	<key>segmentLikeSystem</key>
	<string>cupertinoFacadeType</string>
</dict>
</plist>
