<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocUntilStage</key>
	<string>webResolverTop</string>
	<key>characterIncludeAction</key>
	<string>protectedResourceMargin</string>
	<key>chartDuringCommand</key>
	<string>injectionVarTheme</string>
	<key>diversifiedCellName</key>
	<string>unactivatedBufferPadding</string>
	<key>missionBesideSystem</key>
	<string>configurationCompositeSkewx</string>
	<key>otherConstraintEdge</key>
	<string>metadataVersusStage</string>
	<key>resilientSizeLeft</key>
	<string>remainderWithoutAction</string>
	<key>routeAwayPhase</key>
	<string>positionVariableFlags</string>
	<key>utilLayerHead</key>
	<string>progressbarWithoutBuffer</string>
</dict>
</plist>
