<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardAdapterPressure</key>
	<string>textBeyondComposite</string>
	<key>controllerFrameworkOrigin</key>
	<string>easyInjectionMode</string>
	<key>convolutionDespiteValue</key>
	<string>tableBesideStyle</string>
	<key>diffableButtonTail</key>
	<string>modulusFromFacade</string>
	<key>getxBesideObserver</key>
	<string>subpixelChainTransparency</string>
	<key>prismaticStateCenter</key>
	<string>pageviewFlyweightBrightness</string>
	<key>routeProcessContrast</key>
	<string>grainByDecorator</string>
	<key>sliderTypeDensity</key>
	<string>resourceTierInteraction</string>
	<key>storageValueForce</key>
	<string>widgetForAction</string>
	<key>zoneBufferAcceleration</key>
	<string>dependencyVarScale</string>
</dict>
</plist>
