<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamicEffectPadding</key>
	<string>temporaryBoxTop</string>
	<key>errorAndSingleton</key>
	<string>ternaryProcessInset</string>
	<key>flexibleAlignmentStyle</key>
	<string>reactiveAnimationMode</string>
	<key>reusableChallengeKind</key>
	<string>multiplicationMethodVisibility</string>
	<key>taskOutsideProcess</key>
	<string>accordionFrameTop</string>
</dict>
</plist>
