<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellBeyondObserver</key>
	<string>functionalReducerRight</string>
	<key>geometricCompleterSize</key>
	<string>prevAwaitFormat</string>
	<key>multiCurveDirection</key>
	<string>resolverByMode</string>
	<key>paddingProcessPressure</key>
	<string>optimizerShapeFormat</string>
	<key>sharedNodeIndex</key>
	<string>persistentEntityDuration</string>
	<key>storeTempleName</key>
	<string>inactiveCubitTop</string>
	<key>substantialImageAppearance</key>
	<string>groupAmongType</string>
</dict>
</plist>
