<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationDuringAdapter</key>
	<string>storageAndDecorator</string>
	<key>pinchableBinaryFlags</key>
	<string>firstRouteFeedback</string>
	<key>sortedRepositoryDepth</key>
	<string>integerKindTension</string>
</dict>
</plist>
