<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentModelKind</key>
	<string>statefulDespiteNumber</string>
	<key>expandedWithFlyweight</key>
	<string>transformerOfChain</string>
	<key>flexibleDrawerDensity</key>
	<string>statefulLayerAppearance</string>
	<key>independentSliderPressure</key>
	<string>unsortedActionDirection</string>
	<key>listenerShapeStyle</key>
	<string>stateLevelName</string>
	<key>logVariableCoord</key>
	<string>errorContextMomentum</string>
	<key>previewStrategyAcceleration</key>
	<string>gridviewLikeChain</string>
	<key>spotIncludeParameter</key>
	<string>remainderStrategyDelay</string>
	<key>stackInValue</key>
	<string>painterStructureTheme</string>
	<key>utilPlatformRate</key>
	<string>newestAnchorMomentum</string>
</dict>
</plist>
