<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintCommandName</key>
	<string>stepActivityRotation</string>
	<key>cursorDecoratorVelocity</key>
	<string>cardStyleDuration</string>
	<key>menuFlyweightPressure</key>
	<string>responseTierDensity</string>
	<key>queryMediatorBottom</key>
	<string>alphaKindOpacity</string>
	<key>requestAtMethod</key>
	<string>rectAndPrototype</string>
	<key>specifierViaProxy</key>
	<string>extensionInterpreterBehavior</string>
	<key>statefulFlexDensity</key>
	<string>axisWithBridge</string>
	<key>typicalButtonOffset</key>
	<string>commandNearBridge</string>
	<key>utilStyleVisible</key>
	<string>textfieldByTask</string>
</dict>
</plist>
