<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseSingletonType</key>
	<string>immutableGraphicInteraction</string>
	<key>columnDuringFacade</key>
	<string>responsiveProgressbarDepth</string>
	<key>effectAboutObserver</key>
	<string>sinkThroughForm</string>
	<key>extensionAboutEnvironment</key>
	<string>managerBesideStructure</string>
	<key>mobileParticleState</key>
	<string>getxUntilValue</string>
	<key>progressbarSinceMemento</key>
	<string>granularGraphicBrightness</string>
	<key>resizableChartTag</key>
	<string>taskOutsideScope</string>
	<key>semanticMethodForce</key>
	<string>materialExceptStrategy</string>
	<key>singleOptimizerInterval</key>
	<string>usecaseOutsideSingleton</string>
</dict>
</plist>
