<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationStructureBorder</key>
	<string>fragmentBeyondCommand</string>
	<key>popupTierBrightness</key>
	<string>assetWithFlyweight</string>
	<key>reactiveFutureHead</key>
	<string>pinchableTabviewColor</string>
	<key>serviceWithStage</key>
	<string>arithmeticAnimationOrigin</string>
	<key>switchMediatorStatus</key>
	<string>gridviewCycleIndex</string>
</dict>
</plist>
