<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionViewLocation</key>
	<string>pageviewCompositeShape</string>
	<key>adaptiveCurveMode</key>
	<string>layoutActivityShade</string>
	<key>decorationBesideWork</key>
	<string>petWithoutCycle</string>
	<key>directlyRectTag</key>
	<string>providerThanLayer</string>
	<key>interfaceDecoratorOrientation</key>
	<string>pivotalExtensionTop</string>
	<key>memberFlyweightCoord</key>
	<string>managerBesideEnvironment</string>
	<key>signEnvironmentSpacing</key>
	<string>adaptiveGraphCenter</string>
	<key>swiftBridgeMargin</key>
	<string>builderDecoratorFrequency</string>
	<key>tableBesideForm</key>
	<string>uniqueBaselineDepth</string>
</dict>
</plist>
