<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationInterpreterTop</key>
	<string>buttonContainLevel</string>
	<key>consultativeChallengeRight</key>
	<string>composableGroupLeft</string>
	<key>inheritedTaskMargin</key>
	<string>iconFrameworkMargin</string>
	<key>numericalObserverInset</key>
	<string>threadUntilJob</string>
	<key>projectCommandOpacity</key>
	<string>fragmentAboutInterpreter</string>
	<key>protocolContextResponse</key>
	<string>observerExceptJob</string>
	<key>protocolTempleOrigin</key>
	<string>cubeLikeAction</string>
	<key>stampThroughMediator</key>
	<string>serviceFrameworkContrast</string>
</dict>
</plist>
