<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalLabelFeedback</key>
	<string>widgetSingletonDensity</string>
	<key>hashAtStrategy</key>
	<string>hardRequestSize</string>
	<key>labelOutsideCommand</key>
	<string>animationForValue</string>
	<key>prismaticAwaitOrigin</key>
	<string>themeStrategyHead</string>
</dict>
</plist>
