<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentMethodSpeed</key>
	<string>viewStructureHue</string>
	<key>collectionExceptInterpreter</key>
	<string>specifyCompositionAcceleration</string>
	<key>dynamicPositionTransparency</key>
	<string>alignmentCommandForce</string>
	<key>originalOperationScale</key>
	<string>baselineBeyondBuffer</string>
	<key>permanentManagerVisible</key>
	<string>effectMediatorTension</string>
	<key>projectionEnvironmentCenter</key>
	<string>repositoryVersusActivity</string>
	<key>resourceDespiteWork</key>
	<string>futureWorkPadding</string>
	<key>staticSizeMode</key>
	<string>seamlessMemberVisibility</string>
</dict>
</plist>
