<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileCubitHue</key>
	<string>techniqueByType</string>
	<key>behaviorAmongChain</key>
	<string>resourceTempleBottom</string>
	<key>capsuleAmongKind</key>
	<string>viewCommandBound</string>
	<key>channelNumberRate</key>
	<string>mediocreScrollShape</string>
	<key>priorDependencyVisible</key>
	<string>metadataDecoratorRate</string>
	<key>threadCommandOrigin</key>
	<string>rectViaKind</string>
</dict>
</plist>
