<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferAlongPlatform</key>
	<string>isolatePlatformBrightness</string>
	<key>dependencyFromStyle</key>
	<string>histogramAlongAdapter</string>
	<key>frameDespiteState</key>
	<string>storeAmongObserver</string>
	<key>intensityExceptPlatform</key>
	<string>pointActionFrequency</string>
	<key>oldDurationMomentum</key>
	<string>alphaVisitorHue</string>
</dict>
</plist>
