<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleSizeState</key>
	<string>intermediateNavigatorIndex</string>
	<key>consumerDuringMediator</key>
	<string>enabledActivityTint</string>
	<key>matrixLikeStrategy</key>
	<string>monsterWithoutScope</string>
	<key>optimizerPerTemple</key>
	<string>chartScopeDensity</string>
	<key>popupThanStrategy</key>
	<string>nextObserverSkewx</string>
	<key>specifyLogarithmScale</key>
	<string>disparateVectorPressure</string>
	<key>taskPlatformLeft</key>
	<string>iterativeCaptionRotation</string>
	<key>textOrSingleton</key>
	<string>pointNumberSpacing</string>
</dict>
</plist>
