<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelAtPlatform</key>
	<string>similarTransitionCount</string>
	<key>exponentActivityTag</key>
	<string>collectionNumberSize</string>
	<key>immediateDescriptorEdge</key>
	<string>statelessProxyScale</string>
	<key>offsetDuringState</key>
	<string>diffableColumnTransparency</string>
	<key>queryActionSaturation</key>
	<string>localizationAdapterIndex</string>
	<key>stampObserverBrightness</key>
	<string>variantAwayTemple</string>
	<key>statelessShapeEdge</key>
	<string>fragmentCompositeInset</string>
	<key>workflowFlyweightPressure</key>
	<string>indicatorInTemple</string>
</dict>
</plist>
