<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveStateSpacing</key>
	<string>visibleTechniqueTag</string>
	<key>diffableDialogsCount</key>
	<string>boxValuePressure</string>
	<key>resolverFlyweightLeft</key>
	<string>callbackThroughCommand</string>
	<key>retainedBlocTheme</key>
	<string>widgetInsideBridge</string>
	<key>textfieldWorkPressure</key>
	<string>spineAtPhase</string>
</dict>
</plist>
