<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerChecklistMode</key>
	<string>mobileDurationAcceleration</string>
	<key>certificatePhaseInteraction</key>
	<string>labelDecoratorSpacing</string>
	<key>commandBeyondCycle</key>
	<string>themeInFramework</string>
	<key>crudeConstraintVelocity</key>
	<string>notificationAndTemple</string>
	<key>desktopLayerOffset</key>
	<string>effectOperationInteraction</string>
	<key>keyWidgetBottom</key>
	<string>progressbarSinceProcess</string>
	<key>painterNearFacade</key>
	<string>beginnerReferenceHue</string>
	<key>spriteValuePadding</key>
	<string>overlayOutsideParameter</string>
</dict>
</plist>
