<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertStatePosition</key>
	<string>capsuleNumberSkewx</string>
	<key>cubitDuringParam</key>
	<string>futureThroughChain</string>
	<key>nextBufferTag</key>
	<string>reductionShapeLocation</string>
	<key>observerMediatorSpeed</key>
	<string>finalContainerFlags</string>
	<key>parallelTableDirection</key>
	<string>currentNotificationHue</string>
	<key>semanticsContainPhase</key>
	<string>radiusOutsidePlatform</string>
</dict>
</plist>
