<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioAboutParameter</key>
	<string>sampleThroughOperation</string>
	<key>configurationJobFormat</key>
	<string>constStoreLocation</string>
	<key>inactiveSpriteDensity</key>
	<string>visibleStorageShade</string>
	<key>loopAlongProcess</key>
	<string>modalFacadeAlignment</string>
	<key>shaderScopeVisible</key>
	<string>contractionNearLevel</string>
	<key>uniqueVectorDepth</key>
	<string>dynamicCallbackCoord</string>
</dict>
</plist>
