<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entropyParameterTop</key>
	<string>observerBeyondTier</string>
	<key>expandedFromInterpreter</key>
	<string>constDecorationFrequency</string>
	<key>isolateAlongFlyweight</key>
	<string>unactivatedViewCoord</string>
	<key>mediaqueryVarPosition</key>
	<string>streamThroughMethod</string>
	<key>serviceActionFlags</key>
	<string>symbolVersusInterpreter</string>
</dict>
</plist>
