<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionBesideOperation</key>
	<string>menuOfMode</string>
	<key>movementIncludeStructure</key>
	<string>switchStructureResponse</string>
	<key>observerOrVariable</key>
	<string>unsortedRadiusSize</string>
	<key>paddingInsideVariable</key>
	<string>capsuleAlongScope</string>
	<key>routeWithoutMode</key>
	<string>cursorAgainstParameter</string>
	<key>sceneStructureLocation</key>
	<string>memberStageTag</string>
</dict>
</plist>
