<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncHandlerColor</key>
	<string>titleDuringBuffer</string>
	<key>channelScopeFormat</key>
	<string>navigatorVersusMode</string>
	<key>flexVarTheme</key>
	<string>inkwellWithInterpreter</string>
	<key>futureAroundBuffer</key>
	<string>oldListviewEdge</string>
	<key>referenceActionContrast</key>
	<string>declarativeSkinName</string>
	<key>routeWorkSize</key>
	<string>storeFunctionIndex</string>
	<key>routerPerCommand</key>
	<string>tickerSingletonInset</string>
</dict>
</plist>
