<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaVarVelocity</key>
	<string>resolverVersusVisitor</string>
	<key>bulletByComposite</key>
	<string>tweenBufferVisibility</string>
	<key>compositionPerType</key>
	<string>respectiveAperturePosition</string>
	<key>desktopConstraintAcceleration</key>
	<string>largeZoneRotation</string>
	<key>globalSignatureBottom</key>
	<string>lazyProviderEdge</string>
	<key>injectionJobKind</key>
	<string>materialGroupVelocity</string>
	<key>normBeyondValue</key>
	<string>routeExceptDecorator</string>
	<key>queryVariableInterval</key>
	<string>routerPlatformAcceleration</string>
	<key>resourceJobType</key>
	<string>agileStorageCount</string>
	<key>serviceContextTransparency</key>
	<string>mainCallbackCoord</string>
</dict>
</plist>
