<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionValueFlags</key>
	<string>backwardSwiftDirection</string>
	<key>globalCurveSaturation</key>
	<string>getxForChain</string>
	<key>semanticBufferState</key>
	<string>interactiveChartValidation</string>
	<key>subtleConfigurationPosition</key>
	<string>hyperbolicObserverBound</string>
	<key>uniformFactoryFlags</key>
	<string>resourceValueColor</string>
</dict>
</plist>
