<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheDecoratorAlignment</key>
	<string>substantialAppbarAlignment</string>
	<key>channelAlongVar</key>
	<string>graphicOperationState</string>
	<key>matrixOutsideProxy</key>
	<string>serviceForFlyweight</string>
	<key>numericalRoleAcceleration</key>
	<string>streamContainJob</string>
	<key>profileAboutBuffer</key>
	<string>sceneEnvironmentValidation</string>
	<key>resolverStyleAcceleration</key>
	<string>resizableReductionContrast</string>
	<key>touchOutsideComposite</key>
	<string>dimensionProcessMode</string>
	<key>visibleReductionLocation</key>
	<string>customizedMediaqueryKind</string>
</dict>
</plist>
