<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criticalBehaviorVisibility</key>
	<string>masterDuringLevel</string>
	<key>directlyHeapStyle</key>
	<string>listenerAdapterFeedback</string>
	<key>featureExceptInterpreter</key>
	<string>positionOutsideShape</string>
	<key>futureParameterVisibility</key>
	<string>subscriptionAdapterShape</string>
	<key>logStateVisible</key>
	<string>operationAgainstAction</string>
	<key>originalTransformerSpeed</key>
	<string>currentPrecisionBorder</string>
	<key>statelessObserverPressure</key>
	<string>variantLikeMode</string>
</dict>
</plist>
