<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonAsStyle</key>
	<string>binaryCycleDepth</string>
	<key>pinchableSliderAppearance</key>
	<string>tabbarNearScope</string>
	<key>positionedAboutContext</key>
	<string>autoObserverBound</string>
	<key>positionedVariableTension</key>
	<string>mobileGramAppearance</string>
	<key>robustOptimizerTint</key>
	<string>methodStageMomentum</string>
	<key>sortedProjectionTop</key>
	<string>symbolNearState</string>
</dict>
</plist>
