<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorLikeParam</key>
	<string>baseAlongFlyweight</string>
	<key>containerFunctionValidation</key>
	<string>requestBeyondStyle</string>
	<key>intensityFormShape</key>
	<string>singleLayoutBehavior</string>
	<key>spineUntilMediator</key>
	<string>delicateControllerFormat</string>
	<key>sustainableIntensityTail</key>
	<string>eventWithoutPlatform</string>
</dict>
</plist>
