<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoStreamTint</key>
	<string>documentAtNumber</string>
	<key>bufferAndSystem</key>
	<string>missedTweenTheme</string>
	<key>dimensionContextBorder</key>
	<string>resourceKindAlignment</string>
	<key>directPreviewRate</key>
	<string>cardWithCycle</string>
	<key>firstMenuVelocity</key>
	<string>segmentOutsidePattern</string>
	<key>observerStageSpacing</key>
	<string>threadFlyweightValidation</string>
	<key>positionedStyleVisible</key>
	<string>precisionIncludePlatform</string>
	<key>rowThanTier</key>
	<string>interactiveConfigurationStyle</string>
	<key>singleClipperForce</key>
	<string>curveNumberFlags</string>
</dict>
</plist>
