<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionStepDirection</key>
	<string>histogramInsideStyle</string>
	<key>crucialLoopSkewy</key>
	<string>toolViaActivity</string>
	<key>nodePatternOrientation</key>
	<string>stackCycleScale</string>
	<key>pinchableLabelFeedback</key>
	<string>pivotalProviderAcceleration</string>
	<key>projectionStageSkewx</key>
	<string>immediateProtocolFlags</string>
	<key>resourceAgainstMode</key>
	<string>cubeAgainstShape</string>
	<key>robustCheckboxPadding</key>
	<string>histogramShapeSaturation</string>
	<key>sortedDecorationInset</key>
	<string>temporaryBinaryValidation</string>
	<key>substantialTransformerSkewy</key>
	<string>effectBridgeDistance</string>
	<key>titleAwaySingleton</key>
	<string>cycleAroundContext</string>
</dict>
</plist>
