<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushBesideFramework</key>
	<string>rectAdapterState</string>
	<key>hardOptimizerDelay</key>
	<string>movementOrStyle</string>
	<key>labelBufferRight</key>
	<string>managerExceptAction</string>
	<key>labelDuringWork</key>
	<string>sortedWorkflowResponse</string>
	<key>lazySceneTransparency</key>
	<string>semanticWidgetMargin</string>
	<key>specifierFlyweightSpacing</key>
	<string>movementMementoOrientation</string>
</dict>
</plist>
