<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedCapsuleBehavior</key>
	<string>advancedDurationHead</string>
	<key>completerActionBottom</key>
	<string>transitionAmongTier</string>
	<key>listenerInStrategy</key>
	<string>deferredTableAlignment</string>
	<key>nativeCatalystSkewy</key>
	<string>asynchronousModelFrequency</string>
	<key>navigatorScopeCount</key>
	<string>statelessDuringStyle</string>
	<key>observerContainParameter</key>
	<string>drawerMediatorPosition</string>
	<key>opaqueEqualizationBound</key>
	<string>requestFunctionHue</string>
	<key>originalNotifierInset</key>
	<string>monsterExceptContext</string>
	<key>similarLoopScale</key>
	<string>interactorSinceSystem</string>
</dict>
</plist>
