<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedPreviewInteraction</key>
	<string>prevThreadTransparency</string>
	<key>crudeVectorInterval</key>
	<string>serviceFrameworkColor</string>
	<key>lossAroundVariable</key>
	<string>controllerTierRotation</string>
	<key>memberMementoLocation</key>
	<string>requestMethodCoord</string>
	<key>popupWithValue</key>
	<string>reusableNotificationLocation</string>
	<key>progressbarSinceChain</key>
	<string>subsequentTextfieldPressure</string>
	<key>protectedRectInterval</key>
	<string>comprehensiveOptionType</string>
</dict>
</plist>
