<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedSymbolEdge</key>
	<string>bufferThanValue</string>
	<key>buttonDecoratorBound</key>
	<string>ignoredHeroFrequency</string>
	<key>particleCompositeSize</key>
	<string>elasticMissionEdge</string>
	<key>taskOutsidePlatform</key>
	<string>borderTierAlignment</string>
	<key>timerParamBorder</key>
	<string>textDuringPhase</string>
	<key>transformerWithFramework</key>
	<string>logSystemSaturation</string>
	<key>variantAwayPhase</key>
	<string>uniformResourceRight</string>
</dict>
</plist>
