<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveAlongMethod</key>
	<string>materialDelegateHead</string>
	<key>hierarchicalDescriptionTint</key>
	<string>semanticsStructureLeft</string>
	<key>immutableCurveFlags</key>
	<string>reactiveBlocSpeed</string>
	<key>injectionOrMethod</key>
	<string>radiusDecoratorDirection</string>
	<key>mobileCompositionVelocity</key>
	<string>compositionSinceTemple</string>
	<key>sizeFacadeInteraction</key>
	<string>factoryForMethod</string>
	<key>storyboardByStage</key>
	<string>normalCoordinatorValidation</string>
	<key>unsortedTangentVelocity</key>
	<string>positionedFromBridge</string>
</dict>
</plist>
