<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleBoxBound</key>
	<string>visibleTabbarDensity</string>
	<key>agilePresenterContrast</key>
	<string>requestWithoutSingleton</string>
	<key>currentPresenterAlignment</key>
	<string>workflowSystemSpacing</string>
	<key>granularApertureState</key>
	<string>apertureStructureShade</string>
	<key>isolateCommandDelay</key>
	<string>observerTypeShape</string>
	<key>monsterPatternInset</key>
	<string>grainStrategyBehavior</string>
	<key>particleCycleInset</key>
	<string>explicitNavigatorDensity</string>
	<key>responseCommandLeft</key>
	<string>expandedParamBehavior</string>
	<key>smallTableOffset</key>
	<string>brushForDecorator</string>
</dict>
</plist>
