<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationDecoratorPadding</key>
	<string>tweenPlatformSpeed</string>
	<key>arithmeticNormResponse</key>
	<string>variantForSingleton</string>
	<key>asyncInterpreterLocation</key>
	<string>serviceDespiteVisitor</string>
	<key>crudeNibDelay</key>
	<string>bufferAtFunction</string>
	<key>curveStructureTail</key>
	<string>containerEnvironmentHead</string>
	<key>normStageTint</key>
	<string>isolateEnvironmentState</string>
	<key>requestLayerFeedback</key>
	<string>musicAroundShape</string>
	<key>viewCompositeTension</key>
	<string>animationFormOffset</string>
</dict>
</plist>
