<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousServiceSpeed</key>
	<string>functionalTabviewPressure</string>
	<key>certificateStrategyTransparency</key>
	<string>dynamicSkirtLeft</string>
	<key>hierarchicalChapterTransparency</key>
	<string>modelAndFramework</string>
	<key>mediocreFragmentFeedback</key>
	<string>plateAdapterIndex</string>
	<key>navigatorDecoratorDensity</key>
	<string>pinchableTimerVisibility</string>
</dict>
</plist>
