<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorVarMargin</key>
	<string>unactivatedAspectratioSize</string>
	<key>awaitDecoratorBrightness</key>
	<string>sinkInsideTier</string>
	<key>currentNibInset</key>
	<string>sceneSincePhase</string>
	<key>desktopThemeColor</key>
	<string>cacheBridgeDepth</string>
	<key>expandedStrategyKind</key>
	<string>rowAsState</string>
	<key>nativeGridviewOpacity</key>
	<string>persistentScaffoldAcceleration</string>
	<key>skirtVersusFunction</key>
	<string>exceptionMementoDirection</string>
</dict>
</plist>
