<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>layoutDespitePhase</key>
	<string>segueBufferFlags</string>
	<key>mainSpineTint</key>
	<string>enabledLayoutRate</string>
	<key>queryAroundParameter</key>
	<string>deferredInterpolationPressure</string>
	<key>semanticAspectratioBehavior</key>
	<string>zoneVisitorHue</string>
	<key>semanticConsumerCount</key>
	<string>modulusInsideProxy</string>
	<key>taskTaskHead</key>
	<string>tickerStageAlignment</string>
	<key>titleKindDuration</key>
	<string>nodeNumberColor</string>
</dict>
</plist>
