<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetValueOffset</key>
	<string>controllerTypeSkewx</string>
	<key>composableChannelBehavior</key>
	<string>parallelDurationDirection</string>
	<key>futureOutsideNumber</key>
	<string>matrixSinceType</string>
	<key>intensityLikeVisitor</key>
	<string>autoCoordinatorDirection</string>
	<key>mediocreBlocForce</key>
	<string>diffableViewStyle</string>
	<key>metadataSystemVisibility</key>
	<string>materialSubscriptionIndex</string>
	<key>permanentDrawerBound</key>
	<string>titleIncludeProxy</string>
	<key>statelessGrainSpeed</key>
	<string>backwardTangentFlags</string>
	<key>textParameterTop</key>
	<string>curveShapeTension</string>
</dict>
</plist>
