<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationEnvironmentType</key>
	<string>mutableLabelOrientation</string>
	<key>layerInsideCycle</key>
	<string>utilTaskStyle</string>
	<key>loopNumberDepth</key>
	<string>persistentIntegerHue</string>
	<key>popupSinceProcess</key>
	<string>previewMethodForce</string>
	<key>variantBridgeAlignment</key>
	<string>firstTechniqueMode</string>
</dict>
</plist>
