<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityAtShape</key>
	<string>coordinatorKindAlignment</string>
	<key>cellAlongObserver</key>
	<string>transformerThroughTemple</string>
	<key>isolateBesidePhase</key>
	<string>skirtValueDuration</string>
	<key>nodeTempleBound</key>
	<string>isolateAtFunction</string>
	<key>rapidDurationBorder</key>
	<string>getxWithoutAdapter</string>
	<key>sampleShapeOpacity</key>
	<string>priorTextureBound</string>
	<key>singleAsyncBound</key>
	<string>vectorLikeProxy</string>
	<key>threadCycleBound</key>
	<string>resizableSpriteInteraction</string>
	<key>tweenSingletonFrequency</key>
	<string>displayableTextName</string>
</dict>
</plist>
