<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintExceptTemple</key>
	<string>cubitParamState</string>
	<key>storeWithoutFunction</key>
	<string>mapFacadeAlignment</string>
	<key>streamLikeFacade</key>
	<string>binaryInState</string>
	<key>symmetricPageviewPosition</key>
	<string>protocolFacadeOpacity</string>
</dict>
</plist>
