<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedTableOrientation</key>
	<string>transitionSinceProxy</string>
	<key>capsuleMementoLocation</key>
	<string>loopKindDensity</string>
	<key>challengeMediatorCoord</key>
	<string>storeWithKind</string>
	<key>dropdownbuttonKindTheme</key>
	<string>unsortedThreadTail</string>
	<key>injectionAtParam</key>
	<string>compositionalModulusOrigin</string>
	<key>streamAwayForm</key>
	<string>secondNotificationName</string>
	<key>subsequentPreviewRotation</key>
	<string>otherManagerRight</string>
	<key>substantialOffsetFrequency</key>
	<string>repositoryNearChain</string>
	<key>widgetChainHue</key>
	<string>petFunctionTag</string>
</dict>
</plist>
