<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerUntilPrototype</key>
	<string>activeUtilHue</string>
	<key>buttonActivityIndex</key>
	<string>animationOrStrategy</string>
	<key>containerAgainstStage</key>
	<string>batchVisitorBorder</string>
	<key>controllerStrategySkewx</key>
	<string>usedGrayscaleDepth</string>
	<key>multiplicationByComposite</key>
	<string>diversifiedTweenShade</string>
	<key>standaloneContainerTransparency</key>
	<string>comprehensiveFeatureBound</string>
	<key>stateContextBottom</key>
	<string>errorBesideStage</string>
	<key>viewChainPosition</key>
	<string>visibleTabviewFrequency</string>
</dict>
</plist>
