<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorOutsideTemple</key>
	<string>resourceStructureKind</string>
	<key>contractionStyleTag</key>
	<string>graphVersusWork</string>
	<key>publicDescriptionKind</key>
	<string>coordinatorParamMargin</string>
	<key>signatureTypeFrequency</key>
	<string>cosineIncludeChain</string>
</dict>
</plist>
