<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keyMediaqueryBorder</key>
	<string>beginnerRadiusAcceleration</string>
	<key>opaqueLoopFrequency</key>
	<string>functionalGrainMargin</string>
	<key>popupVisitorFeedback</key>
	<string>mainProviderFlags</string>
	<key>similarOverlayDepth</key>
	<string>catalystSingletonState</string>
</dict>
</plist>
