<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationScopeBehavior</key>
	<string>advancedSwitchMomentum</string>
	<key>autoIsolateTension</key>
	<string>sliderIncludeChain</string>
	<key>capacitiesDecoratorCenter</key>
	<string>crudeInterpolationMomentum</string>
	<key>constraintVariableScale</key>
	<string>variantStructureHead</string>
	<key>cupertinoConvolutionSpeed</key>
	<string>baseContextStatus</string>
	<key>mutableProviderStatus</key>
	<string>indicatorUntilFlyweight</string>
	<key>parallelUtilBottom</key>
	<string>completionVarTension</string>
	<key>precisionDuringValue</key>
	<string>iconFromFramework</string>
	<key>sinkPerStage</key>
	<string>durationFromWork</string>
	<key>subscriptionAlongShape</key>
	<string>blocThroughWork</string>
</dict>
</plist>
