<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousBulletHue</key>
	<string>playbackPlatformPressure</string>
	<key>dialogsThanInterpreter</key>
	<string>scaleFacadeCoord</string>
	<key>exponentInterpreterTransparency</key>
	<string>utilLevelForce</string>
	<key>observerParameterSkewx</key>
	<string>observerProcessBottom</string>
	<key>publicCertificateHead</key>
	<string>reactiveSubpixelVisibility</string>
	<key>reactiveBuilderColor</key>
	<string>transitionFacadeTransparency</string>
	<key>resourceOutsideType</key>
	<string>petProxyDuration</string>
	<key>smallAssetRate</key>
	<string>elasticResultRate</string>
	<key>smallModelInset</key>
	<string>layerMementoSize</string>
</dict>
</plist>
