<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerPhaseName</key>
	<string>priorTextfieldState</string>
	<key>dedicatedIntegerCoord</key>
	<string>effectSincePrototype</string>
	<key>futureVariableSpacing</key>
	<string>imperativeManagerCenter</string>
	<key>globalChartType</key>
	<string>pointActionType</string>
	<key>intuitiveBulletVisible</key>
	<string>layoutStageFeedback</string>
	<key>oldTextBrightness</key>
	<string>usageActivityAppearance</string>
	<key>sceneScopeState</key>
	<string>slashFromDecorator</string>
	<key>temporaryMediaqueryRotation</key>
	<string>toolAmongStrategy</string>
</dict>
</plist>
