<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateAgainstMediator</key>
	<string>delegateAdapterShade</string>
	<key>chartSingletonCenter</key>
	<string>offsetDuringStructure</string>
	<key>exceptionValueBorder</key>
	<string>managerFlyweightSize</string>
	<key>factoryVisitorStyle</key>
	<string>backwardLocalizationFeedback</string>
	<key>greatDependencySpeed</key>
	<string>coordinatorObserverDistance</string>
	<key>hashModeRate</key>
	<string>sizeOutsideActivity</string>
	<key>presenterAdapterTransparency</key>
	<string>commandMediatorPadding</string>
	<key>publicModalTint</key>
	<string>layerLikeType</string>
</dict>
</plist>
