<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>errorCommandRotation</key>
	<string>diversifiedCacheBorder</string>
	<key>mediaPerSystem</key>
	<string>playbackFromLayer</string>
	<key>nibAtLayer</key>
	<string>interfaceProxyBorder</string>
	<key>workflowVariableEdge</key>
	<string>subpixelVariableMomentum</string>
</dict>
</plist>
