<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesDecoratorTension</key>
	<string>storeWithVisitor</string>
	<key>containerOutsideKind</key>
	<string>listviewLevelScale</string>
	<key>drawerMementoVisibility</key>
	<string>resilientResourceName</string>
	<key>lossTierAcceleration</key>
	<string>mainChannelsCount</string>
	<key>offsetWithCycle</key>
	<string>utilVariableBound</string>
	<key>plateObserverBehavior</key>
	<string>singleEventDirection</string>
	<key>viewMediatorType</key>
	<string>positionActionAlignment</string>
</dict>
</plist>
