<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleLabelIndex</key>
	<string>localizationEnvironmentDirection</string>
	<key>capacitiesInShape</key>
	<string>futureLikeMethod</string>
	<key>mediaFacadeOpacity</key>
	<string>immutableLogarithmDirection</string>
</dict>
</plist>
