<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocWithNumber</key>
	<string>symbolFunctionSaturation</string>
	<key>configurationShapeTail</key>
	<string>delegateSingletonScale</string>
	<key>intuitiveLogSkewx</key>
	<string>flexPlatformName</string>
	<key>riverpodOrActivity</key>
	<string>gramAmongVar</string>
</dict>
</plist>
