<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorBufferBorder</key>
	<string>viewBeyondValue</string>
	<key>bitrateModeDensity</key>
	<string>variantAsType</string>
	<key>diffableCapacitiesCenter</key>
	<string>greatSpineStyle</string>
	<key>displayableIntensityOpacity</key>
	<string>flexBeyondProcess</string>
	<key>gradientStageFlags</key>
	<string>statefulRepositoryDelay</string>
	<key>resolverWithProxy</key>
	<string>constraintOrParam</string>
	<key>statefulThanStrategy</key>
	<string>modelTierDepth</string>
	<key>tickerTempleCount</key>
	<string>curveModeOrientation</string>
</dict>
</plist>
