<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flexibleGetxRotation</key>
	<string>remainderSinceJob</string>
	<key>logDecoratorOrigin</key>
	<string>binaryDuringVar</string>
	<key>nextAllocatorTension</key>
	<string>memberAgainstForm</string>
	<key>painterModeAcceleration</key>
	<string>progressbarObserverVelocity</string>
	<key>progressbarViaMethod</key>
	<string>animatedGridviewBound</string>
	<key>relationalWidgetResponse</key>
	<string>streamContextKind</string>
	<key>vectorJobScale</key>
	<string>projectionViaVar</string>
</dict>
</plist>
