<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetNearInterpreter</key>
	<string>methodDuringStyle</string>
	<key>permanentGrainSpeed</key>
	<string>buttonInStyle</string>
	<key>semanticsPlatformIndex</key>
	<string>temporaryIconShade</string>
	<key>sinkAdapterRight</key>
	<string>referenceAsParameter</string>
</dict>
</plist>
