<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>graphExceptNumber</key>
	<string>precisionFacadeDuration</string>
	<key>localizationByVar</key>
	<string>builderOfMediator</string>
	<key>presenterActionSkewx</key>
	<string>riverpodAroundCycle</string>
	<key>presenterDuringPlatform</key>
	<string>statefulContainerAcceleration</string>
</dict>
</plist>
