<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentAnimationColor</key>
	<string>pinchableMonsterAlignment</string>
	<key>delicateDelegateRotation</key>
	<string>symmetricActionVisibility</string>
	<key>kernelAndNumber</key>
	<string>elasticDescriptionInterval</string>
	<key>navigatorInCycle</key>
	<string>plateParamValidation</string>
	<key>protectedArithmeticFormat</key>
	<string>singleDelegateOpacity</string>
	<key>resilientCursorOrigin</key>
	<string>borderLikeContext</string>
	<key>scrollableAppbarTail</key>
	<string>smallZoneBottom</string>
	<key>usecaseProxyFeedback</key>
	<string>numericalCapacitiesTag</string>
	<key>visibleRectAcceleration</key>
	<string>arithmeticWithoutKind</string>
</dict>
</plist>
