<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncGetxTail</key>
	<string>featurePlatformIndex</string>
	<key>bufferOutsideEnvironment</key>
	<string>sineSinceProxy</string>
	<key>expandedMethodOffset</key>
	<string>subsequentCoordinatorDuration</string>
	<key>grainCycleCount</key>
	<string>exceptionTaskDensity</string>
	<key>offsetByPhase</key>
	<string>precisionSystemPressure</string>
	<key>storyboardIncludeProxy</key>
	<string>optionAmongStructure</string>
	<key>subtleButtonBound</key>
	<string>completerMediatorBottom</string>
</dict>
</plist>
