<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoClipperOpacity</key>
	<string>textWorkFormat</string>
	<key>interactiveParticleHue</key>
	<string>cycleVarAcceleration</string>
	<key>matrixExceptStage</key>
	<string>entropyViaFramework</string>
	<key>scaffoldInInterpreter</key>
	<string>oldVariantTension</string>
	<key>scaleInterpreterHue</key>
	<string>configurationStageOffset</string>
	<key>similarResultSpacing</key>
	<string>entropyBesideEnvironment</string>
	<key>symbolBesideLayer</key>
	<string>animatedcontainerEnvironmentSaturation</string>
</dict>
</plist>
