<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertEnvironmentTail</key>
	<string>storageUntilWork</string>
	<key>allocatorForTemple</key>
	<string>spotWithoutPhase</string>
	<key>compositionalStreamSize</key>
	<string>memberAdapterDepth</string>
	<key>custompaintSinceStyle</key>
	<string>easyPositionFrequency</string>
	<key>eagerTimerFeedback</key>
	<string>multiplicationLikeWork</string>
	<key>hyperbolicGridviewDelay</key>
	<string>promiseShapeDelay</string>
	<key>menuChainFrequency</key>
	<string>semanticFragmentSize</string>
	<key>oldGraphOffset</key>
	<string>groupTempleBound</string>
	<key>sequentialAllocatorSkewx</key>
	<string>animatedUnaryFrequency</string>
	<key>symbolScopeDuration</key>
	<string>musicBeyondStyle</string>
</dict>
</plist>
