<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constDelegateVisible</key>
	<string>largePositionedScale</string>
	<key>custompaintStructureDirection</key>
	<string>metadataPlatformDuration</string>
	<key>giftWithVisitor</key>
	<string>behaviorNearBridge</string>
	<key>pageviewVarTint</key>
	<string>routerOutsideDecorator</string>
	<key>precisionVersusCommand</key>
	<string>interactorParameterContrast</string>
	<key>streamProcessShape</key>
	<string>playbackParamAcceleration</string>
</dict>
</plist>
