<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicStreamTint</key>
	<string>painterActivityIndex</string>
	<key>batchAboutJob</key>
	<string>constraintStructureFeedback</string>
	<key>coordinatorStyleStatus</key>
	<string>lastNotifierShape</string>
	<key>crucialPaddingBorder</key>
	<string>sustainableDescriptionType</string>
	<key>layerStructureOffset</key>
	<string>resizableRoleTension</string>
	<key>liteLoopTop</key>
	<string>spriteViaPlatform</string>
	<key>localizationBufferAppearance</key>
	<string>curveStrategyCoord</string>
	<key>priorityInType</key>
	<string>widgetStateBottom</string>
	<key>statelessRichtextEdge</key>
	<string>catalystShapeOrigin</string>
	<key>tickerPhaseFrequency</key>
	<string>containerExceptNumber</string>
</dict>
</plist>
