<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entropyWithoutAdapter</key>
	<string>taskInsideMethod</string>
	<key>extensionOfSystem</key>
	<string>configurationFormShape</string>
	<key>firstQueryVisibility</key>
	<string>optionFunctionBehavior</string>
	<key>gesturedetectorWithBridge</key>
	<string>tickerDuringInterpreter</string>
	<key>gridviewSingletonShape</key>
	<string>radiusAmongBuffer</string>
	<key>instructionThroughSingleton</key>
	<string>layoutTempleRate</string>
	<key>managerLevelVisibility</key>
	<string>asyncCycleDepth</string>
	<key>menuForLevel</key>
	<string>sortedCurveDelay</string>
</dict>
</plist>
