<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetStyleAlignment</key>
	<string>ignoredGridFormat</string>
	<key>bitrateVersusFunction</key>
	<string>iterativeSensorFormat</string>
	<key>commonCaptionInterval</key>
	<string>protectedTransitionAlignment</string>
	<key>cupertinoControllerRate</key>
	<string>logValueStyle</string>
	<key>cupertinoProjectionContrast</key>
	<string>alphaUntilSystem</string>
	<key>iterativeSpriteVelocity</key>
	<string>errorFlyweightLocation</string>
	<key>reusableCanvasMode</key>
	<string>finalPresenterColor</string>
	<key>screenPatternHue</key>
	<string>constContractionOpacity</string>
	<key>uniformRichtextCenter</key>
	<string>gridAwayTier</string>
</dict>
</plist>
