<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistTierVisible</key>
	<string>binaryIncludeChain</string>
	<key>directlyExponentAppearance</key>
	<string>lossFunctionInset</string>
	<key>granularNavigatorBrightness</key>
	<string>disparateLabelDistance</string>
	<key>navigatorAdapterVisible</key>
	<string>publicParticleTransparency</string>
	<key>protectedIndicatorState</key>
	<string>disparateLayoutState</string>
	<key>singleSegmentShade</key>
	<string>responseWorkDirection</string>
	<key>singletonMethodIndex</key>
	<string>commonTransformerBottom</string>
	<key>unactivatedSkinType</key>
	<string>statefulEqualizationCoord</string>
</dict>
</plist>
