<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxDuringParam</key>
	<string>contractionAboutPattern</string>
	<key>chartMementoDistance</key>
	<string>independentIntensitySpacing</string>
	<key>commandCompositeHead</key>
	<string>prismaticMarginTail</string>
	<key>factoryVariableColor</key>
	<string>appbarDuringKind</string>
	<key>groupMethodHue</key>
	<string>globalBuilderContrast</string>
	<key>heroForProxy</key>
	<string>spotStyleState</string>
	<key>screenDecoratorTension</key>
	<string>challengeSingletonDistance</string>
	<key>semanticsJobType</key>
	<string>stampFromBridge</string>
	<key>signatureAmongMediator</key>
	<string>sizeVariableFlags</string>
</dict>
</plist>
