<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyStageDirection</key>
	<string>gramContextCenter</string>
	<key>directlyClipperIndex</key>
	<string>nodeFormStyle</string>
	<key>giftDespitePhase</key>
	<string>featureFromCommand</string>
	<key>inheritedBufferOpacity</key>
	<string>sceneVersusMemento</string>
	<key>isolateFromContext</key>
	<string>mutableBoxOffset</string>
	<key>parallelCapacitiesTop</key>
	<string>batchNearVisitor</string>
	<key>reactiveTangentTail</key>
	<string>functionalCursorRight</string>
	<key>sortedVariantName</key>
	<string>consumerUntilMemento</string>
	<key>storyboardThroughLevel</key>
	<string>aspectratioContainParam</string>
</dict>
</plist>
