<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorAwayWork</key>
	<string>arithmeticNibShade</string>
	<key>buttonExceptWork</key>
	<string>binaryLikePrototype</string>
	<key>fusedSpecifierLocation</key>
	<string>nodeThroughCycle</string>
	<key>queryMethodFormat</key>
	<string>grainAndProcess</string>
	<key>smallCoordinatorTheme</key>
	<string>interfaceMethodSkewy</string>
	<key>tensorTextfieldFrequency</key>
	<string>spriteSingletonContrast</string>
</dict>
</plist>
