<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryPrototypeContrast</key>
	<string>discardedProjectHead</string>
	<key>durationParamVisible</key>
	<string>sliderOfTemple</string>
	<key>musicAwayWork</key>
	<string>coordinatorDecoratorStyle</string>
	<key>nextDependencyValidation</key>
	<string>sinkContextDensity</string>
	<key>touchActionCount</key>
	<string>threadTempleName</string>
</dict>
</plist>
