<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyViaShape</key>
	<string>associatedModulusTint</string>
	<key>disparateButtonDepth</key>
	<string>respectiveSpecifierFormat</string>
	<key>histogramExceptInterpreter</key>
	<string>localSkirtFlags</string>
	<key>metadataModeEdge</key>
	<string>enabledConvolutionOrigin</string>
	<key>methodFlyweightOrientation</key>
	<string>configurationFrameworkLeft</string>
	<key>sensorWithState</key>
	<string>criticalUtilIndex</string>
</dict>
</plist>
