<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectFlyweightFlags</key>
	<string>musicStyleForce</string>
	<key>flexBridgeForce</key>
	<string>particleAsInterpreter</string>
	<key>layerWithoutTask</key>
	<string>routerLevelState</string>
	<key>materialMementoAlignment</key>
	<string>sessionAwayMediator</string>
	<key>movementVersusMode</key>
	<string>boxAsFlyweight</string>
	<key>routeTierVisibility</key>
	<string>nextPreviewHue</string>
	<key>streamSincePlatform</key>
	<string>bufferPhaseHead</string>
	<key>topicMethodTransparency</key>
	<string>reducerBridgeResponse</string>
	<key>transformerActionTag</key>
	<string>grainNumberAlignment</string>
</dict>
</plist>
