<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisAwayObserver</key>
	<string>functionalCapsuleFlags</string>
	<key>baseMediatorDirection</key>
	<string>providerModeMargin</string>
	<key>bufferDuringVisitor</key>
	<string>numericalStreamTension</string>
	<key>cacheAroundDecorator</key>
	<string>observerPerProxy</string>
	<key>completionModeName</key>
	<string>layoutNumberStyle</string>
	<key>flexIncludeLayer</key>
	<string>crucialNormValidation</string>
	<key>listenerParameterInset</key>
	<string>providerContextMode</string>
	<key>tableOrFacade</key>
	<string>buttonFacadeRight</string>
	<key>titleInsideForm</key>
	<string>matrixTaskFeedback</string>
</dict>
</plist>
