<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureBesideFunction</key>
	<string>scrollAndParam</string>
	<key>capsuleExceptProcess</key>
	<string>diffableBufferOpacity</string>
	<key>decorationProcessScale</key>
	<string>synchronousGraphDistance</string>
	<key>greatPopupMode</key>
	<string>similarAccessoryState</string>
	<key>spotAlongChain</key>
	<string>asynchronousProgressbarBrightness</string>
	<key>touchPhaseDirection</key>
	<string>spineStructureStyle</string>
</dict>
</plist>
