<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectSinceKind</key>
	<string>unactivatedOffsetCoord</string>
	<key>inactiveGetxResponse</key>
	<string>contractionDespiteSystem</string>
	<key>resizableSpriteMomentum</key>
	<string>singleMomentumTint</string>
	<key>richtextCommandDirection</key>
	<string>gemNearScope</string>
	<key>sliderUntilBridge</key>
	<string>descriptionCompositeSize</string>
	<key>utilChainShape</key>
	<string>numericalTransitionScale</string>
</dict>
</plist>
