<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisLevelSpacing</key>
	<string>integerByVariable</string>
	<key>customRectOrientation</key>
	<string>sophisticatedFrameFlags</string>
	<key>loopWithoutVariable</key>
	<string>intensityTierSize</string>
	<key>richtextTierDistance</key>
	<string>tweenDuringPhase</string>
	<key>tangentStyleHue</key>
	<string>opaqueAlphaCount</string>
	<key>tensorFactoryOffset</key>
	<string>mutableScrollAlignment</string>
</dict>
</plist>
