<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeModelSpeed</key>
	<string>masterScopeMomentum</string>
	<key>capsuleAtWork</key>
	<string>screenByJob</string>
	<key>modelLikeFramework</key>
	<string>contractionNearStyle</string>
	<key>popupStrategySkewx</key>
	<string>interactiveBlocLeft</string>
	<key>priorVectorInset</key>
	<string>dimensionAtComposite</string>
	<key>responseAroundVar</key>
	<string>smallStepOrientation</string>
	<key>routeModeStyle</key>
	<string>flexibleHandlerColor</string>
	<key>themeStrategyVisibility</key>
	<string>popupSinceContext</string>
</dict>
</plist>
