<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartThroughLayer</key>
	<string>cardObserverForce</string>
	<key>durationPrototypeDistance</key>
	<string>gradientNumberBorder</string>
	<key>imageInsideValue</key>
	<string>permanentSubscriptionDistance</string>
	<key>inactiveEventDelay</key>
	<string>deferredNavigatorTransparency</string>
</dict>
</plist>
