<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterDuringTask</key>
	<string>displayableRemainderTag</string>
	<key>completionStylePadding</key>
	<string>commandFromAction</string>
	<key>delegateMediatorMargin</key>
	<string>usageFacadeContrast</string>
	<key>heroFlyweightDistance</key>
	<string>handlerThanNumber</string>
	<key>inkwellNumberOpacity</key>
	<string>disparateCommandBound</string>
	<key>previewStrategyAlignment</key>
	<string>smartCheckboxRight</string>
	<key>sinkDecoratorVisibility</key>
	<string>curveJobBound</string>
</dict>
</plist>
