<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionRadiusTag</key>
	<string>topicProcessRotation</string>
	<key>dependencyOperationSpacing</key>
	<string>visibleMethodVisible</string>
	<key>directlyDimensionDensity</key>
	<string>cycleProxyFrequency</string>
	<key>gateProcessTop</key>
	<string>pointAtComposite</string>
	<key>heapFunctionMode</key>
	<string>oldProtocolHead</string>
	<key>heroCommandShape</key>
	<string>vectorActivityName</string>
	<key>mediocreUtilDirection</key>
	<string>menuValueVisibility</string>
	<key>positionFlyweightHue</key>
	<string>textfieldWithoutComposite</string>
</dict>
</plist>
