<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklistByFlyweight</key>
	<string>immediateTaskIndex</string>
	<key>concreteModulusFlags</key>
	<string>cubitFlyweightPadding</string>
	<key>difficultStreamKind</key>
	<string>statelessPrototypeCenter</string>
	<key>disparateThreadHead</key>
	<string>checklistInterpreterSpeed</string>
	<key>materialRouterEdge</key>
	<string>handlerAndBuffer</string>
	<key>observerActivityShade</key>
	<string>iterativePositionedRotation</string>
	<key>queueUntilProxy</key>
	<string>diffableGraphicState</string>
</dict>
</plist>
