<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelTempleTop</key>
	<string>requestFrameworkBound</string>
	<key>checklistUntilSingleton</key>
	<string>navigationIncludeTemple</string>
	<key>navigatorTempleValidation</key>
	<string>getxCycleInset</string>
	<key>resizableDropdownbuttonPadding</key>
	<string>displayableMissionDensity</string>
	<key>titleDuringKind</key>
	<string>builderShapeTag</string>
</dict>
</plist>
