<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedCupertinoDelay</key>
	<string>largeChannelsTint</string>
	<key>bulletDuringPlatform</key>
	<string>numericalNormMode</string>
	<key>descriptionUntilFlyweight</key>
	<string>materialReductionTop</string>
	<key>equalizationBesideBuffer</key>
	<string>draggableProtocolBorder</string>
	<key>keyBlocLocation</key>
	<string>factoryVersusVar</string>
</dict>
</plist>
