<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousTextShade</key>
	<string>easyFutureTheme</string>
	<key>curveThroughTier</key>
	<string>priorityLayerTag</string>
	<key>decorationAtMethod</key>
	<string>containerAtBridge</string>
	<key>fixedBoxshadowOpacity</key>
	<string>reusableTransitionShape</string>
	<key>parallelSwitchTop</key>
	<string>channelFunctionAlignment</string>
	<key>queueVisitorRate</key>
	<string>roleProxyState</string>
</dict>
</plist>
