<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardReductionBorder</key>
	<string>subtleStoryboardKind</string>
	<key>bufferTypeKind</key>
	<string>webSizeTag</string>
	<key>effectFrameworkBottom</key>
	<string>gridviewAroundStructure</string>
	<key>gridviewOrVisitor</key>
	<string>sineBeyondKind</string>
	<key>listenerVersusVar</key>
	<string>hierarchicalSinkPadding</string>
	<key>modulusPlatformFeedback</key>
	<string>navigationMementoEdge</string>
	<key>smallCubitLocation</key>
	<string>textWithFacade</string>
	<key>swiftWithOperation</key>
	<string>musicAtMemento</string>
</dict>
</plist>
