<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateInterpreterInterval</key>
	<string>lossValueCenter</string>
	<key>controllerShapeFlags</key>
	<string>slashStructureDuration</string>
	<key>eagerPresenterFormat</key>
	<string>interactiveGateShade</string>
	<key>listenerKindFrequency</key>
	<string>chapterFlyweightTint</string>
	<key>navigatorValueOrigin</key>
	<string>asyncMobileKind</string>
	<key>optionSystemVisible</key>
	<string>mediocreServiceSize</string>
	<key>originalDocumentCenter</key>
	<string>appbarThanObserver</string>
	<key>sensorAroundBridge</key>
	<string>viewOrAction</string>
</dict>
</plist>
