<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationPhaseContrast</key>
	<string>sceneAndScope</string>
	<key>cosineChainFlags</key>
	<string>switchAtActivity</string>
	<key>customVectorSpacing</key>
	<string>responseDuringStructure</string>
	<key>eventCommandSize</key>
	<string>beginnerDrawerMomentum</string>
	<key>repositoryOutsideParam</key>
	<string>rectByParam</string>
	<key>resolverOutsideJob</key>
	<string>tabviewTempleInteraction</string>
	<key>scenePlatformVisible</key>
	<string>transitionCycleCoord</string>
	<key>segmentForStrategy</key>
	<string>criticalLoopBehavior</string>
	<key>temporaryOptionState</key>
	<string>marginForTemple</string>
</dict>
</plist>
