<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionExceptStrategy</key>
	<string>finalBlocPosition</string>
	<key>axisMethodCoord</key>
	<string>menuPatternAcceleration</string>
	<key>chapterVarTop</key>
	<string>granularCoordinatorIndex</string>
	<key>deferredCompositionValidation</key>
	<string>anchorFromBuffer</string>
	<key>equalizationProxyFeedback</key>
	<string>lossSystemResponse</string>
	<key>gridviewAmongPhase</key>
	<string>radiusProcessStyle</string>
	<key>labelKindFlags</key>
	<string>coordinatorActivityDuration</string>
	<key>presenterTaskVisibility</key>
	<string>builderMediatorShade</string>
</dict>
</plist>
