<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushTypeFlags</key>
	<string>cupertinoLayerContrast</string>
	<key>callbackSinceLevel</key>
	<string>animatedcontainerWithoutActivity</string>
	<key>dedicatedThreadContrast</key>
	<string>coordinatorAsFramework</string>
	<key>delegateBeyondShape</key>
	<string>positionOrType</string>
	<key>displayableRiverpodVisibility</key>
	<string>sliderLikeDecorator</string>
	<key>specifierChainPadding</key>
	<string>spriteByFlyweight</string>
</dict>
</plist>
