<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAsNumber</key>
	<string>gesturePerStage</string>
	<key>checkboxAlongSingleton</key>
	<string>widgetVarTransparency</string>
	<key>descriptorScopeType</key>
	<string>fixedSinkFlags</string>
	<key>modulusActivityFrequency</key>
	<string>drawerStageColor</string>
	<key>pinchableAlertMargin</key>
	<string>swiftModeTop</string>
	<key>sinkLayerScale</key>
	<string>descriptorEnvironmentInterval</string>
</dict>
</plist>
