<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentTransitionVisibility</key>
	<string>optionThroughContext</string>
	<key>deferredResultShade</key>
	<string>custompaintDuringParameter</string>
	<key>granularChapterLocation</key>
	<string>mediumToolMode</string>
	<key>nextEffectCenter</key>
	<string>singleCurvePadding</string>
	<key>symmetricSliderIndex</key>
	<string>resultWithFramework</string>
</dict>
</plist>
