<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorStageState</key>
	<string>newestStreamKind</string>
	<key>handlerCompositeState</key>
	<string>rowMediatorSpacing</string>
	<key>mainSensorTail</key>
	<string>gridNumberAlignment</string>
	<key>nodeForTask</key>
	<string>singletonAtSingleton</string>
	<key>pageviewFunctionDistance</key>
	<string>equipmentLikeInterpreter</string>
	<key>pageviewLikeContext</key>
	<string>anchorNearFunction</string>
	<key>queuePerType</key>
	<string>clipperActivityAcceleration</string>
	<key>sharedScrollSkewy</key>
	<string>canvasBesideMethod</string>
	<key>sinkCompositeFeedback</key>
	<string>inheritedConvolutionCenter</string>
</dict>
</plist>
