<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAdapterFormat</key>
	<string>commandAwayType</string>
	<key>basicButtonHead</key>
	<string>logSinceProcess</string>
	<key>finalProtocolState</key>
	<string>crucialGemBottom</string>
	<key>groupNearComposite</key>
	<string>riverpodParamVelocity</string>
	<key>hyperbolicRepositoryInset</key>
	<string>coordinatorOfMode</string>
	<key>subpixelByWork</key>
	<string>transitionActivityIndex</string>
</dict>
</plist>
