<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletDuringPrototype</key>
	<string>anchorDecoratorState</string>
	<key>commandBridgeShape</key>
	<string>navigatorCommandMargin</string>
	<key>memberFacadeMode</key>
	<string>graphKindVisibility</string>
	<key>permanentGraphDensity</key>
	<string>tweenModeAlignment</string>
	<key>reductionOrValue</key>
	<string>mobxSinceFlyweight</string>
	<key>transitionWithTier</key>
	<string>numericalAlignmentTail</string>
</dict>
</plist>
