<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisExceptForm</key>
	<string>priorConvolutionFlags</string>
	<key>comprehensivePresenterMargin</key>
	<string>dedicatedScaffoldAcceleration</string>
	<key>handlerInCommand</key>
	<string>routeProcessRate</string>
	<key>heroFrameworkAppearance</key>
	<string>respectiveZoneIndex</string>
	<key>iconVersusWork</key>
	<string>coordinatorSingletonOpacity</string>
	<key>nibContainCommand</key>
	<string>spritePatternHue</string>
	<key>permanentSingletonPressure</key>
	<string>symbolThroughAction</string>
	<key>sliderDespiteStructure</key>
	<string>stateFromLayer</string>
</dict>
</plist>
