<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarProxyHue</key>
	<string>sizedboxPlatformTransparency</string>
	<key>bulletVisitorTint</key>
	<string>greatDecorationFormat</string>
	<key>coordinatorExceptVar</key>
	<string>bitrateBesideProxy</string>
	<key>grainNearWork</key>
	<string>repositoryDespiteAction</string>
	<key>invisibleGrainDistance</key>
	<string>signTaskVelocity</string>
	<key>layoutTaskFlags</key>
	<string>secondAspectPadding</string>
	<key>loopOutsideActivity</key>
	<string>handlerLikeStyle</string>
	<key>primaryRadiusHead</key>
	<string>desktopDocumentShape</string>
	<key>semanticsAwayProcess</key>
	<string>unaryFunctionIndex</string>
</dict>
</plist>
