<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisVersusTemple</key>
	<string>loopIncludePrototype</string>
	<key>boxVarVelocity</key>
	<string>menuFormPadding</string>
	<key>coordinatorBridgeRight</key>
	<string>prevRectAcceleration</string>
	<key>crucialDropdownbuttonScale</key>
	<string>allocatorVersusMediator</string>
	<key>layoutWorkTint</key>
	<string>resourceAlongContext</string>
	<key>mobileBulletTag</key>
	<string>liteDelegateAlignment</string>
	<key>notifierVisitorContrast</key>
	<string>actionByLevel</string>
	<key>rectAgainstFacade</key>
	<string>mobileSliderVelocity</string>
	<key>sortedChartTransparency</key>
	<string>optionWithSingleton</string>
</dict>
</plist>
