<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoManagerHue</key>
	<string>transitionBufferSize</string>
	<key>canvasInFramework</key>
	<string>marginLayerCoord</string>
	<key>hierarchicalGrainTop</key>
	<string>rapidNormVisible</string>
	<key>mainDurationKind</key>
	<string>custompaintValueValidation</string>
	<key>resolverWithoutSystem</key>
	<string>widgetShapeCenter</string>
	<key>standaloneAllocatorColor</key>
	<string>reactiveStorageSaturation</string>
</dict>
</plist>
