<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorVariableCount</key>
	<string>resourceNumberColor</string>
	<key>frameFunctionValidation</key>
	<string>heroStateOpacity</string>
	<key>giftVersusStructure</key>
	<string>completerJobCenter</string>
	<key>labelStructureTint</key>
	<string>cellModeBrightness</string>
	<key>navigatorInsidePhase</key>
	<string>taskLevelMode</string>
	<key>robustHistogramHead</key>
	<string>smallGemPosition</string>
</dict>
</plist>
