<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasContextInset</key>
	<string>observerFrameworkKind</string>
	<key>customizedGetxPadding</key>
	<string>vectorBeyondStyle</string>
	<key>futureForParam</key>
	<string>equalizationSystemDistance</string>
	<key>providerLevelDuration</key>
	<string>priorSegueKind</string>
	<key>semanticInterfaceTransparency</key>
	<string>resilientBinaryInterval</string>
	<key>semanticsLikeChain</key>
	<string>giftThanStage</string>
	<key>stateOrVar</key>
	<string>themeIncludeProxy</string>
	<key>techniqueModeSize</key>
	<string>unaryUntilMediator</string>
</dict>
</plist>
