<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxDuringShape</key>
	<string>themeAwayFacade</string>
	<key>gestureMediatorValidation</key>
	<string>bufferStateType</string>
	<key>hierarchicalToolForce</key>
	<string>prevAnimationVisibility</string>
	<key>lastResourceAlignment</key>
	<string>primaryInteractorOrientation</string>
	<key>profileBeyondMethod</key>
	<string>plateFromParameter</string>
	<key>providerAsAction</key>
	<string>uniqueProfileRight</string>
	<key>sessionViaStructure</key>
	<string>localTweenTension</string>
	<key>similarGroupColor</key>
	<string>permanentResourceAlignment</string>
	<key>viewCommandFlags</key>
	<string>hardReducerRate</string>
</dict>
</plist>
