<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitAgainstShape</key>
	<string>basicDescriptionKind</string>
	<key>eagerCosineSkewx</key>
	<string>localChartScale</string>
	<key>eventByValue</key>
	<string>segmentOutsideOperation</string>
	<key>frameStructureBrightness</key>
	<string>alignmentVarVelocity</string>
	<key>menuAsShape</key>
	<string>swiftAgainstProcess</string>
	<key>streamAboutAdapter</key>
	<string>transformerPrototypeScale</string>
	<key>textureTaskBrightness</key>
	<string>subscriptionAndFunction</string>
	<key>unactivatedGramFeedback</key>
	<string>completerInsideMethod</string>
</dict>
</plist>
