<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonArithmeticName</key>
	<string>significantAspectratioCoord</string>
	<key>completerFrameworkHue</key>
	<string>fixedInterfaceInset</string>
	<key>dialogsPatternOrigin</key>
	<string>stampShapeRate</string>
	<key>featureAgainstCycle</key>
	<string>streamLevelMode</string>
	<key>notificationStyleFormat</key>
	<string>notifierKindMargin</string>
	<key>projectionForLayer</key>
	<string>channelCompositeMode</string>
	<key>robustVectorVelocity</key>
	<string>resultScopeShape</string>
	<key>semanticPositionCount</key>
	<string>commonListviewBrightness</string>
	<key>tickerUntilMethod</key>
	<string>commonMenuOffset</string>
	<key>unsortedStoreScale</key>
	<string>queueScopeStatus</string>
</dict>
</plist>
