<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convolutionParameterValidation</key>
	<string>groupParameterSpeed</string>
	<key>featureWithoutPlatform</key>
	<string>frameBeyondChain</string>
	<key>interactorFromParameter</key>
	<string>substantialAllocatorType</string>
	<key>scaffoldFromStage</key>
	<string>reusableButtonRate</string>
	<key>secondViewForce</key>
	<string>animationPerVisitor</string>
	<key>staticLabelTransparency</key>
	<string>rowNearPattern</string>
	<key>stepSystemRate</key>
	<string>widgetNearForm</string>
	<key>transitionOrProxy</key>
	<string>radiusSingletonType</string>
	<key>vectorCommandLeft</key>
	<string>resultMediatorAlignment</string>
</dict>
</plist>
