<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardGridSkewy</key>
	<string>nodeLevelIndex</string>
	<key>buttonAboutTier</key>
	<string>notifierPhaseName</string>
	<key>navigationPerLevel</key>
	<string>deferredCompositionValidation</string>
	<key>newestResolverDirection</key>
	<string>concreteClipperLeft</string>
	<key>richtextLevelTransparency</key>
	<string>sizeInterpreterFormat</string>
	<key>subtleDescriptorBottom</key>
	<string>tabviewObserverKind</string>
	<key>sustainableAlignmentKind</key>
	<string>nativeListenerHue</string>
	<key>textfieldContextSpacing</key>
	<string>brushKindDirection</string>
	<key>touchLikePlatform</key>
	<string>crucialBlocDuration</string>
</dict>
</plist>
