<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationCompositeTag</key>
	<string>utilInVar</string>
	<key>animationForCycle</key>
	<string>servicePrototypeResponse</string>
	<key>appbarCompositeValidation</key>
	<string>sophisticatedDecorationOrientation</string>
	<key>explicitAsyncBorder</key>
	<string>notificationViaMode</string>
	<key>materialTabbarTop</key>
	<string>constraintProcessStyle</string>
	<key>persistentControllerType</key>
	<string>greatApertureForce</string>
	<key>priorSinkSpeed</key>
	<string>providerOfStyle</string>
	<key>secondInterfaceFormat</key>
	<string>groupJobBrightness</string>
</dict>
</plist>
