<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicDrawerInterval</key>
	<string>cellOrMemento</string>
	<key>disabledResolverFeedback</key>
	<string>constraintExceptPrototype</string>
	<key>grayscaleWithScope</key>
	<string>accordionFactoryFeedback</string>
	<key>interfaceFlyweightEdge</key>
	<string>loopAmongChain</string>
	<key>offsetDuringTemple</key>
	<string>explicitHeroTop</string>
	<key>profileAndMemento</key>
	<string>materialListviewVisibility</string>
	<key>routeProxyDensity</key>
	<string>masterPhaseColor</string>
	<key>singletonViaProcess</key>
	<string>optionBufferBorder</string>
	<key>sizeBesideMediator</key>
	<string>tangentInsideCycle</string>
	<key>swiftNumberEdge</key>
	<string>storeSinceBuffer</string>
</dict>
</plist>
