<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorDuringLayer</key>
	<string>effectLevelTheme</string>
	<key>customCollectionTheme</key>
	<string>declarativeTweenValidation</string>
	<key>gramContainStage</key>
	<string>serviceChainTint</string>
	<key>materialWithoutPhase</key>
	<string>monsterEnvironmentType</string>
</dict>
</plist>
