<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableAspectFrequency</key>
	<string>asynchronousWidgetAcceleration</string>
	<key>cupertinoAwayJob</key>
	<string>futureMementoVelocity</string>
	<key>prevModelCenter</key>
	<string>independentFeatureVisibility</string>
	<key>routeProcessForce</key>
	<string>basicSegmentVelocity</string>
	<key>specifierUntilOperation</key>
	<string>statelessValueLocation</string>
	<key>spritePerWork</key>
	<string>blocTypeSkewx</string>
</dict>
</plist>
