<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dimensionByFunction</key>
	<string>managerBufferStatus</string>
	<key>extensionVersusContext</key>
	<string>elasticMemberVelocity</string>
	<key>sophisticatedHandlerLocation</key>
	<string>requestAsFacade</string>
	<key>usedEffectOffset</key>
	<string>immutableStoreFlags</string>
	<key>variantStrategyMode</key>
	<string>reusableClipperIndex</string>
</dict>
</plist>
