<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleSliderShade</key>
	<string>materialPriorityStatus</string>
	<key>catalystObserverRotation</key>
	<string>allocatorCyclePressure</string>
	<key>declarativeStateContrast</key>
	<string>providerInterpreterIndex</string>
	<key>hyperbolicAsyncName</key>
	<string>grayscaleBufferMode</string>
	<key>promiseVersusFunction</key>
	<string>effectStageTag</string>
	<key>smallMenuFlags</key>
	<string>resolverThanVariable</string>
	<key>threadContainChain</key>
	<string>captionSinceStyle</string>
	<key>uniformTextForce</key>
	<string>ephemeralSubscriptionTheme</string>
</dict>
</plist>
