<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discardedContainerDuration</key>
	<string>consultativeGraphShade</string>
	<key>futureAndFlyweight</key>
	<string>currentAnchorState</string>
	<key>kernelThroughScope</key>
	<string>dropdownbuttonContextShade</string>
	<key>musicAmongVisitor</key>
	<string>queryAdapterForce</string>
	<key>nibVisitorHead</key>
	<string>timerWithValue</string>
	<key>routerWithoutMode</key>
	<string>equalizationPlatformVisibility</string>
	<key>sortedQueueDistance</key>
	<string>symmetricCustompaintSpacing</string>
	<key>stampAroundTask</key>
	<string>spriteVersusKind</string>
	<key>transformerOutsideStructure</key>
	<string>geometricTickerInteraction</string>
</dict>
</plist>
