<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisAndProcess</key>
	<string>curveOutsideMediator</string>
	<key>finalSpriteSpacing</key>
	<string>mobxInTier</string>
	<key>gridMediatorMomentum</key>
	<string>menuProxyHead</string>
	<key>interactorStateDepth</key>
	<string>euclideanChartTransparency</string>
	<key>optionInsideStage</key>
	<string>localizationThanVariable</string>
	<key>segueSinceStrategy</key>
	<string>tabbarDuringEnvironment</string>
	<key>utilInterpreterOrigin</key>
	<string>criticalContractionDepth</string>
</dict>
</plist>
