<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionParamBrightness</key>
	<string>similarChannelCoord</string>
	<key>multiplicationActivityCenter</key>
	<string>staticTouchColor</string>
	<key>mutableSpriteKind</key>
	<string>animatedcontainerAlongLayer</string>
	<key>reductionAgainstPhase</key>
	<string>checkboxSinceEnvironment</string>
	<key>robustTransformerDensity</key>
	<string>buttonInsideValue</string>
	<key>sensorFlyweightVelocity</key>
	<string>fusedRadioInterval</string>
</dict>
</plist>
