<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoButtonPressure</key>
	<string>reducerDespiteProxy</string>
	<key>directlySessionOrientation</key>
	<string>roleWithoutScope</string>
	<key>mediocreSwiftInteraction</key>
	<string>radiusByMode</string>
	<key>providerWithPrototype</key>
	<string>retainedScreenValidation</string>
</dict>
</plist>
