<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerIncludeState</key>
	<string>boxshadowChainHue</string>
	<key>draggableOverlayStatus</key>
	<string>substantialNotificationMode</string>
	<key>euclideanLayoutStyle</key>
	<string>dialogsNumberColor</string>
	<key>giftBufferOrigin</key>
	<string>responsiveDrawerAlignment</string>
	<key>integerAtFunction</key>
	<string>pivotalProjectionDistance</string>
	<key>mediumHandlerColor</key>
	<string>invisibleRouteFrequency</string>
	<key>precisionParamHue</key>
	<string>disparateClipperShape</string>
	<key>routeDecoratorStyle</key>
	<string>logVersusTier</string>
	<key>scaleSingletonKind</key>
	<string>musicOfTask</string>
	<key>topicVarFrequency</key>
	<string>mobxAmongVariable</string>
</dict>
</plist>
