<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalErrorTheme</key>
	<string>lossProxyColor</string>
	<key>dynamicScreenTension</key>
	<string>arithmeticTierVisible</string>
	<key>hashVarFeedback</key>
	<string>mobileCoordinatorAcceleration</string>
	<key>injectionInCommand</key>
	<string>hierarchicalRemainderStyle</string>
	<key>integerThroughActivity</key>
	<string>requestParameterTension</string>
	<key>memberOrPlatform</key>
	<string>respectiveObserverType</string>
	<key>textureForShape</key>
	<string>semanticMaterialColor</string>
	<key>tweenThanStructure</key>
	<string>staticModulusLeft</string>
</dict>
</plist>
