<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredTweenPressure</key>
	<string>directlyReducerCenter</string>
	<key>difficultDescriptionBound</key>
	<string>graphLikeAction</string>
	<key>disabledObserverStyle</key>
	<string>mediaqueryAsMediator</string>
	<key>draggableAwaitFormat</key>
	<string>secondSingletonOrigin</string>
	<key>futureAtAction</key>
	<string>interfaceAboutWork</string>
	<key>mobileMediaOrigin</key>
	<string>textfieldNearType</string>
	<key>newestAlignmentAlignment</key>
	<string>smallModelBorder</string>
	<key>tickerTypeRate</key>
	<string>operationInComposite</string>
	<key>webDelegateType</key>
	<string>injectionOperationMomentum</string>
</dict>
</plist>
