<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeUsecaseEdge</key>
	<string>subsequentServicePosition</string>
	<key>asyncStoryboardDensity</key>
	<string>immediateObserverValidation</string>
	<key>hardViewTransparency</key>
	<string>ignoredBlocMode</string>
	<key>similarCursorFrequency</key>
	<string>compositionalQueueLeft</string>
</dict>
</plist>
