<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderStrategyTop</key>
	<string>materialEventBorder</string>
	<key>constraintWithoutShape</key>
	<string>euclideanTransitionInteraction</string>
	<key>eventUntilStyle</key>
	<string>reactiveSampleInterval</string>
	<key>eventVisitorTint</key>
	<string>menuUntilEnvironment</string>
	<key>interfaceAmongVar</key>
	<string>grayscaleAtParameter</string>
	<key>listenerInterpreterInset</key>
	<string>equalizationTypeLeft</string>
	<key>managerChainVelocity</key>
	<string>priorDurationValidation</string>
	<key>nibVariableValidation</key>
	<string>grainAboutMethod</string>
	<key>sampleContainInterpreter</key>
	<string>gramCompositeAppearance</string>
	<key>tabbarTypeScale</key>
	<string>futureTypePosition</string>
</dict>
</plist>
