<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorIncludeInterpreter</key>
	<string>transformerKindSaturation</string>
	<key>alphaAmongKind</key>
	<string>lostResourceColor</string>
	<key>appbarDespiteVisitor</key>
	<string>nativeExpandedVelocity</string>
	<key>associatedRowHue</key>
	<string>checkboxAroundDecorator</string>
	<key>denseActionSkewx</key>
	<string>cartesianPositionType</string>
	<key>eventSinceType</key>
	<string>nibSingletonTag</string>
	<key>menuAlongPrototype</key>
	<string>futureDuringScope</string>
	<key>nodePrototypeState</key>
	<string>routeOutsideChain</string>
	<key>visibleExponentScale</key>
	<string>lossAsMethod</string>
</dict>
</plist>
