<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackByMemento</key>
	<string>rowExceptVisitor</string>
	<key>inactiveStateInteraction</key>
	<string>repositoryUntilCycle</string>
	<key>isolateStructureFlags</key>
	<string>checklistAboutOperation</string>
	<key>iterativeNodeContrast</key>
	<string>giftLayerTheme</string>
	<key>responseBesideVariable</key>
	<string>protectedTaskPosition</string>
	<key>sensorAroundForm</key>
	<string>queryAndSystem</string>
	<key>spinePerStrategy</key>
	<string>curveNumberTag</string>
	<key>staticChannelBottom</key>
	<string>listenerAgainstForm</string>
</dict>
</plist>
