<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionParameterTail</key>
	<string>storageLevelMomentum</string>
	<key>curveShapeLeft</key>
	<string>heapDuringStrategy</string>
	<key>functionalFeatureBottom</key>
	<string>gemContainProxy</string>
	<key>intensityTypeCount</key>
	<string>segmentSingletonPressure</string>
	<key>modelCycleAlignment</key>
	<string>widgetTempleSpacing</string>
	<key>promiseInStructure</key>
	<string>allocatorInsideFacade</string>
</dict>
</plist>
