<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterEnvironmentMode</key>
	<string>gateNumberTransparency</string>
	<key>completerWithStyle</key>
	<string>modelVersusParameter</string>
	<key>composableTickerSize</key>
	<string>repositoryAwayPrototype</string>
	<key>fusedIsolateShape</key>
	<string>animatedLogarithmInset</string>
	<key>previewAroundPlatform</key>
	<string>positionDuringDecorator</string>
	<key>projectOrContext</key>
	<string>ephemeralWidgetCount</string>
	<key>stackCyclePosition</key>
	<string>borderAmongStage</string>
	<key>usedAlphaCenter</key>
	<string>gridviewActionRotation</string>
</dict>
</plist>
