<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateCompositionPadding</key>
	<string>instructionAlongWork</string>
	<key>pivotalCellDepth</key>
	<string>decorationBridgeStyle</string>
	<key>popupInParameter</key>
	<string>sustainableFragmentTail</string>
	<key>textShapeAppearance</key>
	<string>assetVersusTemple</string>
</dict>
</plist>
