<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentForNumber</key>
	<string>hashMediatorHead</string>
	<key>cosineAndShape</key>
	<string>checklistVersusDecorator</string>
	<key>liteMusicOrientation</key>
	<string>requiredCubitTint</string>
	<key>newestEventFormat</key>
	<string>managerStateHead</string>
	<key>standaloneProtocolStyle</key>
	<string>activatedAnimationCount</string>
	<key>textureOutsideStyle</key>
	<string>mobileTopicCoord</string>
	<key>webProfileForce</key>
	<string>otherTweenState</string>
</dict>
</plist>
