<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredLayerAcceleration</key>
	<string>criticalCompletionSize</string>
	<key>intuitiveMediaqueryStyle</key>
	<string>techniqueBesideCommand</string>
	<key>layoutCompositeInteraction</key>
	<string>resilientMethodTop</string>
	<key>lazyPlateSaturation</key>
	<string>queryJobVisibility</string>
	<key>observerNumberOpacity</key>
	<string>concurrentPositionValidation</string>
</dict>
</plist>
