<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentContextSaturation</key>
	<string>flexibleAllocatorInteraction</string>
	<key>cursorSinceBridge</key>
	<string>queryAtNumber</string>
	<key>expandedBridgeSaturation</key>
	<string>tickerLikeAction</string>
	<key>menuAgainstForm</key>
	<string>cardFromFramework</string>
	<key>profileDuringFramework</key>
	<string>reactiveCaptionLeft</string>
	<key>seamlessGrayscaleType</key>
	<string>sortedInterfaceCoord</string>
	<key>spineParamOrigin</key>
	<string>localErrorPadding</string>
</dict>
</plist>
