<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionThanBuffer</key>
	<string>missionMethodTransparency</string>
	<key>logModeMomentum</key>
	<string>dedicatedLoopDensity</string>
	<key>nativeTextfieldFlags</key>
	<string>sampleDuringFramework</string>
	<key>transitionFunctionTag</key>
	<string>assetFunctionVelocity</string>
</dict>
</plist>
