<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferChainInset</key>
	<string>dependencySystemDuration</string>
	<key>compositionalCaptionType</key>
	<string>currentSceneForce</string>
	<key>concreteUsecaseSpacing</key>
	<string>liteStorePressure</string>
	<key>graphicAmongState</key>
	<string>custompaintAtMemento</string>
	<key>isolateStrategyKind</key>
	<string>bufferTempleBrightness</string>
	<key>offsetPatternOrientation</key>
	<string>variantAlongTier</string>
	<key>reactiveBlocHead</key>
	<string>intuitiveInstructionDuration</string>
	<key>storageLevelVisibility</key>
	<string>interpolationAsNumber</string>
</dict>
</plist>
