<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveDocumentMode</key>
	<string>managerCycleContrast</string>
	<key>asynchronousCurveInteraction</key>
	<string>hashStageLocation</string>
	<key>coordinatorMementoTransparency</key>
	<string>backwardOffsetBrightness</string>
	<key>directBuilderEdge</key>
	<string>matrixContainMethod</string>
	<key>navigationTypeMargin</key>
	<string>multiRequestBound</string>
	<key>richtextVarTail</key>
	<string>liteCaptionBrightness</string>
</dict>
</plist>
