<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveMenuCount</key>
	<string>staticAxisSaturation</string>
	<key>constDialogsPosition</key>
	<string>frameAmongFacade</string>
	<key>easyCursorSpacing</key>
	<string>appbarLevelSkewx</string>
	<key>viewScopeValidation</key>
	<string>sliderIncludeTemple</string>
</dict>
</plist>
