<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushWithoutPlatform</key>
	<string>topicStageBottom</string>
	<key>controllerFromSystem</key>
	<string>finalSpecifierKind</string>
	<key>permissiveTopicShade</key>
	<string>comprehensiveObserverContrast</string>
	<key>popupInsidePhase</key>
	<string>queueActionFrequency</string>
	<key>presenterAndSingleton</key>
	<string>featureModeFlags</string>
</dict>
</plist>
