<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentLevelBorder</key>
	<string>ignoredCommandDirection</string>
	<key>captionTypeBound</key>
	<string>rowStateOffset</string>
	<key>decorationActivitySkewy</key>
	<string>capacitiesAlongTier</string>
	<key>fusedMetadataOrientation</key>
	<string>presenterAlongLayer</string>
	<key>isolateAtOperation</key>
	<string>usageLayerMargin</string>
	<key>isolateUntilJob</key>
	<string>popupViaFacade</string>
	<key>missionStyleLeft</key>
	<string>responseFunctionFormat</string>
	<key>routeOperationSkewx</key>
	<string>finalCollectionEdge</string>
	<key>singletonMediatorName</key>
	<string>uniformChallengeStyle</string>
</dict>
</plist>
