<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentChartDistance</key>
	<string>allocatorLevelHue</string>
	<key>plateAdapterLocation</key>
	<string>sceneVersusCycle</string>
	<key>streamCommandScale</key>
	<string>activityAwayEnvironment</string>
</dict>
</plist>
